TWOOOOOO LEVELllll
<div [formGroup]="parentForm" class="shadow-sm rounded bg-white p-4 mb-4">
    <div *ngFor="let question of questionList | paginate: config">
        <ng-contaner [ngSwitch]="question.queType">
            <div *ngSwitchCase="'YES-NO'">
                <app-yesNo [parentForm]="parentForm" (changeEvent1)="changeEvent($event)" [question]="question">
                </app-yesNo>
            </div>
            <div *ngSwitchCase="'RB'">
                <ng-container *ngIf="houseHold else nonHouseHold">
                    <app-matrix-two-level [parentForm]="parentForm" (changeEvent1)="changeEvent($event)" [question]="question">
                    </app-matrix-two-level>
                </ng-container>
                <ng-template #nonHouseHold>
                    <ng-container *ngIf="question?.column && question?.column?.length > 0 else radio">
                        <app-matrix [parentForm]="parentForm" (changeEvent1)="changeEvent($event)" [question]="question">
                        </app-matrix>
                    </ng-container>
    
                    <ng-template #radio>
                        <app-radiogroup [parentForm]="parentForm" (changeEvent1)="changeEvent($event)"
                            [question]="question"></app-radiogroup>
                    </ng-template>
                </ng-template>
            </div>
            <div *ngSwitchCase="'CB'">
                <app-checkbox [parentForm]="parentForm" (changeEvent1)="changeEvent($event)" [question]="question">
                </app-checkbox>
            </div>
            <div *ngSwitchDefault>
                Default type
            </div>
        </ng-contaner>
    </div>
    <!-- Action buttons -->
    <!-- <div class="col-xs- d-grid gap-2 d-md-block"> -->

    <!-- <button [routerLink]="['/demographics/demographics-individual-members-page1']" type="submit"
       class="btn btn-primary ms-md-3">Continue</button> -->
    <!-- <pagination-controls (pageChange)="pageChange($event)" class="my-pagination hide-page-numbers"
            previousLabel="Back" nextLabel="Continue" >
        </pagination-controls>
    </div> -->

    <!-- app.component.html -->
    <div style="text-align:center">

        <pagination-template #p="paginationApi" [id]="config.id" (pageChange)="pageChange($event)">


            <div class="custom-pagination">
                <div class="pagination-previous" [class.disabled]="p.isFirstPage()">
                    <span *ngIf="p.isFirstPage()">
                        <button type="button" class="btn btn-dark"
                            [routerLink]="['/demographics/demographics-individual-members']">Back</button>
                    </span>

                    <span *ngIf="!p.isFirstPage()" (click)="p.previous()">
                        <button type="button" class="btn btn-dark">Back</button>
                    </span>
                </div>
                <!--*ngIf="p.isLastPage()"-->
                <button  type="submit" (click)="openModal()"
                    class="btn btn-secondary ms-md-3">Save & Exit</button>
                <div class="pagination-next" [class.disabled]="p.isLastPage()">
                    <span *ngIf="!p.isLastPage()" (click)="p.next()">
                        <button type="button" class="btn btn-primary ms-md-3">Continue</button>
                    </span>

                </div>
            </div>
        </pagination-template>

    </div>
</div>
<modal #modal [modalConfig]="modalConfig" (cancelEvent)="cancelEvent($event)" (exitEvent)="exitEvent($event)">
    <!--  body of the modal  -->
</modal>