<div [formGroup]="parentForm" class="shadow-sm rounded bg-white p-4 mb-4">
    <ng-container *ngIf="!isReview">
        <div *ngFor="let question of questionList | paginate: config">
            <ng-container [ngSwitch]="question.queType">
                <div *ngSwitchCase="'RB'">
                    <app-radiogroup *ngIf="question.maxLevel==1" [houseHold]="houseHold" [parentForm]="parentForm"
                        (changeEvent1)="changeEvent($event)" [question]="question"></app-radiogroup>

                    <app-matrix-rb *ngIf="question.maxLevel==2" [houseHold]="houseHold" [parentForm]="parentForm"
                        (changeEvent1)="changeEvent($event)" [question]="question"></app-matrix-rb>
                </div>
                <div *ngSwitchCase="'YES-NO'">
                    <ng-container [ngSwitch]="question.maxLevel">
                        <ng-container *ngSwitchCase="0">
                            <app-yesNo [houseHold]="houseHold" [parentForm]="parentForm"
                                (changeEvent1)="changeEvent($event)" [question]="question">
                            </app-yesNo>
                        </ng-container>

                        <ng-container *ngSwitchCase="1">
                            <app-matrix [houseHold]="houseHold" [parentForm]="parentForm"
                                (changeEvent1)="changeEvent($event)" [question]="question">
                            </app-matrix>
                        </ng-container>

                        <ng-container *ngSwitchCase="2">
                            <app-matrix-two-level [houseHold]="houseHold" [parentForm]="parentForm"
                                (changeEvent1)="changeEvent($event)" [question]="question">
                            </app-matrix-two-level>
                        </ng-container>
                    </ng-container>
                </div>
                <div *ngSwitchCase="'CB'">
                    <app-checkbox [houseHold]="houseHold" [parentForm]="parentForm" (changeEvent1)="changeEvent($event)"
                        [question]="question">
                    </app-checkbox>
                </div>
                <div *ngSwitchDefault>
                    Default type
                </div>
            </ng-container>
        </div>
    </ng-container>
    <div *ngIf="isReview">
        <div *ngFor="let question of finalQuestionLIst">
            <div>
                <h4>{{houseHold? question?.hhQueNo : question?.queNo }}.{{ question?.title}}</h4>
                <p>{{question.anuswer.text}}</p>

            </div>
        </div>
    </div>
    <br>
    <!-- Action buttons -->
    <!-- <div class="col-xs- d-grid gap-2 d-md-block"> -->

    <!-- <button [routerLink]="['/demographics/demographics-individual-members-page1']" type="submit"
       class="btn btn-primary ms-md-3">Continue</button> -->
    <!-- <pagination-controls (pageChange)="pageChange($event)" class="my-pagination hide-page-numbers"
            previousLabel="Back" nextLabel="Continue" >
        </pagination-controls>
    </div> -->

    <!-- app.component.html -->

         <pagination-template #p="paginationApi" [id]="config.id" (pageChange)="pageChange($event)">


            <div class="custom-pagination" class="col-xs-6 d-grid gap-2 d-md-block">

                <ng-container *ngIf="!houseHold">
                    <button type="button" class="btn btn-dark" *ngIf="p.isFirstPage()"
                        [routerLink]="['/demographics/demographics-individual-members']">Back</button>

                    <button type="button" class="btn btn-dark" *ngIf="!p.isFirstPage()"
                        (click)="p.previous()">Back</button>
                </ng-container>

                <ng-container *ngIf="houseHold">
                    <button type="button" class="btn btn-dark" *ngIf="p.isFirstPage()"
                        [routerLink]="['/demographics/demographics-owner']">Back</button>

                    <button type="button" class="btn btn-dark" *ngIf="!p.isFirstPage()"
                        (click)="p.previous()">Back</button>
                </ng-container>


                <button type="submit" class="btn btn-secondary ms-md-3" (click)="openModal()">Save & Exit</button>

                <button (click)="p.next()" *ngIf="!p.isLastPage()" type="button"
                    class="btn btn-primary ms-md-3">Continue</button>

                <button *ngIf="p.isLastPage() && !isReview" type="submit" (click)="review()"
                    class="btn btn-secondary ms-md-3">Review</button>

                <button *ngIf="isReview" type="submit" (click)="submit()"
                    class="btn btn-secondary ms-md-3">Submit</button>

            </div>
        </pagination-template>

</div>
<modal #modal [modalConfig]="modalConfig" (cancelEvent)="cancelEvent($event)" (exitEvent)="exitEvent($event)">
    
</modal>