<div [formGroup]="parentForm" class="shadow-sm rounded bg-white p-4 mb-4">
    <ng-container *ngIf="!isReview">
        <div *ngFor="let question of questionList | paginate: config">
            <ng-container [ngSwitch]="question.queType">
                <div *ngSwitchCase="'RB'">
                    <app-radiogroup *ngIf="question.maxLevel==1" [houseHold]="houseHold" [parentForm]="parentForm"
                        (changeEvent1)="changeEvent($event)" [question]="question"></app-radiogroup>

                    <app-matrix-rb *ngIf="question.maxLevel==2" [houseHold]="houseHold" [parentForm]="parentForm"
                        (changeEvent1)="changeEvent($event)" [question]="question"></app-matrix-rb>
                </div>
                <div *ngSwitchCase="'YES-NO'">
                    <ng-container [ngSwitch]="question.maxLevel">
                        <ng-container *ngSwitchCase="0">
                            <app-yesNo [houseHold]="houseHold" [parentForm]="parentForm"
                                (changeEvent1)="changeEvent($event)" [question]="question">
                            </app-yesNo>
                        </ng-container>

                        <ng-container *ngSwitchCase="1">
                            <app-matrix [houseHold]="houseHold" [parentForm]="parentForm"
                                (changeEvent1)="changeEvent($event)" [question]="question">
                            </app-matrix>
                        </ng-container>

                        <ng-container *ngSwitchCase="2">
                            <app-matrix-two-level [houseHold]="houseHold" [parentForm]="parentForm"
                                (changeEvent1)="changeEvent($event)" [question]="question">
                            </app-matrix-two-level>
                        </ng-container>
                    </ng-container>
                </div>
                <div *ngSwitchCase="'matrix-yes-no'">
                    <app-matrix-sub-level>

                    </app-matrix-sub-level>
                </div>

                <div *ngSwitchCase="'CB'">
                    <app-checkbox [houseHold]="houseHold" [parentForm]="parentForm" (changeEvent1)="changeEvent($event)"
                        [question]="question">
                    </app-checkbox>
                </div>

                <div *ngSwitchCase="''">
                    <app-matrix-sub-level [houseHold]="houseHold" [parentForm]="parentForm"
                        (changeEvent1)="changeEvent($event)" [question]="question">

                    </app-matrix-sub-level>
                </div>

                <div *ngSwitchCase="'TEXT'">
                    <app-text [houseHold]="houseHold" [parentForm]="parentForm" (changeEvent1)="changeEvent($event)"
                        [question]="question">
                    </app-text>
                </div>

                <div *ngSwitchDefault>
                    Default type
                    Default type, need to handle.
                </div>
            </ng-container>
        </div>
    </ng-container>

    <div *ngIf="isReview">
        <div *ngFor="let question of finalQuestionLIst">
            <div>
                <h4>{{ question?.title}}</h4>
                <!-- <h4 *ngIf="question.type =='matrix-subquestion'">{{houseHold? question?.hhQueNo : question?.queNo }}.{{ question?.title}}</h4> -->
                <ng-container *ngIf='question.type !== "matrix-subquestion"'>
                    <p *ngIf="question?.answer?.text">{{question?.answer?.text}}</p>
                    <div *ngIf="!question?.answer?.text">
                        <div *ngFor="let q of question.answer">
                            <h5><u>{{q.text}}&nbsp; &nbsp;{{q.test1}}</u></h5>
                            <p>{{q.answer}}</p> 
                        </div>
                    </div>
                </ng-container>

                <ng-container *ngIf='question.type == "matrix-subquestion"'>
                    <div *ngFor="let q of question.subSurveyQueAnsDTO">
                        <h5>{{ q?.title}}</h5>
                        <p *ngIf="q?.answer == 'No'">{{q?.answer}}</p>
                        <p *ngIf="q?.answer == 'Yes' && !q.subSurveyQueAnsDTO.length">{{q?.answer}}</p>
                        <div *ngIf="q?.answer == 'Yes' && q.subSurveyQueAnsDTO.length">
                            <div *ngIf="q.subSurveyQueAnsDTO.subQuestions.length">
                                <div *ngFor="let sub of q.subSurveyQueAnsDTO.subQuestions">
                                    <h5><u>{{sub.title}}</u></h5>
                                    <p>{{sub.answer}}</p> 
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <!-- <p *ngIf="isQuestion">{{question?.anuswer}}</p> -->
            </div>
        </div>
    </div>

    <br>
    <!-- Action buttons -->
    <!-- <div class="col-xs- d-grid gap-2 d-md-block"> -->

    <!-- <button [routerLink]="['/demographics/demographics-individual-members-page1']" type="submit"
       class="btn btn-primary ms-md-3">Continue</button> -->
    <!-- <pagination-controls (pageChange)="pageChange($event)" class="my-pagination hide-page-numbers"
            previousLabel="Back" nextLabel="Continue" >
        </pagination-controls>
    </div> -->

    <!-- app.component.html -->

    <pagination-template #p="paginationApi" [id]="config.id" (pageChange)="pageChange($event)">


        <div class="custom-pagination" class="col-xs-6 d-grid gap-2 d-md-block">

            <ng-container *ngIf="!houseHold">
                <button type="button" class="btn btn-dark" *ngIf="p.isFirstPage()"
                    [routerLink]="['/demographics/demographics-individual-members']">{{"deviceInformation.backButton" | translate }}</button>

                <button type="button" class="btn btn-dark" *ngIf="!p.isFirstPage() && !isReview"
                    (click)="p.previous()">{{"deviceInformation.backButton" | translate }}</button>

                <button type="button" class="btn btn-dark" *ngIf="!p.isFirstPage() && isReview"
                    (click)="goToLastPage()">{{"deviceInformation.backButton" | translate }}</button>
            </ng-container>

            <ng-container *ngIf="houseHold">
                <button type="button" class="btn btn-dark" *ngIf="p.isFirstPage() && !isReview"
                    [routerLink]="['/demographics/demographics-owner']">{{"deviceInformation.backButton" | translate }}</button>

                <button type="button" class="btn btn-dark" *ngIf="p.isFirstPage() && isReview"
                    (click)="goToLastPage()">{{"deviceInformation.backButton" | translate }}</button>

                <button type="button" class="btn btn-dark" *ngIf="!p.isFirstPage()" (click)="p.previous()">{{"deviceInformation.backButton" | translate }}</button>
            </ng-container>


            <button type="submit" class="btn btn-secondary ms-md-3" (click)="saveContiune()">{{"deviceInformation.SaveButton" | translate }}</button>

            <button (click)="p.next()" *ngIf="!p.isLastPage()" type="button"
                class="btn btn-primary ms-md-3">{{"deviceInformation.continueButton" | translate }}</button>

            <button *ngIf="p.isLastPage() && !isReview" type="submit" (click)="review()"
                class="btn btn-primary ms-md-3">{{"demographics.reviewButton" | translate}}</button>

            <button *ngIf="isReview" type="submit" (click)="submit()" class="btn btn-primary ms-md-3">{{"deviceUsage.submit" | translate }}</button>

        </div>
    </pagination-template>

</div>
<ng-container>
<modal #modal [modalConfig]="localmodalConfig"   [IsFromVam]="isVamOpenModal" (cancelEvent)="cancelEvent($event)" (exitEvent)="exitEvent($event)">
</modal>
</ng-container>

<!-- <ng-container>
<modal #modal [modalConfig]="localmodalConfig" [IsFromVam]="true" (cancelEvent)="cancelEvent($event)" (exitEvent)="exitEvent($event)">
</modal>
</ng-container> -->