<!DOCTYPE html>
<html lang="en">


<body>

    
    <!-- Breadcrumbs -->
    <nav class="px-3 mt-4">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="survey-hub.html">Survey hub</a></li>
                <li class="breadcrumb-item"><a href="household-demograpgics.html">Household demographics</a></li>
                <li class="breadcrumb-item active" aria-current="page">Individual member</li>
            </ol>
        </div>
    </nav>

    <!--h1 Intro Section-->
    <section class="px-3 pb-4">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1><!--Household Member Name -->Houshold Member Name</h1>
                    <p>
                        Please complete these questions to tell us a bit more about yourself. These questions will only be used in order to report your viewing in the correct group.If possible, please complete the survey in one session. If you exit before clicking submit at the end of the survey, your answers will not be saved.
                    </p>
                </div><!--end col-->
            </div><!--end Row-->
        </div><!--end Container-->
    </section><!--end Section-->

    <section class="px-3 pb-4">
        <div class="container">
            <div class="row pb-4">
                <h2>Page 1 of 7<span class="h2-separator"></span></h2>
                <div class="col-12 mt-3">
                    <div class="shadow-sm rounded bg-white p-4 mb-4">
                        <form>
                            <!-- Question 1 -->
                            <h4>Please enter your name below</h4>
                            <div class="row ">
                                <div class="mb-4 col-md-6">
                                    <label for="question1" class="form-label">First Name </label>
                                    <input type="email" class="form-control" id="question1" aria-describedby="emailHelp">
                                </div>
                                <div class="mb-4 col-md-6">
                                    <label for="question1" class="form-label">Last Name </label>
                                    <input type="email" class="form-control" id="question1" aria-describedby="emailHelp">
                                </div>
                            </div>
                           
                            <!-- Question 2 -->
                            <div class="mb-4">
                                <h4>What is your gender?</h4>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="radio" name="question2" id="Radio1">
                                    <label class="form-check-label" for="Radio1">Male</label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="radio" name="question2" id="Radio2">
                                    <label class="form-check-label" for="Radio2">Female</label>
                                </div>
                            </div>

                            <!-- Question 3 -->
                            <div class="mb-4">
                                <h4>What is your gender?</h4>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="radio" name="question3" id="Radio3">
                                    <label class="form-check-label" for="Radio3">2-6 years</label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="radio" name="question3" id="Radio4">
                                    <label class="form-check-label" for="Radio4">7-11 years</label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="radio" name="question3" id="Radio5">
                                    <label class="form-check-label" for="Radio5">12-17 years</label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="radio" name="question3" id="Radio6">
                                    <label class="form-check-label" for="Radio6">18-24 years</label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="radio" name="question3" id="Radio7">
                                    <label class="form-check-label" for="Radio7">25-34 years</label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="radio" name="question3" id="Radio8">
                                    <label class="form-check-label" for="Radio8">35-49 years</label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="radio" name="question3" id="Radio9">
                                    <label class="form-check-label" for="Radio9">50-54 years</label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="radio" name="question3" id="Radio10">
                                    <label class="form-check-label" for="Radio10">55-64 years</label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="radio" name="question3" id="Radio11">
                                    <label class="form-check-label" for="Radio11">65+ years</label>
                                </div>
                            </div>


                           <!-- Question 4 -->
                            <div class="mb-4">
                                <h4>How many hours per week do you normally work for pay (or in own farm, business 
                                    or professional practice)?</h4>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="radio" name="question4" id="Radio12">
                                    <label class="form-check-label" for="Radio12">None</label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="radio" name="question4" id="Radio13">
                                    <label class="form-check-label" for="Radio13">1-19 hours</label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="radio" name="question4" id="Radio14">
                                    <label class="form-check-label" for="Radio14">20-29 hours</label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="radio" name="question4" id="Radio15">
                                    <label class="form-check-label" for="Radio15">30 or more hours</label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- Action buttons -->
                    <div class="col-xs-6 d-grid gap-2 d-md-block">
                        <button type="submit" class="btn btn-dark">Back</button>
                        <button type="submit" class="btn btn-secondary ms-md-3">Save & Exit</button>
                        <button [routerLink] = "['/demographics/demographics-individual-members-page2']" type="submit" class="btn btn-primary ms-md-3">Continue</button>
                    </div>
                   
                </div><!--end Col-->
            </div><!--end Row-->

        </div><!--end Container-->
    </section><!--end Section--> 
</body>
</html>
