<!DOCTYPE html>
<html lang="en">


<body>

  
    
    <!-- Breadcrumbs -->
    <nav class="px-3 mt-4">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="survey-hub.html">Survey hub</a></li>
                <li class="breadcrumb-item"><a href="household-demograpgics.html">Household demographics</a></li>
                <li class="breadcrumb-item active" aria-current="page">Individual member</li>
            </ol>
        </div>
    </nav>


    <!--h1 Intro Section-->
    <section class="px-3 pb-4">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1><!--Household Member Name -->Houshold Member Name</h1>
                    <p>
                        Please complete these questions to tell us a bit more about yourself. These questions will only be used in order to report your viewing in the correct group.If possible, please complete the survey in one session. If you exit before clicking submit at the end of the survey, your answers will not be saved.
                    </p>
                </div><!--end col-->
            </div><!--end Row-->
        </div><!--end Container-->
    </section><!--end Section-->

    <section class="px-3 pb-4">
        <div class="container">
            <div class="row pb-4">
                <h2>Page 3 of 7<span class="h2-separator"></span></h2>
                <div class="col-12 mt-3">
                    <div class="shadow-sm rounded bg-white p-4 mb-4">
                        <form>
                           <!-- Question 6 -->
                            <div class="mb-4">
                                <h4>Which of the following best describes your occupation?
                                </h4>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question6" id="Radio26">
                                    <label class="form-check-label" for="Radio26">Senior Manager/Executive - e.g., president, CEO, vice-president, legislator, CFO</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question6" id="Radio27">
                                    <label class="form-check-label" for="Radio27">Middle and Other Manager - e.g., controller, director, manager, chief actuary, school principal,
                                        fire chief, commissioned police officer</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question6" id="Radio28">
                                    <label class="form-check-label" for="Radio28">Professional - e.g., lawyer, accountant, architect, actuary, doctor, veterinarian, registered nurse, 
                                        engineer, teacher, librarian, systems analyst, minister, probation officer, journalist, artist</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question6" id="Radio29">
                                    <label class="form-check-label" for="Radio29">Administrative/Office Support - e.g., executive assistant, receptionist, appraiser, loan officer, 
                                        bookkeeper, shipper/receiver, dispatcher, customer service representative, court officer, 
                                        underwriter, broker</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question6" id="Radio30">
                                    <label class="form-check-label" for="Radio30">Technical/Skilled Occupations - e.g., technician, pilot, optician, dental hygienist, 
                                        ambulance attendant, product designer, systems administrator, graphic designer, craftsperson,
                                        coach, fire fighter, police officer</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question6" id="Radio30">
                                    <label class="form-check-label" for="Radio30">Trades or Skilled Equipment Operators - e.g., electrician, plumber, gas fitter, welder, carpenter,
                                        painter, mechanic, tailor, jeweller, railway engineer, truck driver, farmer, fisher, landscaping contractor, 
                                        motor vehicle assembler</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question6" id="Radio31">
                                    <label class="form-check-label" for="Radio31">Specialized Sales and Service - e.g., real estate agent, technical sales, chef, hair stylist</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question6" id="Radio32">
                                    <label class="form-check-label" for="Radio32">Labourer - e.g., primary production labourer, mine labourer, harvesting labourer, landscape labourer, 
                                        labourer in processing and manufacturing</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question6" id="Radio33">
                                    <label class="form-check-label" for="Radio33">Self Employed - own your own business</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question5" id="Radio34">
                                    <label class="form-check-label" for="Radio34">Other (please specify)</label>
                                    <input type="other comments" class="form-control" aria-describedby="specify">
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- Action buttons -->
                    <div class="col-xs-6 d-grid gap-2 d-md-block">
                        <button type="submit" class="btn btn-dark">Back</button>
                        <button type="submit" class="btn btn-secondary ms-md-3">Save & Exit</button>
                        <button [routerLink] = "['/demographics/demographics-individual-members-page4']" type="submit" class="btn btn-primary ms-md-3">Continue</button>
                    </div>
                   
                </div><!--end Col-->
            </div><!--end Row-->

        </div><!--end Container-->
    </section><!--end Section--> 
</body>
</html>
