 <!-- Breadcrumbs -->
 <nav class="px-3 mt-4">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/welcome']">{{'Home.title' | translate}}</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/account-settings/account-settings']">{{'accountSettings.title' | translate}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{'emailNotifications.title' | translate}}</li>
        </ol>
    </div>
</nav>

<!-- SURVEY HUB PAGE -->

<!--h1 Intro Section-->
<section class="px-3 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>{{'emailNotifications.title' | translate}}</h1>
                <p>
                    {{'emailNotifications.description' | translate}}
                </p>
            </div><!--end col-->
        </div><!--end Row-->
    </div><!--end Container-->
</section><!--end Section-->

<section class="px-3 pb-4">
    <div class="container">
        <div class="row pb-4">
            <h2> {{'emailNotifications.heading' | translate}}<span class="h2-separator"></span></h2>
        </div><!--end Row-->
        <div class="row">
            <form [formGroup]="emailNotifForm" >
            <div class="col-md-6" >
                <div class="shadow-sm rounded bg-white p-4 mb-4">
                    <div class="mb-4">
                    <p>{{'emailNotifications.q1' | translate}}</p>
                    <div class="form-check">
                        <input formControlName="companyNews" class="form-check-input" type="radio"name="companyNews" id="Radio1" value="true"/>
                        <label class="form-check-label" for="Radio1">{{'emailNotifications.option1' | translate}}</label>
                        
                    </div>
                    
                    <div class="form-check">
                        <input formControlName="companyNews" class="form-check-input" type="radio" name="companyNews" id="Radio2" value="false"/>
                        <label class="form-check-label" for="Radio2">{{'emailNotifications.option2' | translate}}</label>
                        
                    </div>
                    </div>
                    <div class="mb-4">
                    <p>{{'emailNotifications.q2' | translate}}</p>
                    <div class="form-check">
                        <input formControlName="promotionOffers" class="form-check-input" type="radio" name="promotionOffers" id="Radio3" value="true"/>
                        <label class="form-check-label" for="Radio3">{{'emailNotifications.option1' | translate}}</label>
                    </div>
                    <div class="form-check">
                        <input formControlName="promotionOffers" class="form-check-input" type="radio" name="promotionOffers" id="Radio4" value="false"/>
                        <label class="form-check-label" for="Radio4">{{'emailNotifications.option2' | translate}}</label>
                    </div>
                    </div>
                    <p>{{'emailNotifications.q3' | translate}}</p>
                    <div class="form-check">
                        <input formControlName="loginEvent" class="form-check-input" type="radio" name="loginEvent"  id="loginEvent1" value="true"/>
                        <label class="form-check-label" for="loginEvent1">{{'emailNotifications.option1' | translate}}</label>
                    </div>
                    <div class="form-check">
                        <input formControlName="loginEvent" class="form-check-input" type="radio" name="loginEvent" id="loginEvent2" value="false"/>
                        <label class="form-check-label" for="loginEvent2">{{'emailNotifications.option2' | translate}}</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-secondary px-5" [routerLink]="['../account-settings']">{{'emailNotifications.cancelButton' | translate}}</button>
                <button type="button" (click)= "saveAndExit()" class="btn btn-primary ms-5 px-5" style="float: right">{{'emailNotifications.updateButton' | translate}}</button>
            </div><!--end Col-->
            </form>
        </div><!--end Row-->

    </div><!--end Container-->
</section><!--end Section--> 

