<!DOCTYPE html>
<html lang="en">


<body>

  
    
    <!-- Breadcrumbs -->
    <nav class="px-3 mt-4">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/welcome']">{{'Home.title' | translate}}</a></li>
                <li class="breadcrumb-item"><a [routerLink] = "['/survey/survey']">{{'surveyHub.title' | translate}}</a></li>
                <li class="breadcrumb-item"><a [routerLink] = "['/demographics/demographics-overview']">{{'demographics.tittle' | translate}}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{"demographics.card1" | translate}}</li>
            </ol>
        </div>
    </nav>

    <!--h1 Intro Section-->
    <section class="px-3 pb-4">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>{{"demographics.card1" | translate}}</h1>
                    <p>{{"demographics.individualDescription" | translate}}</p>
                </div><!--end col-->
            </div><!--end Row-->
        </div><!--end Container-->
    </section><!--end Section-->

    <section class="px-3 pb-4">
        <div class="container">
            <div class="row pb-4">
                <h2>{{"demographics.individualSubText" | translate}} {{memberList.length}} <!--Number has to reflect number of memebers--> <span class="h2-separator"></span></h2>
                <p>{{"demographics.individualSubDescription" | translate}} </p>

                <div class="col-12 mt-3">
                   
                   <!-- [ { "memberName": "TEST MIKE", "memberNo": "01", "homeNo": "9992323", "deviceId": null,
                     "memberSurveyStatus": "Not Started", "memberSurveyStatusId": 0, "usePercentage": null }, { "memberName": "TEST ROB", "memberNo": "02", "homeNo": "9992323", "deviceId": null, "memberSurveyStatus": "Not Started", "memberSurveyStatusId": 0, "usePercentage": null }, { "memberName": "TEST ARUN", "memberNo": "03", "homeNo": "9992323", "deviceId": null, "memberSurveyStatus": "Not Started", "memberSurveyStatusId": 0, "usePercentage": null }, { "memberName": "Abdullahi", "memberNo": "04", "homeNo": "9992323", "deviceId": null, "memberSurveyStatus": "Not Started", "memberSurveyStatusId": 0, "usePercentage": null } ]-->
                    <!-- House Hold Member -->
                    <div *ngFor="let member of memberList" class="message-card d-flex align-items-center bg-white shadow-sm rounded mb-3">
                        <i class="material-icons p-3 device-usage-icon d-flex icon-red align-items-center h-100">
                            <div class="h1 mb-0">person</div>
                        </i>
                        <div class="ps-3 description">
                            <h3 class="text-truncate"><!-- Name of the household memeber -->{{member?.memberName}}</h3>
                            <p class="text-truncate">{{"demographics.statusLabel" | translate}}: <span>{{member?.memberSurveyStatus}}</span></p>   
                        </div>
                        <div *ngIf="member?.memberSurveyStatus === 'Not Started'">
                            <button (click) = "continueNavigate(member.memberNo, member.homeNo, member.memberName )" type="button" class="btn btn-light me-3">{{"demographics.startButton" | translate}}</button>
                        </div>
                        <div *ngIf="member?.memberSurveyStatus === 'In Progress'"> 
                            <button (click) = "continueNavigate(member.memberNo, member.homeNo, member.memberName )" type="button" class="btn btn-light me-3">{{"demographics.continueButton" | translate}}</button>
                        </div>
                        <div *ngIf="member?.memberSurveyStatus === 'Completed'"> 
                            <button (click) = "continueNavigate(member.memberNo, member.homeNo, member.memberName )" type="button" class="btn btn-light me-3">{{'deviceUsage.completedButton' | translate}}</button>
                        </div>
                          </div>

                </div><!--end Col-->
            </div><!--end Row-->

        </div><!--end Container-->
    </section><!--end Section--> 
</body>
</html>
