<!DOCTYPE html>
<html lang="en">


<body>

  
    
    <!-- Breadcrumbs -->
    <nav class="px-3 mt-4">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="survey-hub.html">Survey hub</a></li>
                <li class="breadcrumb-item"><a href="household-demograpgics.html">Household demographics</a></li>
                <li class="breadcrumb-item active" aria-current="page">Individual member</li>
            </ol>
        </div>
    </nav>

    <!--h1 Intro Section-->
    <section class="px-3 pb-4">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Individual Member</h1>
                    <p>
                        This section has surveys for each household member. It has 32 basic questions related to name, age, languages spoken, education and occupation – including some behavioural questions. Each survey takes about 10 to 15 minutes to complete. 
                    </p>
                </div><!--end col-->
            </div><!--end Row-->
        </div><!--end Container-->
    </section><!--end Section-->

    <section class="px-3 pb-4">
        <div class="container">
            <div class="row pb-4">
                <h2>List of individual members: 4 <!--Number has to reflect number of memebers--> <span class="h2-separator"></span></h2>
                <p>Complete the survey that has your name. You may also fill a survey on behalf of another household member. </p>

                <div class="col-12 mt-3">
                   
                   <!-- [ { "memberName": "TEST MIKE", "memberNo": "01", "homeNo": "9992323", "deviceId": null,
                     "memberSurveyStatus": "Not Started", "memberSurveyStatusId": 0, "usePercentage": null }, { "memberName": "TEST ROB", "memberNo": "02", "homeNo": "9992323", "deviceId": null, "memberSurveyStatus": "Not Started", "memberSurveyStatusId": 0, "usePercentage": null }, { "memberName": "TEST ARUN", "memberNo": "03", "homeNo": "9992323", "deviceId": null, "memberSurveyStatus": "Not Started", "memberSurveyStatusId": 0, "usePercentage": null }, { "memberName": "Abdullahi", "memberNo": "04", "homeNo": "9992323", "deviceId": null, "memberSurveyStatus": "Not Started", "memberSurveyStatusId": 0, "usePercentage": null } ]-->
                    <!-- House Hold Member -->
                    <div *ngFor="let member of memberList" class="message-card d-flex align-items-center bg-white shadow-sm rounded mb-3">
                        <i class="material-icons p-3 device-usage-icon d-flex icon-red align-items-center h-100">
                            <div class="h1 mb-0">person</div>
                        </i>
                        <div class="ps-3 description">
                            <h3 class="text-truncate"><!-- Name of the household memeber -->{{member?.memberName}}</h3>
                            <p class="text-truncate">Status: <span>{{member?.memberSurveyStatus}}</span></p>   
                        </div>
                        <button (click) = "continueNavigate(member.memberNo, member.homeNo, member.memberName )" type="button" class="btn btn-light me-3">Start</button>
                    </div>

                </div><!--end Col-->
            </div><!--end Row-->

        </div><!--end Container-->
    </section><!--end Section--> 
</body>
</html>
