
<!-- Breadcrumbs -->
<div class="px-3 mt-4">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/login/login']">{{ 'loginPage.title' | translate }}</a></li> 
            <li class="breadcrumb-item active" aria-current="page">{{"login-cookies.tittle" | translate}}</li>
        </ol>
    </div>
</div>
<!-- SURVEY HUB PAGE -->

<!--h1 Intro Section-->
<div class="px-3 pb-4">
    <div class="container">
        <div class="row">
            <h1>{{"login-cookies.tittle" | translate}}</h1>
            <h2>{{"login-cookies.sub-tittle-personal" | translate}}</h2>
            <p>{{"login-cookies.personal-desc" | translate}}</p>
            <p>{{"login-cookies.personal-desc2" | translate}}</p>
            <p>{{"login-cookies.personal-desc3" | translate}}</p>
            <p>{{"login-cookies.personal-desc4" | translate}}</p>
            <h2>{{"login-cookies.sub-tittle-privacy" | translate}}</h2>
            <p>{{"login-cookies.privacy-desc" | translate}}</p>
            <h2>{{"login-cookies.sub-tittle-Query" | translate}}</h2>
            <p>{{"login-cookies.enquiry-desc" | translate}}</p>

  
           

        </div><!--end Row-->
        <button type="submit" class="btn btn-primary" [routerLink]="['/login/login']">{{"deviceInformation.backButton" | translate }}</button>
  
    </div><!--end Container-->
</div><!--end Section-->


