<nav class="px-3 mt-4">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]= "['/welcome']">{{'Home.title' | translate}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{'accountSettings.title' | translate}}</li>
        </ol>
    </div>
</nav>

<!-- SURVEY HUB PAGE -->

<!--h1 Intro Section-->
<section class="px-3 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>{{'accountSettings.title' | translate}}</h1>
                <p>
                    {{'accountSettings.description' | translate}} 
                </p>
            </div><!--end col-->
        </div><!--end Row-->
    </div><!--end Container-->
</section><!--end Section-->

<section class="px-3 pb-4">
    <div class="container">
        <!--Thumbnails-->
        <div class="row g-4">
            <!--Card-->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body shadow-sm rounded border-0">
                    <h5 class="card-title"><b>{{'accountSettings.changePasswordTitle' | translate}}</b></h5>
                    <p class="card-text">{{'accountSettings.changePasswordDescription' | translate}}</p>
                    <a [routerLink]="['/account-settings/change-password']" class="btn btn-light">{{'accountSettings.changePasswordButton' | translate}}</a>
                    </div>
                </div>
            </div>
            <!--Card-->
            
            <!-- <div class="col-md-4">
                <div class="card">
                    <div class="card-body shadow-sm rounded border-0">
                    <h5 class="card-title"><b>{{'accountSettings.emailNotificationsTitle' | translate}}</b></h5>
                    <p class="card-text">{{'accountSettings.emailNotificationsDescription' | translate}}</p>
                    <a [routerLink]="['/account-settings/email-notifications']" class="btn btn-light">{{'accountSettings.emailNotificationsButton' | translate}}</a>
                    </div>
                </div>
            </div> -->
            
             <!--Card-->
             <div class="col-md-4">
                <div class="card ">
                    <div class="card-body shadow-sm rounded border-0">
                    <h5 class="card-title"><b>{{'accountSettings.privacyPolicyTitle' | translate}}</b></h5>
                    <p class="card-text">{{'accountSettings.privacyPolicyDescription' | translate}}</p>
                    <a class="btn btn-light" href='javascript:void(0);' (click)="showWindow()">{{'accountSettings.privacyPolicyButton' | translate}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end Container-->
</section><!--end Section-->  
<section class="px-3 pb-4"></section>   
