<nav class="navbar bg-white px-3">
    <div class="container d-flex">
        <a href="survey-hub.html" class="navbar-brand flex-grow-1">
            <img class="img-fluid" src="../assets/logo.png" alt="">
        </a> 
        <a href="#" class="lang-taggle">français</a>
        <div class="row" *ngIf="isMenu">
            <div class="col">
              <div ngbDropdown class="d-inline-block" >
                <button  
                class="navbar-toggler d-sm-flex align-items-center justify-content-between" type="button" 
                data-bs-toggle="collapse" data-bs-target="#navmenu"
                id="dropdownBasic1" ngbDropdownToggle>
                <i class="material-icons text-white"><div class="menu-icon">menu</div></i>
                <span class="menu-icon-descirption"> Menu
                </span>
               <!--<mat-icon aria-hidden="false" aria-label="Menu icon">menu</mat-icon> &nbsp; Menu -->
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1" >
              
                <button ngbDropdownItem>Joe Public
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
                        <mat-icon aria-hidden="false" aria-label="Cancel icon">cancel</mat-icon> </button>
                        <div class="dropdown-divider"></div>
                      <button ngbDropdownItem [routerLink]="['/welcome']" >Home 
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                      <mat-icon aria-hidden="false">chevron_right</mat-icon></button>
                      <div class="dropdown-divider"></div>
                      <button ngbDropdownItem [routerLink]="['/notification/messages']">Message Center
                          &nbsp; &nbsp; &nbsp; 
                        <mat-icon aria-hidden="false">chevron_right</mat-icon></button>
                      <div class="dropdown-divider"></div>
                      <button ngbDropdownItem [routerLink]="['/survey/survey']">Survey Hub
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        <mat-icon aria-hidden="false">chevron_right</mat-icon></button>
                      <div class="dropdown-divider"></div>
                      <button ngbDropdownItem [routerLink]="['/login/account-settings']">Account Settings
                        &nbsp; &nbsp; &nbsp;
                        <mat-icon aria-hidden="false">chevron_right</mat-icon>
                      </button>
                      <div class="dropdown-divider"></div>
                      <button ngbDropdownItem>Tech Support
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        <mat-icon aria-hidden="false">chevron_right</mat-icon>
                      </button>
                      <div class="dropdown-divider"></div>
                      <button ngbDropdownItem (click)="doLogout()">Logout
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        <mat-icon aria-hidden="false" >chevron_right</mat-icon>
                    
                      </button> 
              </div>
            </div>
        </div>
      </div>
      
              

      


        <!--<button class="navbar-toggler d-sm-flex align-items-center justify-content-between" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">-->
            <!-- <span class="navbar-toggler-icon"></span> -->
           <!-- <i class="material-icons text-white"><div class="menu-icon">menu</div></i>
            <span class="menu-icon-descirption"> Menu</span>
        </button>-->
    </div>
</nav><!--end nav-->
