<nav class="navbar bg-white px-3">
    <div class="container d-flex">
        <a href="survey-hub.html" class="navbar-brand flex-grow-1">
            <img class="img-fluid" src="../assets/logo.png" alt="">
        </a> 
        <a href="#" class="lang-taggle">français</a>
        <div *ngIf="isLogin && isMenu">
            <button class="navbar-toggler d-sm-flex align-items-center justify-content-between" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <!-- <span class="navbar-toggler-icon"></span> -->
                <i class="material-icons text-white"><div class="menu-icon">menu</div></i>
                <span class="menu-icon-descirption"> Menu</span>
            </button>
        </div>
        
    </div>
</nav><!--end nav-->
