<!--BANNER Entire Portal Control INSERT ABOVE MAIN MeNU!!!!-->
<section class="px-3" *ngIf="showAdminMSg">
  <div class="container">
      <form class="mb-4">
          <div class="row align-items-center shadow-sm rounded admin-color p-2 m-0">
              <label for="take-control" class="form-label col-md-8 col-sm-12 mt-2">{{"modalWindow.currentUser" | translate}} {{homeNo}}: 
              <b>{{this.fullName}}</b></label>
              <div class="col-md-4 col-sm-12 mt-2 mb-3">
                  <button type="button" class="btn btn-secondary admin-button-color" (click)="openModal()">{{"modalWindow.currentUserExit" | translate}}</button>
              </div>
          </div>
      </form>
  </div>
</section>

<nav class="navbar bg-white px-3">
  <div class="container d-flex">
    <a [routerLink]="['/welcome']" class="navbar-brand flex-grow-1" *ngIf="isMenu">
      <img class="img-fluid" src="./assets/logo.png" alt="">
    </a>
    <a  class="navbar-brand flex-grow-1" *ngIf="!isMenu">
      <img class="img-fluid" src="./assets/logo.png" alt="">
    </a>
    <ng-container *ngIf="!isFrance else english">
      <a *ngIf="currentWindowWidth < 992" (click)="changeLanguage('fr')"  href='javascript:void(0);'>FR</a>
      <a *ngIf="currentWindowWidth >= 992" (click)="changeLanguage('fr')"  href='javascript:void(0);'>Français</a>
    </ng-container>
    <ng-template #english>
      <a *ngIf="currentWindowWidth < 992" (click)="changeLanguage('en')"  href='javascript:void(0);'>EN</a>
      <a *ngIf="currentWindowWidth >= 992" (click)="changeLanguage('en')"  href='javascript:void(0);'>English</a>
    </ng-template>

    <div class="row" *ngIf="isMenu">
      <!--background toggle use -->
      <div class="background-nav-overlay" [style.display]="showOnlyMenu"></div>
      <!--End Backgorund toggle-->
      <div class="col">
        <div ngbDropdown (openChange) = "onMenuOpen($event)"  class="d-inline-block">
          <button class="navbar-toggler d-sm-flex align-items-center justify-content-between" type="button"
            data-bs-toggle="collapse" data-bs-target="#navmenu" id="dropdownBasic1" ngbDropdownToggle>
            <i class="material-icons text-white">
              <div class="menu-icon">menu</div>
            </i>
            <span class="menu-icon-descirption"> Menu
            </span>
            <!--<mat-icon aria-hidden="false" aria-label="Menu icon">menu</mat-icon> &nbsp; Menu -->
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <mat-icon type="button" ngbDropdownToggle aria-hidden="false" aria-label="Cancel icon" class="close-menu-button">cancel</mat-icon>   
            
            <p class ="menu-user-name">{{fullName}} </p>
            <div class="dropdown-divider"></div>
            <button ngbDropdownItem [routerLink]="['/welcome']">{{'Home.title' | translate}}
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              <mat-icon aria-hidden="false">chevron_right</mat-icon>
            </button>
            <div class="dropdown-divider"></div>
            <button ngbDropdownItem [routerLink]="['/notification/messages']">{{'messageCenter.title' | translate}}
              &nbsp; &nbsp; &nbsp;
              <mat-icon aria-hidden="false">chevron_right</mat-icon>
            </button>
            <div class="dropdown-divider"></div>
            <button ngbDropdownItem [routerLink]="['/survey/survey']">{{'surveyHub.title' | translate}}
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              <mat-icon aria-hidden="false">chevron_right</mat-icon>
            </button>
            <div class="dropdown-divider"></div>
            <button ngbDropdownItem [routerLink]="['/account-settings/account-settings']">{{'accountSettings.title' |
              translate}}
              &nbsp; &nbsp; &nbsp;
              <mat-icon aria-hidden="false">chevron_right</mat-icon>
            </button>
            <div class="dropdown-divider"></div>
            <button [routerLink]="['/support/techsupport']" ngbDropdownItem>{{'menu.fAQs/TechSupport' | translate}}
              <mat-icon aria-hidden="false">chevron_right</mat-icon>
            </button>
            <div class="dropdown-divider"></div>
            <button [routerLink]="['/support/contact']" ngbDropdownItem>{{'contactUs.title' | translate}}
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
              <mat-icon aria-hidden="false">chevron_right</mat-icon>
            </button>
            <div class="dropdown-divider"></div>
            
              <button  *ngIf="!showAdminMSg" ngbDropdownItem (click)="openModal()">{{"menu.logout" | translate}}
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <mat-icon aria-hidden="false">chevron_right</mat-icon>
              </button>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<!--end nav-->

<section class="px-3 notification-bar" *ngIf="isNotification">
  <div class="container">
    <div class="row">
      <div class="col-12 py-2">
        <div class="d-flex align-items-center border-0" role="alert">
          <i class="material-icons">
            <div class="h2 text-white">
              circle_notifications
            </div>
          </i>
          <div class="ps-3">
            <a class="text-white notification-bar-link" href='javascript:void(0);' (click)="openNotification()">{{"welcomePage.header1" | translate}}{{this.messages?.actions?.length}}{{"welcomePage.action" | translate}}{{this.messages?.messages?.length}}{{"welcomePage.message" | translate}}</a>
          </div>
        </div>
      </div>
    </div>
    <!--end Row-->
  </div>
  <!--end Container-->
</section>
<!--end Section-->
<div *ngIf="!showAdminMSg">
  <modal #modal [modalConfig]="modalConfig" (cancelEvent)="cancelEvent($event)" (exitEvent)="exitEvent($event)"
    [logOut]=true>

  </modal>
</div>
<div *ngIf="showAdminMSg">
  <modal #modal [modalConfig]="modalConfig" (cancelEvent)="cancelEvent($event)" (exitEvent)="exitEvent($event, homeNo)"
    [exitHousehold]=true>

  </modal>
</div>