
<section class="px-3 pb-4">
    <div class="container">
        <div class="row">
            <h1></h1>
            <p>
                Please enter your email below to reset your password.
            </p>
        </div><!--end Row-->
    </div><!--end Container-->
</section><!--end Section-->

<section class="px-3 pb-4">
    <div class="container">
        <div class="row">
  
    <form class="col-md-6" [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
        <div class="bg-white shadow-sm rounded p-4">
    <div class="form-group mb-3">
        <label for="inputEmail" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail" formControlName="email"
            aria-describedby="emailHelp">
        <span class="text-danger"
            *ngIf="(forgotFormControl.email.touched || submitted) && forgotFormControl.email.errors?.required">
            Email is required
        </span>
        <span class="text-danger"
            *ngIf="forgotFormControl.email.touched && forgotFormControl.email.errors?.email">
            Enter a valid email address
        </span>
    </div>
    <div class="form-group mb-3">
        <button class="btn btn-primary" (click)="onSubmit()">Request</button>
    </div>
        </div>
    <div class="mb-3">
        <a [routerLink]="['/login/login']" class ="font-size: small">Back to sign in?</a>
    </div>
</form>
</div>
</div>
</section>