<div class="row col-md-6">
    <h1> Ready ? Let`s create your account</h1>
    <form class="col-md-6" [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
    <div class="form-group mb-3">
        <label for="inputEmail" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail" formControlName="email"
            aria-describedby="emailHelp">
        <span class="text-danger"
            *ngIf="(forgotFormControl.email.touched || submitted) && forgotFormControl.email.errors?.required">
            Email is required
        </span>
        <span class="text-danger"
            *ngIf="forgotFormControl.email.touched && forgotFormControl.email.errors?.email">
            Enter a valid email address
        </span>
    </div>
    <div class="form-group mb-3">
        <button class="btn btn-primary">Request</button>
    </div>
    <div class="mb-3">
        <a href="#" class ="font-size: small">Back to sign in</a>
    </div>
</form>
</div>