<nav class="px-3 mt-4">
    <div class="container">
        <ol class="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink] = "['/welcome']">{{'Home.title' | translate}}</a></li>
                <li class="breadcrumb-item"><a [routerLink] = "['/survey/survey']">{{'surveyHub.title' | translate}}</a></li>
                <li class="breadcrumb-item"><a [routerLink] = "['/survey/household-devices']">{{'householdDevices.title' | translate}}</a></li>
                <li class="breadcrumb-item"><a [routerLink] = "['/survey/deviceList/'+deviceState]">
                    <span *ngIf="this.deviceState =='Inprogress'">{{'householdDevices.householdDevicesActionsLabel2' | translate}}</span>
                    <span *ngIf="this.deviceState =='Completed'">{{'householdDevices.householdDevicesHistoryLabel1' | translate}}</span>
                    <span *ngIf="this.deviceState =='New'">{{'householdDevices.householdDevicesActionsLabel1' | translate}}</span>
                    <span *ngIf="this.deviceState =='Notused'">{{'householdDevices.householdDevicesHistoryLabel2' | translate}}</span>
                </a></li>
                <li class="breadcrumb-item active" aria-current="page">{{deviceName}}</li>
                <!--has to reflect devices name here-->
            </ol>
        </ol>
    </div>
</nav>

<section class="px-3 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>{{this.deviceName}}</h1>
                <p>
                    You are about to edit a survey that you completed earlier for the device above. Please select the section that you’d like to edit from the list below. 
                </p>
            </div>
        </div><!--end Row-->
    </div><!--end Container-->
</section><!--end Section-->


<!--Device Info Section-->
<section class="px-3 pb-4">
    <div class="container">
        <div class="row">
            <!--Platform-->
            <div class="d-flex align-items-center mb-3">
                <i class="material-icons d-flex h-100">
                    <div class="h4 m-0">feed</div>
                </i>
                <div class="ps-3 description">
                    <p><strong>{{"deviceInformation.devicePlatform" | translate }}:</strong></p>
                    <span>{{deviceInformation?.devicePlatform}}</span>
                </div>
            </div>
             <!--Name-->
             <div class="d-flex align-items-center mb-3">
                <i class="material-icons d-flex h-100">
                    <div class="h4 m-0">feed</div>
                </i>
                <div class="ps-3 description">
                    <p><strong>{{"completedDevices.deviceName" | translate }}:</strong></p>
                    <span>{{deviceInformation?.deviceName}}</span>
                </div>
            </div>
               <!--OS-->
               <div class="d-flex align-items-center mb-3">
                <i class="material-icons d-flex h-100">
                    <div class="h4 m-0">feed</div>
                </i>
                <div class="ps-3 description">
                    <p><strong>{{"deviceInformation.operationSystem" | translate }}:</strong></p>
                    <span>{{deviceInformation?.os}}</span>
                </div>
            </div>
             <!--MAC address-->
             <div class="d-flex align-items-center mb-3">
                <i class="material-icons d-flex h-100">
                    <div class="h4 m-0">feed</div>
                </i>
                <div class="ps-3 description">
                    <p><strong>{{"deviceInformation.address" | translate }}:</strong></p>
                    <span>{{deviceInformation?.macAddress}}</span>
                </div>
                </div>
        </div><!--end Row-->
    </div><!--end Container-->
</section><!--end Section-->
          
<!-- Sections Overview -->
<section class="px-3 pb-5" *ngIf ="panelListType == 'VAM'">
    <div class="container">
        <div class="row g-4" *ngIf = "userSize != '0'">
            <h2>Completed sections<span class="h2-separator"></span></h2>
            <p class="mt-2 mb-0">Select section to review or make changes.</p>

             <!-- Section-->
             <a [routerLink] = "['/survey/deviceInformation/'+deviceState+ '/' +deviceId]" [queryParams]="{ isNotAutoSave: true}">
                <div class="message-card d-flex align-items-center bg-white shadow-sm rounded">
                    <i class="material-icons p-3 completed-devices-icon d-flex  align-items-center h-100">
                        <div class="h1 mb-0">segment</div>
                    </i>
                    <div class="ps-3">
                        <h3 class="m-0">Device information</h3> 
                    </div>
                    <i class="material-icons ms-auto pe-3">  
                        arrow_forward_ios
                    </i>
                </div>
            </a>

             <!-- Section-->
             <a [routerLink] = "['/survey/deviceOwnerInformation/'+deviceState+ '/' +deviceId]" [queryParams]="{ isNotAutoSave: true}">
                <div class="message-card d-flex align-items-center bg-white shadow-sm rounded">
                    <i class="material-icons p-3 completed-devices-icon d-flex  align-items-center h-100">
                        <div class="h1 mb-0">segment</div>
                    </i>
                    <div class="ps-3">
                        <h3 class="m-0">Owner information</h3> 
                    </div>
                    <i class="material-icons ms-auto pe-3">  
                        arrow_forward_ios
                    </i>
                </div>
            </a>

             <!-- Section-->
             <a [routerLink] = "['/survey/multiUserList/'+deviceState+ '/' +deviceId]" [queryParams]="{ isNotAutoSave: true}">
                <div class="message-card d-flex align-items-center bg-white shadow-sm rounded">
                    <i class="material-icons p-3 completed-devices-icon d-flex  align-items-center h-100">
                        <div class="h1 mb-0">segment</div>
                    </i>
                    <div class="ps-3">
                        <h3 class="m-0">Multiple users</h3> 
                    </div>
                    <i class="material-icons ms-auto pe-3">  
                        arrow_forward_ios
                    </i>
                </div>
            </a>

             <!-- Section-->
             <a [routerLink] = "['/survey/deviceUsage/'+deviceState+ '/' +deviceId]" [queryParams]="{ isNotAutoSave: true}">
                <div class="message-card d-flex align-items-center bg-white shadow-sm rounded">
                    <i class="material-icons p-3 completed-devices-icon d-flex  align-items-center h-100">
                        <div class="h1 mb-0">segment</div>
                    </i>
                    <div class="ps-3">
                        <h3 class="m-0">Devices usage</h3> 
                    </div>
                    <i class="material-icons ms-auto pe-3">  
                        arrow_forward_ios
                    </i>
                </div>
            </a>

        </div><!--end Row-->

        <div class="row g-4" *ngIf = "userSize == '0'">
            <h2>Completed sections<span class="h2-separator"></span></h2>
            <p class="mt-2 mb-0">Select section to review or make changes.</p>

             <!-- Section-->
             <a [routerLink] = "['/survey/deviceInformation/'+deviceState+ '/' +deviceId]"  [queryParams]="{ isNotAutoSave: true}">
                <div class="message-card d-flex align-items-center bg-white shadow-sm rounded">
                    <i class="material-icons p-3 completed-devices-icon d-flex  align-items-center h-100">
                        <div class="h1 mb-0">segment</div>
                    </i>
                    <div class="ps-3">
                        <h3 class="m-0">Device information</h3> 
                    </div>
                    <i class="material-icons ms-auto pe-3">  
                        arrow_forward_ios
                    </i>
                </div>
             </a>

             <!-- Section-->
             <a [routerLink] = "['/survey/deviceOwnerInformation/'+deviceState+ '/' +deviceId]"  [queryParams]="{ isNotAutoSave: true}">
                <div class="message-card d-flex align-items-center bg-white shadow-sm rounded">
                    <i class="material-icons p-3 completed-devices-icon d-flex  align-items-center h-100">
                        <div class="h1 mb-0">segment</div>
                    </i>
                    <div class="ps-3">
                        <h3 class="m-0">Owner information</h3> 
                    </div>
                    <i class="material-icons ms-auto pe-3">  
                        arrow_forward_ios
                    </i>
                </div>
            </a>

             <!-- Section-->
             <a (click)="preSelectPage(true)">               
                <div class="message-card d-flex align-items-center bg-white shadow-sm rounded">
                    <i class="material-icons p-3 completed-devices-icon d-flex  align-items-center h-100">
                        <div class="h1 mb-0">segment</div>
                    </i>
                    <div class="ps-3">
                        <h3 class="m-0">Pre-selected GENRES Page</h3> 
                    </div>
                    <i class="material-icons ms-auto pe-3">  
                        arrow_forward_ios
                    </i>
                </div>
             </a>

             <!-- Section-->
             <a (click)="preSelectPage(false)">
                <div class="message-card d-flex align-items-center bg-white shadow-sm rounded">
                    <i class="material-icons p-3 completed-devices-icon d-flex  align-items-center h-100">
                        <div class="h1 mb-0">segment</div>
                    </i>
                    <div class="ps-3">
                        <h3 class="m-0">Pre-selected Tv Internet channels page</h3> 
                    </div>
                    <i class="material-icons ms-auto pe-3">  
                        arrow_forward_ios
                    </i>
                </div>
              </a>

        </div><!--end Row-->
    </div><!--end Container-->
</section><!--end Section-->
<section *ngIf ="panelListType == 'SSP'">
    <div class="container">
        <div class="row g-4" *ngIf = "userSize != '0'">
            <h2>Completed sections<span class="h2-separator"></span></h2>
            <p class="mt-2 mb-0">Select section to review or make changes.</p>

             <!-- Section-->
             <a [routerLink] = "['/survey/deviceInformation/'+deviceState+ '/' +deviceId]" [queryParams]="{ isNotAutoSave: true}">
                <div class="message-card d-flex align-items-center bg-white shadow-sm rounded">
                    <i class="material-icons p-3 completed-devices-icon d-flex  align-items-center h-100">
                        <div class="h1 mb-0">segment</div>
                    </i>
                    <div class="ps-3">
                        <h3 class="m-0">Device information</h3> 
                    </div>
                    <i class="material-icons ms-auto pe-3">  
                        arrow_forward_ios
                    </i>
                </div>
            </a>

             <!-- Section-->
             <a [routerLink] = "['/survey/deviceOwnerInformation/'+deviceState+ '/' +deviceId]" [queryParams]="{ isNotAutoSave: true}">
                <div class="message-card d-flex align-items-center bg-white shadow-sm rounded">
                    <i class="material-icons p-3 completed-devices-icon d-flex  align-items-center h-100">
                        <div class="h1 mb-0">segment</div>
                    </i>
                    <div class="ps-3">
                        <h3 class="m-0">Owner information</h3> 
                    </div>
                    <i class="material-icons ms-auto pe-3">  
                        arrow_forward_ios
                    </i>
                </div>
            </a>

</div>
</div>


</section>

