<!DOCTYPE html>
<html lang="en">


<body>


    
    <!-- Breadcrumbs -->
    <nav class="px-3 mt-4">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home Page</a></li>
                <li class="breadcrumb-item active" aria-current="page">Thank you</li>
            </ol>
        </div>
    </nav>

    <!--h1 Intro Section-->
    <section class="px-3 pb-4">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Thank you</h1>
                    <p>
                        You have successfully submitted your information to us. 
                    </p>
                </div>
                
            </div><!--end Row-->
        </div><!--end Container-->
    </section><!--end Section-->
  

</body>
</html>