<!-- Breadcrumbs -->

<nav class="px-3 mt-4">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/welcome']">{{'Home.title' | translate}}</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/survey/survey']">{{'surveyHub.title' | translate}}</a></li>
            <ng-container *ngIf="isTvGenere else device">
                <li class="breadcrumb-item"><a
                        [routerLink]="['/television/household-members']">{{'houseHold.televisionCardTitle' | translate}}</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">{{memberName}}</li>
            </ng-container>
            <ng-template #device>
                <li class="breadcrumb-item"><a [routerLink]="['/survey/household-devices']">{{'householdDevices.title' |
                        translate}}</a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/survey/deviceList/'+deviceState]">
                        <span *ngIf="this.deviceState =='Inprogress'">{{'householdDevices.householdDevicesActionsLabel2'
                            | translate}}</span>
                        <span *ngIf="this.deviceState =='Completed'">{{'householdDevices.householdDevicesHistoryLabel1'
                            | translate}}</span>
                        <span *ngIf="this.deviceState =='New'">{{'householdDevices.householdDevicesActionsLabel1' |
                            translate}}</span>
                        <span *ngIf="this.deviceState =='Notused'">{{'householdDevices.householdDevicesHistoryLabel2' |
                            translate}}</span>
                    </a></li>
                <li class="breadcrumb-item active" aria-current="page">{{deviceName}}</li>
            </ng-template>
        </ol>
    </div>
</nav>

<!-- SURVEY HUB PAGE -->

<!--h1 Intro Section-->
<section class="px-3 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>{{memberName}}</h1>
                <p *ngIf="isTvGenere">
                    <!-- {{'selectgenres.description' | translate}} -->
                    {{"select-channels.heading1" | translate }}
                </p>
                <p *ngIf="!isTvGenere">
                    <!-- {{'selectgenres.description' | translate}} -->
                    {{"select-channels.heading2" | translate }}{{deviceName}}.{{"select-channels.heading3" | translate }}
                </p>
            </div>
        </div>
        <!--end Row-->
    </div>
    <!--end Container-->
</section>
<!--end Section-->

<!-- New Devices Overview Page -->
<section class="px-3 pb-5">
    <div class="container">
        <div class="row g-4">
            <!-- <h2>{{'genres.heading' | translate}}<span class="h2-separator"></span></h2> -->
            <h2> {{"select-channels.sub-heading" | translate }}</h2>
            <form [formGroup]="timeLinesForm" (ngSubmit)="submit()">
                <!-- Genres wrapper-->
                <div class="accordion accordion-flush" id="genres-target">
                    <!-- Accoridian Genre Tab 1 -->
                    <ng-container *ngFor="let genere of genreFormArray.controls; let i = index">
                        <div class="form-check">
                            <label formArrayName="genere" class="form-check-label">
                                <input [formControlName]="i" class="form-check-input" type="checkbox"
                                    (change)="updateTimeLine($event,i)" role="button">
                                {{generes[i].name | translate}}
                            </label>
                        </div>
                    </ng-container>

                   
                </div>
                <div>
                    <input type="radio" value=1 (change)="unCheck()" formControlName="dont" name="dont" /> {{"televisionChannels.dontWatch" | translate }}
                    
                </div>
                <div *ngIf="!isValid || showError" style="color:red">
                    {{"genres.error" | translate }}
                    </div>
                <!--end Ganres-->

                <!-- Action buttons -->
                <div class="col-xs-6 d-grid gap-2 d-md-block" *ngIf = "deviceState != 'Completed'">
                    <button type="button" class="btn btn-dark" (click)="backAction()">{{'genres.backButton' |
                        translate}}</button>
                    <button type="button" (click)="openModal()" class="btn btn-secondary ms-md-3">{{'genres.SaveButton'
                        | translate}}</button>
                    <button type="submit" (click)="submit()" class="btn btn-primary ms-md-3" *ngIf ="!reset">{{'genres.continueButton' |
                        translate}}</button>
                        <button type="submit" (click)="submit()" class="btn btn-primary ms-md-3" *ngIf ="reset">{{'deviceUsage.Submit' |
                            translate}}</button>
                    <!-- <ng-template #submit1>
                    <button type="submit" (click)="submit()" class="btn btn-primary ms-md-3">Submit
                    </button>
                </ng-template> -->
                </div>
                <div class="col-xs-6 d-grid gap-2 d-md-block" *ngIf = "deviceState == 'Completed'">
                    <button type="button" class="btn btn-dark" (click)="completedBackurl()">{{'deviceInformation.cancelButton' | translate}}</button>
                    <button type="submit" (click)="submit()" class="btn btn-primary ms-md-3">{{'genres.continueButton' | translate}}</button>
                </div>
            </form>
        </div>
        <!--end Row-->
    </div>
    <!--end Container-->
</section>
<!--end Section-->
<modal #modal [modalConfig]="modalConfig" (cancelEvent)="cancelEvent($event)" (exitEvent)="exitEvent($event)">
    <!--  body of the modal  -->
</modal>