.btn {
    width: 85px;
    height: 30px;
    font-size: small;
}

.modal-header {
    background-color: lightgray;
    height: 50px ;
}

.modal-title {
    font-size: medium;
}

.modal-body {
    font-size: small;
}

.modal-footer {
    border-top: none;
}