<ng-template #modal>
  <div class="modal-header">
    <h5 class="modal-title" *ngIf="logOut || IsFromLogin">{{"modalWindow.confirmTittle" | translate }}</h5>
    <h5 class="modal-title" *ngIf="!logOut && !IsFromLogin &&  !isFromAdmin  && !exitHousehold && !IsFromVam">Save and Exit</h5>
    <h5 class="modal-title" *ngIf="!logOut && !IsFromLogin && !isFromAdmin && !exitHousehold && !IsFromVam">{{"modalWindow.modalTitle" | translate }}</h5>
    <h5 class="modal-title" *ngIf="!logOut && !IsFromLogin && isFromAdmin">Take control over portal ?</h5>
    <h5 class="modal-title" *ngIf="exitHousehold">Exit Household ?</h5>
  </div>

  <div class="modal-body" *ngIf="logOut && !IsFromLogin">
    {{"modalWindow.confirmationDescription" | translate }}
  </div>
  <div class="modal-body" *ngIf="!logOut && !IsFromLogin && !isFromAdmin && !exitHousehold"></div>
  <div class="modal-body" *ngIf="!logOut && !IsFromLogin && !IsFromVam && !isFromAdmin && !exitHousehold">
    {{"modalWindow.content" | translate }}
  </div>
  <div class="modal-body" *ngIf="!logOut && IsFromLogin && !isFromAdmin">
    {{"modalWindow.errorMSg" | translate }}
  </div>
  <div class="modal-body" *ngIf="!logOut && !IsFromLogin && isFromAdmin">
    Please ensure that household owner is not currently submitting any progress and not logged in.
  </div>

  <div class="modal-body" *ngIf="exitHousehold">
    Are you sure you want exit household?
  </div>
  <!-- <div class="modal-body" *ngIf="isFromAdmin">
    Are you sure you want to exit household: 0013 ?
  </div> -->
  <div class="modal-body" *ngIf="!logOut && !IsFromLogin && IsFromVam">
    {{"modalWindow.vamModalBody" | translate }}
  </div>

  <div class="modal-footer justify-content-start">
    <button type="button" class=" btn btn-secondary" (click)="cancel()"
      *ngIf="modalConfig.hideDismissButton === undefined || !modalConfig.hideDismissButton()"
      [disabled]="modalConfig.disableDismissButton !== undefined && modalConfig.disableDismissButton()">
      {{ "modalWindow.dismissButtonLabel" | translate }}
    </button>
    <ng-container *ngIf="!logOut && !IsFromLogin">
      <button type="button" class="btn btn-primary" (click)="exit()"
        *ngIf="modalConfig.hideCloseButton === undefined || !modalConfig.hideCloseButton()"
        [disabled]="modalConfig.disableCloseButton !== undefined && modalConfig.disableCloseButton()">
        {{ "modalWindow.closeButtonLabel" | translate }}
      </button>
    </ng-container>
    <ng-container *ngIf="logOut || IsFromLogin">
      <button type="button" class="btn btn-primary" (click)="exit()"
        *ngIf="modalConfig.hideCloseButton === undefined || !modalConfig.hideCloseButton()"
        [disabled]="modalConfig.disableCloseButton !== undefined && modalConfig.disableCloseButton()">
        {{ "modalWindow.closeButtonLabelLogout" | translate }}
      </button>
    </ng-container>

  </div>
</ng-template>