<ng-template #modal>
    <div class="modal-header">
      <h5 class="modal-title" *ngIf ="logOut">{{"modalWindow.confirmTittle" | translate }}</h5>
      <h5 class="modal-title" *ngIf ="!logOut">{{"modalWindow.modalTitle" | translate }}</h5>
    </div>
    <div class="modal-body"  *ngIf ="logOut">
      {{"modalWindow.confirmationDescription" | translate }}
    </div>
    <div class="modal-body" *ngIf ="!logOut">
      {{"modalWindow.content" | translate}}
   </div>
    <div class="modal-footer justify-content-start">
      <button type="button"
              class=" btn btn-secondary"
              (click)="cancel()"
              *ngIf="modalConfig.hideDismissButton === undefined || !modalConfig.hideDismissButton()"
              [disabled]="modalConfig.disableDismissButton !== undefined && modalConfig.disableDismissButton()">
        {{ "modalWindow.dismissButtonLabel" | translate }}
      </button>
      <button type="button"
              class="btn btn-primary"
              (click)="exit()"
              *ngIf="modalConfig.hideCloseButton === undefined || !modalConfig.hideCloseButton()"
              [disabled]="modalConfig.disableCloseButton !== undefined && modalConfig.disableCloseButton()">
        {{ "modalWindow.closeButtonLabel" | translate }}
      </button>
    </div>
  </ng-template>