<!DOCTYPE html>
<html lang="en">
 


<body>

    <!-- Breadcrumbs -->
    <nav class="px-3 mt-4">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/welcome']">{{'Home.title' | translate}}</a></li>
                <li class="breadcrumb-item"><a [routerLink] = "['/survey/survey']">{{'surveyHub.title' | translate}}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{"demographics.tittle" | translate}}</li>
            </ol>
        </div>
    </nav>

    <!--h1 Intro Section-->
    <section class="px-3 pb-4">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>{{"demographics.tittle" | translate}}</h1>
                    <p>
                        {{"demographics.description1" | translate}}
                    </p>
                </div><!--end col-->
            </div><!--end Row-->
        </div><!--end Container-->
    </section><!--end Section-->

    <section class="px-3 pb-4">
        <div class="container">
            <!--Thumbnails-->
            <div class="row g-4">
                <!--Card-->
                <div class="col-md-4">
                    <div class="card shadow-sm rounded border-0">
                        <div class="card-body">
                        <h5 class="card-title">{{"demographics.card1" | translate}}</h5>
                        <p class="card-text">{{"demographics.card1Description" | translate}}</p>
                        <a [routerLink] = "['/demographics/demographics-individual-members']" class="btn btn-light">{{"demographics.continueButton" | translate}}</a>
                        </div>
                    </div>
                </div>
                <!--Card-->
                <div class="col-md-4">
                    <div class="card shadow-sm rounded border-0">
                        <div class="card-body">
                        <h5 class="card-title">{{"demographics.card2" | translate}}</h5>
                        <p class="card-text">{{"demographics.card2Description" | translate}}</p>
                        <a [routerLink] = "['/demographics/demographics-owner']" class="btn btn-light mt-4">{{"demographics.continueButton" | translate}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--end Container-->
    </section><!--end Section-->     
</body>
</html>