<nav class="px-3 mt-4">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/welcome']">{{'Home.title' | translate}}</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['../survey']">{{'surveyHub.title' | translate}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{'householdDevices.title' | translate}}</li>
        </ol>
    </div>
</nav>
<!-- SURVEY HUB PAGE -->

<!--h1 Intro Section-->
<section class="px-3 pb-1">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>{{'householdDevices.title' | translate}}</h1>
                <p>
                    
                </p>{{'householdDevices.description' | translate}}
            </div>
        </div>
        <!--end Row-->
    </div>
    <!--end Container-->
</section>
<!--end Section-->

<!-- Aсtion Rquird Section - If there are no actions such in prgroress or new then the whole section not visible-->
<section class="px-3 pb-5">
    <div class="container">
        <div class="row g-4">
            <h2>{{'householdDevices.householdDevicesActionsTitle' | translate}} <span class="h2-separator"></span></h2>
            <p class="mt-2 mb-0">{{"householdDevices.newDescription" | translate}} {{"householdDevices.progressDescription" | translate}}</p>
            <!-- New Devices -->
            <a [routerLink]="['../deviceList/New']" class="col-md-6">
                <div class="message-card d-flex align-items-center bg-white shadow-sm rounded">
                    <i class="material-icons-outlined p-3 new-devices-icon d-flex icon-red align-items-center h-100">
                        <div class="h1 mb-0">event_note</div>
                    </i>
                    <div class="ps-3 description">
                        <h3 class="text-truncate">{{'householdDevices.householdDevicesActionsLabel1' | translate}}</h3>
                        <p>{{'householdDevices.householdDevicesStatus' | translate}}: <span>{{deviceCount?.newCount}}</span></p>
                    </div>
                    <i class="material-icons ms-auto pe-3">
                        arrow_forward_ios
                    </i>
                </div>
            </a>

            <!-- In Progress Devices -->
            <a [routerLink]="['../deviceList/Inprogress']" class="col-md-6">
                <div class="message-card d-flex align-items-center bg-white shadow-sm rounded">
                    <i class="material-icons-outlined p-3 in-progress-icon d-flex icon-red align-items-center h-100">
                        <div class="h1 mb-0">bookmark_border</div>
                    </i>
                    <div class="ps-3 description">
                        <h3 class="text-truncate">{{'householdDevices.householdDevicesActionsLabel2' | translate}}</h3>
                        <p>{{'householdDevices.householdDevicesStatus' | translate}}: <span>{{deviceCount?.inProgressCount}}</span></p>
                    </div>
                    <i class="material-icons ms-auto pe-3">
                        arrow_forward_ios
                    </i>
                </div>
            </a>

            <!-- In Progress Devices -->
            <h2>{{'householdDevices.householdDevicesHistoryTitle' | translate}} <span class="h2-separator"></span></h2>
            <p class="mt-2 mb-0">Completed devices show surveys that you have completed. You can review, change and resubmit any of
                these surveys. Devices that are not in use shows surveys for devices you marked "not in use". If you ever put them to use again, please tap to update their status. </p>
            <a [routerLink]="['../deviceList/Completed']" class="col-md-6">
                <div class="message-card d-flex align-items-center bg-white shadow-sm rounded">
                    <i class="material-icons-outlined p-3 completed-devices-icon  d-flex icon-red align-items-center h-100">
                        <div class="h1 mb-0">verified</div>
                    </i>
                    <div class="ps-3 description">
                        <h3 class="text-truncate">{{'householdDevices.householdDevicesHistoryLabel1' | translate}}</h3>
                        <p>{{'householdDevices.householdDevicesStatus' | translate}}: <span>{{deviceCount?.completedCount}}</span></p>
                    </div>
                    <i class="material-icons ms-auto pe-3">
                        arrow_forward_ios
                    </i>
                </div>
            </a>
            <!-- not in use Devices -->
            <a [routerLink]="['../deviceList/Notused']" class="col-md-6">
                <div class="message-card d-flex align-items-center bg-white shadow-sm rounded">
                    <i class="material-icons-outlined p-3 not-in-use-icon d-flex icon-red align-items-center h-100">
                        <div class="h1 mb-0">report_off</div>
                    </i>
                    <div class="ps-3 description">
                        <h3 class="text-truncate">{{'householdDevices.householdDevicesHistoryLabel2' | translate}}</h3>
                        <p>{{'householdDevices.householdDevicesStatus' | translate}}: <span>{{deviceCount?.notInUseCount}}</span></p>
                    </div>
                    <i class="material-icons ms-auto pe-3">
                        arrow_forward_ios
                    </i>
                </div>
            </a>

        </div>
        <!--end Row-->
    </div>
    <!--end Container-->
</section>
<!--end Section-->

