<!-- <br />
<ng-container>
    <h3>{{houseHold? question?.hhQueNo : question?.queNo }}.{{ isFrance? question?.titleFr: question?.title}}</h3>
    <div class="container">
        <div class="top-left"></div>
        <div class="top-right">
            <ng-container *ngFor="let column of cols; let i = index">
                <div class="flex-item">{{column?.text}}</div>
            </ng-container>
        </div>
    </div>
    <div [formGroup]="childFormGroup"  class="container" *ngFor="let row of question?.row;let i=index"
        [style.background-color]="i%2 == 1 ? '#888' : ''">
        <div class="top-left">{{row?.text}}</div>
        <div class="top-right">
            <ng-container *ngFor="let column of cols;let j=index">
                <input (change)="changeEvent(row?.value,column?.value)"
                [formControlName]="question?.queNo+''+row?.value" class="form-check-input" type="radio"
                     [value]="column?.value" />
            </ng-container>
        </div>
    </div>
    <span class="danger" *ngIf= "childFormGroup?.invalid && buttonClicked">
        Please select all the fields. 
    </span> 
</ng-container> -->

<ng-container>
    <div class="mb-4">
        <h4>{{ isFrance? question?.titleFr: question?.title}}</h4>
        <h4>{{ isFrance? question?.descriptionFr: question?.description}}</h4>
        <div [formGroup]="childFormGroup" *ngFor="let row of question?.row;let i=index">

            <h5 class="pt-2"><u>{{isFrance? row.frText:row?.text}}{{isFrance? row.frDescription:row?.description}}</u></h5>
          
            <ng-container *ngFor="let column of groupedCols[row.value]; let j=index">
                <div class="form-check mb-3">
                    <input (change)="changeEvent(row?.value,column?.value)"
                        [formControlName]="question?.queNo+''+row?.value" class="form-check-input" type="radio"
                        id="row{{houseHold? question?.hhQueNo : question?.queNo}}{{i}}{{j}}" [value]="column?.value">
                    <label class="form-check-label"
                        for="row{{houseHold? question?.hhQueNo : question?.queNo}}{{i}}{{j}}">{{isFrance? column.frText: column?.text}}
                    </label>
                </div>
            </ng-container>
            <div *ngIf="groupedCols[row.value]">
            <span class="danger" *ngIf="childFormGroup.get('' + this.question?.queNo + row.value)?.errors?.required && buttonClicked">
                {{'required.select-all-answers' | translate}}
          </span>
        </div>
        </div>
    </div>
</ng-container>
