.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid blue;
  }
  
  .top-left {
    min-width: 30%;
  }
  
  .top-right {
    display: flex;
    margin-left: auto;
  }

  .flex-item {
    padding: .5em;
    width: 70px;
    overflow-wrap: break-word;
    text-align: -webkit-center;
  }

  /* .item {
    border-bottom: 1px solid blue;
    background-color: aliceblue;
  } */