

<!-- Breadcrumbs -->
<nav class="px-3 mt-4">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink] = "['/welcome']">{{'Home.title' | translate}}</a></li>
            <li class="breadcrumb-item"><a [routerLink] = "['/survey/survey']">{{'surveyHub.title' | translate}}</a></li>
            <li class="breadcrumb-item"><a [routerLink] = "['/survey/household-devices']">{{'householdDevices.title' | translate}}</a></li>
            <li class="breadcrumb-item"><a [routerLink] = "['/survey/deviceList/'+deviceState]">
                <span *ngIf="this.deviceState =='Inprogress'">{{'inProgressDevices.title' | translate}}</span>
                <span *ngIf="this.deviceState =='Completed'">{{'completedDevices.title' | translate}}</span>
                <span *ngIf="this.deviceState =='Notused'">{{'notInUse.title' | translate}}</span>
                <span *ngIf="this.deviceState =='New'">{{'newDevices.title' | translate}}</span>
            </a></li>
            <li class="breadcrumb-item active" aria-current="page">{{deviceName}}</li>
            <!--has to reflect devices name here-->
        </ol>
    </div>
</nav>

<!-- SURVEY HUB PAGE -->

<!--h1 Intro Section-->
<section class="px-3 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>
                    <!--Select Devices-->{{deviceName}}
                </h1>
                <p>
                    {{"deviceInformation.description" | translate }} {{deviceName}}
                </p>
            </div>
            <!--end col-->
        </div>
        <!--end Row-->
    </div>
    <!--end Container-->
</section>
<!--end Section-->

<!--Device Info Section-->
<section class="px-3 pb-4">
    <div class="container">
        <div class="row">
            <!--Platform-->
            <div class="d-flex align-items-center mb-3">
                <i class="material-icons d-flex h-100">
                    <div class="h4 m-0">feed</div>
                </i>
                <div class="ps-3 description">
                    <p><strong>{{"deviceInformation.devicePlatform" | translate }}:</strong></p>
                    <span>{{deviceInformation?.devicePlatform}}</span>
                </div>
            </div>
            <!--OS-->
            <div class="d-flex align-items-center mb-3">
                <i class="material-icons d-flex h-100">
                    <div class="h4 m-0">feed</div>
                </i>
                <div class="ps-3 description">
                    <p><strong>{{"deviceInformation.operationSystem" | translate }}:</strong></p>
                    <span>{{deviceInformation?.os}}</span>
                </div>
            </div>
            <!--MAC address-->
            <div class="d-flex align-items-center mb-3">
                <i class="material-icons d-flex h-100">
                    <div class="h4 m-0">feed</div>
                </i>
                <div class="ps-3 description">
                    <p><strong>{{"deviceInformation.address" | translate }}:</strong></p>
                    <span>{{deviceInformation?.macAddress}}</span>
                </div>
            </div>
        </div>
        <!--end Row-->
    </div>
    <!--end Container-->
</section>
<!--end Section-->


<section class="px-3 pb-4">
    <div class="container">
        <div class="row pb-4">
            <h2>{{"deviceInformation.heading" | translate }}<span class="h2-separator"></span></h2>
            <div class="col-12 mt-3">
                <div class="shadow-sm rounded bg-white p-4 mb-4">
                    <form [formGroup]="deviceInfoForm">
                        <!-- Question 1 -->
                        <h4>{{"deviceInformation.description2" | translate }}{{deviceName}}{{"deviceInformation.description3" | translate }}</h4>
                        <div class="mb-4">
                            <label for="question1" class="form-label">{{"deviceInformation.heading2" | translate }}</label>
                            <input type="input" class="form-control" id="question1" formControlName="deviceNickName" name ="deviceNickName" (keyup) ="updateForm()"  [readOnly] = "deviceState == 'Completed'">
                        </div>
                        <!-- Question 2 -->
                        <div class="mb-4">
                            <h4>{{"deviceInformation.q1" | translate }}</h4>
                            <div class="form-check mb-2">
                                <input formControlName="numberOfUsers" class="form-check-input" type="radio" (change)="updateForm()" name="numberOfUsers" id="Radio1" value=0>
                                <label class="form-check-label" for="Radio1">{{"deviceInformation.q1Option1" | translate }}</label>
                            </div>
                            <div class="form-check mb-2">
                                <input formControlName="numberOfUsers" class="form-check-input" type="radio" (change)="updateForm()" name="numberOfUsers" id="Radio2" value=1>
                                <label class="form-check-label" for="Radio2">{{"deviceInformation.q1Option2" | translate }}</label>
                            </div>
                            <div class="form-check">
                                <input formControlName="numberOfUsers" class="form-check-input" type="radio" (change)="setNotInuse()" name="numberOfUsers" id="Radio5" value=4>
                                <label class="form-check-label" for="Radio5">{{"deviceInformation.q1Option5" | translate }}</label>
                            </div>
                            <div *ngIf="error" class="text-danger mt-4">
                                {{"deviceInformation.error" | translate }} 
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Action buttons -->
                <div class="col-xs-6 d-grid gap-2 d-md-block">
                    <button type="submit" class="btn btn-dark" (click)="backAction()" *ngIf ="!resubmit">{{"deviceInformation.backButton" | translate }}</button>
                    <button type="button" (click)="openModal()"  class="btn btn-secondary ms-md-3" *ngIf ="!resubmit">{{"deviceInformation.SaveButton" | translate }}</button>
                    <button type="submit" (click)="continueNavigate()" class="btn btn-primary ms-md-3" *ngIf ="!resubmit">{{"deviceInformation.continueButton" | translate }}</button>
                    <button type="button"  class="btn btn-dark"  [routerLink] = "['/survey/completed-devices/Completed/' +deviceId]" *ngIf ="resubmit">{{"deviceInformation.cancelButton" | translate }}</button>
                    <button type="button" (click)="resubmitForm()" class="btn btn-primary ms-md-3" *ngIf ="resubmit">{{"deviceInformation.resumitButton" | translate }}</button>
                </div>

            </div>
            <!--end Col-->
        </div>
        <!--end Row-->

    </div>
    <!--end Container-->
</section>
<!--end Section-->
<modal #modal [modalConfig]="modalConfig" (cancelEvent)="cancelEvent($event)" (exitEvent)="exitEvent($event)">
    <!--  body of the modal  -->
  </modal>