<!-- Breadcrumbs -->
<nav class="px-3 mt-4">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/welcome']">Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/survey/survey']">Survey hub</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/survey/household-devices']">Household devices</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/survey/deviceList/'+deviceState]">{{deviceState}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Device name</li>
            <!--has to reflect devices name here-->
        </ol>
    </div>
</nav>

<!-- SURVEY HUB PAGE -->

<!--h1 Intro Section-->
<section class="px-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Device Owner Information</h1>
                <p>
                    Please select the name of the household member who owns this device.
                </p>
            </div>
            <!--end col-->
        </div>
        <!--end Row-->
    </div>
    <!--end Container-->
</section>
<!--end Section-->

<section class="px-3 pb-4">
    <div class="container">
        <div class="row pb-4">
            <div class="col-12 mt-3">
                <form [formGroup]="deviceOwnerInfoForm">
                    <div class="shadow-sm rounded bg-white p-4 mb-4">
                        <select class="form-select" aria-label="Select household member"
                            formControlName="selectedOwner">
                            <option value="">Select Owner</option>
                            <option *ngFor="let item of ownerList" [value]="item.memberNo">
                                {{item.memberName}}
                            </option>
                        </select>
                        <div class ="text-danger mx-2" *ngIf ="error">please select device owner from the list</div>
                    </div>

                    <!-- Action buttons -->
                    <div class="col-xs-6 d-grid gap-2 d-md-block">
                        <button type="submit" class="btn btn-dark">Back</button>
                        <button type="submit" class="btn btn-secondary ms-md-3">Save & Exit</button>
                        <button type="button" (click)="continueNavigate()"
                            class="btn btn-primary ms-md-3">Continue</button>
                    </div>
                </form>
            </div>
            <!--end Col-->
        </div>
        <!--end Row-->
        <!-- Action buttons -->
    </div>
    <!--end Container-->
</section>
<!--end Section-->