<nav class="px-3 mt-4">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/welcome']">Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/account-settings']">Account settings</a></li>
            <li class="breadcrumb-item active" aria-current="page">Privacy policy</li>
        </ol>
    </div>
</nav>

<!-- SURVEY HUB PAGE -->

<!--h1 Intro Section-->
<section class="px-3 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Privacy Policy</h1>
                <p>
                    A short summary of this page goes here suscipit dapibus nisl ut dapibus. Etiam tincidunt dui ut elit pulvinar, et placerat erat semper. 
                </p>
            </div><!--end col-->
        </div><!--end Row-->
    </div><!--end Container-->
</section><!--end Section-->

<section class="px-3 pb-4">
    <div class="container">
        <div class="row pb-4">
            <h2>Review your privacy below<span class="h2-separator"></span></h2>
        </div><!--end Row-->
        <div class="row">
            <div class="col-12">
                <div class="shadow-sm rounded bg-white p-4 mb-4">
                    <h3>Heading</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur tempora quos necessitatibus magni, saepe, quae fugiat natus dolore odio possimus numquam, itaque suscipit impedit ad sunt minus ex est error! Corporis tempora sunt dolores adipisci maxime? Amet veniam laboriosam reiciendis eos provident dolore autem saepe, dolorem itaque quia, libero facere.</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur tempora quos necessitatibus magni, saepe, quae fugiat natus dolore odio possimus numquam, itaque suscipit impedit ad sunt minus ex est error! Corporis tempora sunt dolores adipisci maxime? Amet veniam laboriosam reiciendis eos provident dolore autem saepe, dolorem itaque quia, libero facere.</p>
                    <h3>Heading</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur tempora quos necessitatibus magni, saepe, quae fugiat natus dolore odio possimus numquam, itaque suscipit impedit ad sunt minus ex est error! Corporis tempora sunt dolores adipisci maxime? Amet veniam laboriosam reiciendis eos provident dolore autem saepe, dolorem itaque quia, libero facere.</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur tempora quos necessitatibus magni, saepe, quae fugiat natus dolore odio possimus numquam, itaque suscipit impedit ad sunt minus ex est error! Corporis tempora sunt dolores adipisci maxime? Amet veniam laboriosam reiciendis eos provident dolore autem saepe, dolorem itaque quia, libero facere.</p>
                </div>
                <button type="submit" class="btn btn-secondary">Back</button>
            </div><!--end Col-->
        </div><!--end Row-->

    </div><!--end Container-->
</section><!--end Section-->