    <!-- Breadcrumbs -->
    
    <div id="householdDivId">
    <nav class="px-3 mt-4">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/welcome']">{{'Home.title' | translate}}</a></li>
                <li class="breadcrumb-item"><a [routerLink] = "['/survey/survey']">{{'surveyHub.title' | translate}}</a></li>  
                <li class="breadcrumb-item active" aria-current="page">{{'houseHold.televisionUsage' | translate}}</li>
            </ol>
        </div>
    </nav>

    <!--h1 Intro Section-->
    <section class="px-3 pb-4">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>{{'televisionMembers.tittle' | translate}}</h1>
                    <p>
                        {{'televisionMembers.description' | translate}}
                    </p>
                </div><!--end col-->
            </div><!--end Row-->
        </div><!--end Container-->
    </section><!--end Section-->

    <section class="px-3 pb-4">
        <div class="container">
            <div class="row pb-4">
                <h2>{{'televisionMembers.header' | translate}}: {{members.length}}</h2>
                <p>{{'televisionMembers.subDescription' | translate}}</p>

                <div class="col-12 mt-3">
                    <!-- House Hold Member -->
                    <div class="message-card d-flex align-items-center bg-white shadow-sm rounded mb-3" *ngFor="let member of members">
                        <i class="material-icons p-3 device-usage-icon d-flex icon-red align-items-center h-100">
                            <div class="h1 mb-0">person</div>
                        </i>
                        <div class="ps-3 description">
                            <h3 class="text-truncate"><!-- Name of the household memeber -->{{member.memberName}}</h3>
                            <p class="text-truncate">{{'televisionMembers.statusLabel' | translate}}: <span>{{member.memberSurveyStatus}}</span></p>   
                        </div>
                        
                        <button type="button" class="btn btn-light me-3" *ngIf = "member.memberSurveyStatus == 'Not Started'" (click) = "continueNavigate(member.memberNo,member.memberName) ">{{'deviceUsage.startButton' | translate}}</button>
                        <button type="button" class="btn btn-light me-3" *ngIf = "member.memberSurveyStatus == 'In Progress'" (click) = "continueNavigate(member.memberNo,member.memberName) ">{{'deviceUsage.continueButton' | translate}}</button>
                        <button type="button" class="btn btn-light me-3" *ngIf = "member.memberSurveyStatus == 'Completed'" (click) = "continueNavigate(member.memberNo,member.memberName) ">{{'deviceUsage.completedButton' | translate}}</button>
                    </div>

                </div><!--end Col-->
            </div><!--end Row-->

        </div><!--end Container-->
<!-- 
        <footer class="text-dark bottom-0 custom-footer" >
      
            <i class="material-icons text-white"> </i>
            
            <p>&copy; Numeris ​​2021. All rights reserved.</p>
        
         
        </footer> -->
    </section><!--end Section--> 
</div>
