
<nav class="px-3 mt-4">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/welcome']">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Message center</li>
        </ol>
    </div>
</nav>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Message Center</h1>
                <p>
                    A short summary of this page goes here suscipit dapibus nisl ut dapibus. Etiam tincidunt dui ut elit pulvinar, et placerat erat semper. Etiam tincidunt dui ut elit pulvinar, et placerat erat semper. Phasellus non est sem integer quis condimentum elit. 
                </p>
            </div>
        </div><!--end Row-->
    </div><!--end Container-->
          
<section class="px-2 pb-2">
    <div class="container">
        <div class="row g-4">

            <h2>{{messages?.actions?.length}} Action(s) required<span class="h2-separator"></span></h2>

             <a *ngFor="let action of messages?.actions" [routerLink]="['message']">
                <div class="message-card d-flex align-items-center bg-white shadow-sm rounded">
                    <i class="material-icons p-3 icon-action-required  d-flex icon-red align-items-center h-100">
                        <div class="h1">warning_amber</div>
                    </i>
                    <div class="ps-3 description">
                        <h3 class="truncate">{{action.messageHeader}}</h3>
                        <p class="truncate"><span>{{action.messageDate}} -</span>{{action.messageContent}}</p>   
                    </div>
                    <i class="material-icons ms-auto pe-3">  
                        arrow_forward_ios
                    </i>
                </div>
            </a>
        </div><!--end Row-->
    </div><!--end Container-->
</section><!--end Section-->

<!-- Messaging Section - Always visible !! -->
<section class="px-2 pb-2">
    <div class="container">
        <div class="row g-4">
            <h2>{{messages?.messages.length}} New message(s)<span class="h2-separator"></span></h2>
            <a  *ngFor="let message of messages?.messages" (click)="navToMessageDetail(message)">
                <div class="message-card d-flex align-items-center bg-white shadow-sm rounded">
                    <i class="material-icons-outlined p-3 icon-new-message d-flex icon-red align-items-center h-100">
                        <ng-container *ngIf="message.isRead else unread">
                            <div class="h1">mark_email_read</div>
                        </ng-container>
                        <ng-template #unread> 
                            <div class="h1">email</div>
                        </ng-template>
                    </i>
                    <div class="ps-3 description">
                        <h3 class="ttruncate">{{message.messageHeader}}</h3>
                        <p class="truncate"><span>{{message.messageDate}} -</span> {{message.messageContent}}</p>
                    </div>
                    <i class="material-icons ms-auto pe-3">  
                        arrow_forward_ios
                    </i>
                </div>
            </a>
        </div><!--end Row-->
    </div><!--end Container-->
</section><!--end Section-->
