<br />
<ng-container [formGroup]="childFormGroup">
    <h4>{{ isFrance? question?.titleFr: question?.title}}</h4>
    <h4>{{isFrance? question?.descriptionFr: question?.description}}</h4>
    <ng-container *ngFor="let subQuestion of question.subSurveyQueAnsDTO">
        <div *ngIf = "!subQuestion?.disabled">
        <h4>{{ isFrance? subQuestion?.titleFr: subQuestion?.title}}</h4>
        <h4>{{ isFrance? subQuestion?.descriptionFr: subQuestion?.description}}</h4>
        <div *ngIf="subQuestion?.queType != 'RB' ">
            <!-- <div class="border">
                <div class="top-left">Yes</div>
                <div class="top-right">
                    <input class="form-check-input mb-2" type="radio" [formControlName]="subQuestion?.queId || ''"
                        (change)="changeEvent('Y',false,false, true, subQuestion?.queId, '', 'YES-NO-CY')" value="Y" />
                </div>
            </div> -->
            <div class="form-check mb-2">
                <input class="form-check-input" type="radio"  [formControlName]=" subQuestion?.queId || ''" (change)="changeEvent('Y',false,false, true, subQuestion?.queId, '', 'YES-NO-CY', subQuestion?.noSkip)"  
                value="Y" id="{{subQuestion?.hhQueNo+'Y'}}">
                <label class="form-check-label" for="{{subQuestion?.hhQueNo+'Y'}}">{{'demographics.option1' | translate}}</label>
            </div>
            <!-- <div class="border1 mb-2">
                <div class="top-left">No</div>
                <div class="top-right">
                    <input class="form-check-input mb-2" type="radio" [formControlName]="subQuestion?.queId || ''"
                        (change)="changeEvent('N',false,false, true, subQuestion?.queId, '' , 'YES-NO-CY')" value="N" />
                </div>
            </div> -->
            <div class="form-check mb-2">
                <input class="form-check-input" type="radio" [formControlName]=" subQuestion?.queId|| ''" (change)="changeEvent('N',false,false, true, subQuestion?.queId, '' , 'YES-NO-CY', subQuestion?.noSkip)"
                value="N" id="{{subQuestion?.hhQueNo+'N'}}">
                <label class="form-check-label" for="{{subQuestion?.hhQueNo+'N'}}">{{'demographics.option2' | translate}}</label>
            </div>
        </div>
        <div *ngIf="subQuestion?.queType == 'RB' ">
            <div class="form-check mb-2" *ngFor="let row of subQuestion?.row; let i=index">
                <input class="form-check-input"
                    (change)="changeEvent(''+row?.value,false,false,true,  subQuestion?.queId, '', 'RB' )" type="radio"
                    [formControlName]="subQuestion.queId || ''" [value]="row?.value" id="{{subQuestion?.hhQueNo}}{{i}}">
                <label class="form-check-label" for="{{subQuestion?.hhQueNo}}{{i}}">{{isFrance?
                    row?.frText: row?.text}}{{isFrance?
                        row?.frDescription: row?.description}}</label>
            </div>

        </div>
        errors:{{childFormGroup.get(''+subQuestion?.queId)?.errors | json }}
        <span class="danger" *ngIf="childFormGroup.get(''+subQuestion?.queId)?.errors?.required && pageButtonClicked?.get(newPage) && urlPage!=newPage ">
          {{'required.select-answer' | translate}}
        </span> 
        <!-- <span class="danger" *ngIf="childFormControl(subQuestion?.queId).invalid">
            Please select the field. 
        </span>  -->
        <!-- <span class="danger" *ngIf="yesNoFormControl.errors?.required">
            Please select the field. 
        </span> -->
        <ng-container *ngIf="subQuestion?.queId">
            <ng-container *ngIf="childFormControl(subQuestion?.queId).value=='Y'">
                <div *ngFor="let subQ of subQuestion.subSurveyQueAnsDTO"
                    style="margin-left: 20px !important; margin-bottom: 15px !important;">
                    <div *ngIf="subQ.queType =='TEXT'" class="mb-2">
                        <h4>{{ isFrance? subQ?.titleFr: subQ?.title}}</h4>
                        <h4>{{ isFrance? subQ?.descriptionFr: subQ?.description}}</h4>
                        <input type="text" class="form-control"
                            (focusOut)="changeEvent($event,true,false,false, subQ?.mainQueId, subQ?.queId, 'YES-NO-CY')"
                            (change)="changeEvent($event,true,false,false, subQ?.mainQueId, subQ?.queId)"
                            [formControlName]="subQuestion?.queId+''+subQ?.queId|| ''">
                            <span class="danger" *ngIf="childFormGroup.get(''+subQuestion?.queId+''+subQ?.queId)?.errors?.required && pageButtonClicked?.get(newPage) && urlPage!=newPage">
                                {{'required.select-answer' | translate}}
                            </span>   
                    </div>
                    <div *ngIf="subQ.queType =='RB'" class="mb-2">
                        <h4>{{ isFrance? subQ?.titleFr: subQ?.title}}</h4>
                        <h4>{{ isFrance? subQ?.description: subQ?.description}}</h4>
                        <div class="form-check mb-2" *ngFor="let row of subQ?.row; let i=index">
                            <input class="form-check-input"
                                (change)="changeEvent(''+row?.value,false,true,false, subQ?.mainQueId, subQ?.queId, 'YES-NO-CY')"
                                type="radio" [formControlName]="subQuestion?.queId+''+subQ?.queId|| ''"
                                [value]="row?.value" id="{{subQuestion?.queId}}{{subQ?.queId}}{{i}}">
                            <label class="form-check-label" for = "{{subQuestion?.queId}}{{subQ?.queId}}{{i}}">{{isFrance?
                                row?.frText: row?.text}} {{isFrance?
                                    row?.frDescription: row?.description}}</label>
                                    
                    </div>
                    <div>
                        <span class="danger" *ngIf="childFormGroup.get(''+subQuestion?.queId+''+subQ?.queId)?.errors?.required && pageButtonClicked?.get(newPage) && urlPage!=newPage">
                            {{'required.select-answer' | translate}}
                        </span> 
            </div>
                    </div>
                    <span class="danger" *ngIf="childFormGroup.get(''+subQuestion?.queId)?.errors?.required && pageButtonClicked?.get(newPage) && urlPage!=newPage">
                        {{'required.select-answer' | translate}}
                    </span>  
                </div>
            </ng-container>
        </ng-container>
    </div>
    </ng-container>
    <!-- <div [formGroup]="childFormGroup" class="container" *ngFor="let row of question?.row;let i=index"
        [style.background-color]="i%2 == 1 ? '#888' : ''">
        <div class="top-left">{{row?.text}}</div>
        <div class="top-right">
            <ng-container *ngFor="let column of cols;let j=index">
                <input (change)="changeEvent(row?.value,column?.value)"
                    [formControlName]="question?.queNo+''+row?.value" class="form-check-input" type="radio"
                    [value]="column?.value" />
            </ng-container>
        </div>
    </div> -->
</ng-container>