.top-left {
    width: 80%;
  }
  
  .top-right {
    margin-left: auto;
    margin-right: 20px;
  }
.border{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-bottom:1px solid blue;
  text-align: left;
  text-indent: 20px;
}
.border1{
  background-color: #888;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-bottom:1px solid blue;
  text-align: left;
  text-indent: 20px;
}
.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid blue;
}