<!DOCTYPE html>
<html lang="en">


<body>

   
    
    <!-- Breadcrumbs -->
    <nav class="px-3 mt-4">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="survey-hub.html">Survey hub</a></li>
                <li class="breadcrumb-item"><a href="household-demograpgics.html">Household demographics</a></li>
                <li class="breadcrumb-item active" aria-current="page">Household Owner</li>
            </ol>
        </div>
    </nav>


    <!--h1 Intro Section-->
    <section class="px-3 pb-4">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-5">
                    <h1>Terms of Use</h1>
                    <p>
                        We greatly appreciate your time and effort in completing this questionnaire.
Please answer all the questions by marking (x) in the box that best describes you personally. Please ensure that all household members complete this questionnaire. For children aged 11 and under, a parent or guardian may complete this questionnaire on their behalf.
Once you’ve completed this questionnaire, please mail it to Numeris in the stamped, self-addressed envelope provided.
                    </p>
                    <h2>Your Personal Information</h2>
                    <p>In this questionnaire, Numeris will be gathering personal information about you including: your name, age, sex, marital status, languages spoken, education, occupation and certain behavioural questions (i.e., shopping behaviour). Numeris will use this information only for the purpose of measuring TV and radio audiences. We combine your viewing, listening and personal information with that of other panel members to produce ratings about groups of people only, not individuals. The information from all our panelists is combined and all personally identifiable information is removed.
                    <h2>In addition, the information you provide is confidential.
                    </h2>
                    <p>We never disclose names, addresses or phone numbers of panel members, nor will we ever sell your personal information to a third party, provide it to our members and licensees or include it in our rating service.</p>
                    <p>We may employ other companies to provide services such as the delivery of our mailings or data processing. They may have limited access to your information only to perform these services and are bound by a contract to Numeris not to disclose or use it for any other purposes and must comply with our Privacy Policies.</p>
                    <p>By completing this questionnaire, you consent to the collection of your personal information by Numeris as described above. Please note that you are free to stop participation at any time. You may also choose not to complete the questionnaire, although that will disqualify you from participating in the Numeris Panel.</p>
                    <h2>Confidentiality</h2>
                    <p>We expect that you will keep your participation in the ratings panel confidential and not reveal your identity to any radio or television broadcasters or media/advertising agencies, including via social network sites.</p>
                    <h2>Enquiries</h2>
                    <p>If you have any questions or concerns about how your privacy is protected at Numeris, please go to our website at www.numeris.ca or contact our Privacy Officer by mail at the following address: Privacy Officer, Numeris, 1500 Don Mills Road, 3rd Floor, Toronto, Ontario, M3B 3L7.
                    </p>
                    <div class="form-check mt-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            <strong class="h6">I agree to Terms of Use</strong>
                        </label>
                    </div>
                </div>
               
                 <!-- Action buttons -->
                 <div class="col-xs-6 d-grid gap-2 d-md-block">
                    <button type="button" class="btn btn-dark">Back</button>
                    <button [routerLink] = "['/demographics/demographics-owner-thankyou']" type="button" class="btn btn-primary ms-md-3">Continue</button>
                </div>
               
            </div><!--end Row-->
        </div><!--end Container-->
    </section><!--end Section-->
  

</body>
</html>