<!DOCTYPE html>
<html lang="en">


<body>


    
    <!-- Breadcrumbs -->
    <nav class="px-3 mt-4">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="survey-hub.html">Survey hub</a></li>
                <li class="breadcrumb-item"><a href="household-demograpgics.html">Household demographics</a></li>
                <li class="breadcrumb-item active" aria-current="page">Household Owner</li>
            </ol>
        </div>
    </nav>

    <!--h1 Intro Section-->
    <section class="px-3 pb-4">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1><!--Household Member Name -->Houshold Member Name</h1>
                    <p>
                        Just some quick questions and we’ll call it a wrap! 
                </div><!--end col-->
            </div><!--end Row-->
        </div><!--end Container-->
    </section><!--end Section-->

    <section class="px-3 pb-4">
        <div class="container">
            <div class="row pb-4">
                <h2>Page 1 of 1<span class="h2-separator"></span></h2>
                <div class="col-12 mt-3">
                    <div class="shadow-sm rounded bg-white p-4 mb-4">
                        <form>
                           <!-- Question 1 -->
                            <div class="mb-4">
                                <h4>How many TV sets do you have in your home?
                                </h4>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question1" id="Radio1">
                                    <label class="form-check-label" for="Radio1">None</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question1" id="Radio2">
                                    <label class="form-check-label" for="Radio2">One</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question1" id="Radio3">
                                    <label class="form-check-label" for="Radio3">Two</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question1" id="Radio4">
                                    <label class="form-check-label" for="Radio4">Three</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question1" id="Radio5">
                                    <label class="form-check-label" for="Radio5">Four</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question1" id="Radio6">
                                    <label class="form-check-label" for="Radio6">Five</label>
                                </div>
                            </div>

                            <!-- Question 2 -->
                            <div class="mb-4">
                                <h4>Which of the following income ranges best describes your total annual household income
                                    Form from all sources before taxes, for last year? Please include the income for all household 
                                    Members 15 years of age or older.
                                </h4>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question2" id="Radio6">
                                    <label class="form-check-label" for="Radio6">Under $20,000</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question2" id="Radio7">
                                    <label class="form-check-label" for="Radio7">$20,000-$29,000</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question2" id="Radio8">
                                    <label class="form-check-label" for="Radio8">$30,000-$39,000</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question2" id="Radio9">
                                    <label class="form-check-label" for="Radio9">$40,000-$49,000</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question2" id="Radio10">
                                    <label class="form-check-label" for="Radio5">$50,000-$59,000</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question2" id="Radio11">
                                    <label class="form-check-label" for="Radio11">$60,000-$74,000</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question2" id="Radio12">
                                    <label class="form-check-label" for="Radio12">$75,000-$99,000</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question2" id="Radio13">
                                    <label class="form-check-label" for="Radio13">$100,000-$124,999</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question2" id="Radio14">
                                    <label class="form-check-label" for="Radio14">$125,000-$149,999</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question2" id="Radio15">
                                    <label class="form-check-label" for="Radio15">$150,000-$199,000</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question2" id="Radio16">
                                    <label class="form-check-label" for="Radio10">$200,000 or more</label>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- Action buttons -->
                    <div class="col-xs-6 d-grid gap-2 d-md-block">
                        <button type="submit" class="btn btn-dark">Back</button>
                        <button type="submit" class="btn btn-secondary ms-md-3">Save & Exit</button>
                        <button [routerLink] = "['/demographics/demographics-owner-terms']" type="submit" class="btn btn-primary ms-md-3">Continue</button>
                    </div>
                   
                </div><!--end Col-->
            </div><!--end Row-->

        </div><!--end Container-->
    </section><!--end Section--> 
</body>
</html>