.error{
    color: red;
}
    

.search-wrapper input:focus {
    outline: 0;
    background:white;
    box-shadow: 0 0 2px rgba(0,0,0,0.8) inset;
    padding-left: 50px;
}

.search-wrapper input::-webkit-input-placeholder {
   color:white;
   font-weight: normal;
   font-style: italic;
   padding-left: 50px


}

.search-wrapper input:-moz-placeholder {
    
    color:white;
    font-weight: normal;
    font-style: italic;
    padding-left: 50px
}

.search-wrapper input:-ms-input-placeholder {
    color:white;
    font-weight: normal;
    font-style: italic;
    padding-left: 50px

}   

/* Form submit button */
.search-wrapper button {
    overflow: visible;
    position: absolute;
    float: left;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 20px;
    width: 50px;
    background-color: transparent;
    color: black;
    text-transform: uppercase;
    float: right;
    margin-left: 100px;
    margin-top: -30px;
    z-index:3;
  
   
}  
mat-icon.mat-icon.notranslate.material-icons.mat-icon-no-color {
    margin-left: -210px;
    justify-content: flex-start;
    

}



    

  
 
  
 