<section *ngIf="isIE" class="px-3 notification-bar">
    <div class="container">
        <div class="row">
            <div class="col-12 py-2">
                <div class="d-flex align-items-center border-0" role="alert">
                    <i class="material-icons">
                        <div class="h2 text-white">
                        </div>
                    </i>
                    <div class="ps-3">
                        <a class="text-white" href="https://support.google.com/googleone/answer/9891898?hl=en"
                            target="_blank">{{ 'loginPage.browserUpdateText' | translate }}</a>
                    </div>
                </div>
            </div>
        </div>
        <!--end Row-->
    </div>
    <!--end Container-->
</section>
<!--end Section-->


<section class="px-3 pb-4" *ngIf="!hide">
    <div class="container">
        <div class="container">
            <div _ngcontent-hgi-c94="" class="row">
                <h1 _ngcontent-hgi-c94="">{{ 'loginPage.title' | translate }}</h1>
                <div class="row pb-2" *ngIf ="showCookies">
                    <p _ngcontent-hgi-c94="">{{ 'loginPage.text' | translate }}</p>
                    <div class="col-md-6">
                        <button class="btn btn-secondary" (click)="setCookie('false')">{{ 'loginPage.refuseButton' | translate }}</button>
                        <button class="m-2 btn btn-primary" (click)="setCookie('true')">{{ 'loginPage.acceptButton' | translate }}</button>
                    </div>
                </div>
                <div class="row pb-2" *ngIf ="showAutologoutMsg">
                    <p _ngcontent-hgi-c94="">{{ 'loginPage.autoLogoutMsg' | translate }}</p>
                </div>
            </div>

            <!--end Row-->
        </div>
        <div class="px-3">
            <div class="row">
                <form class="col-md-6" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="bg-white shadow-sm rounded p-4">
                        <div class="mb-3">
                            <label for="inputEmail" class="form-label">{{ 'loginPage.email' | translate }}</label>
                            <input type="text" class="form-control" id="inputEmail" formControlName="email">
                            <span class="text-danger"
                                *ngIf="(loginFormControl.email.touched || submitted) && loginFormControl.email.errors?.required">
                                {{ 'loginPage.emailRequiredText' | translate }}
                            </span>
                            <!-- <span class="text-danger"
                                *ngIf="loginFormControl.email.touched && loginFormControl.email.errors?.email">
                                {{ 'loginPage.emailWarningText' | translate }}
                            </span> -->
                        </div>
                        <div class="mb-3">
                            <div class="search-wrapper cf">
                                <label for="inputPass" class="form-label">{{ 'loginPage.password' | translate }}</label>

                                <input style="padding-left: 50px" matInput [type]="show ? 'password' : 'text'"
                                    type="password" class="form-control" formControlName="password" id="inputPass"
                                    (keyup.enter)="onSubmit()" required>
                                <button type="button" mat-icon-button matSuffix (click)="show = !show"
                                    [attr.aria-label]="'Show password'" [attr.aria-pressed]="show" class="eye-hide">
                                    <mat-icon>{{show ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </div>

                            <span class="text-danger"
                                *ngIf="(loginFormControl.password.touched || submitted) && loginFormControl.password.errors?.required">
                                {{ 'loginPage.passwordRequiredText' | translate }}
                            </span>
                            <div *ngIf="showError">
                                <span  class="text-danger">
                                    {{ 'loginPage.userNameOrPasswordIncoorectText' | translate }}
                                </span>
                            </div>
                            
                            <!-- <span class="text-danger"
                                *ngIf="loginFormControl.password.touched && loginFormControl.password.errors?.invalidPassword">
                               
                                {{ 'loginPage.userNamePasswordNotMatchText' | translate }}
                            </span>
                            <div *ngIf="showError" class=" text-danger error">
                                {{ 'loginPage.userNamePasswordNotMatchText' | translate }}
                            </div> -->
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="px-3 pb-4 form-group ">
    <div class="container">
        <form class="col-md-6" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="px-3 mb-3">
                <button type="submit" class="btn btn-primary">{{ 'loginPage.loginButton' | translate }}</button>
            </div>
           
            <div class="px-3">
                <a [routerLink]="['/login/forgot-password']" class="font-size: small"
                    style="text-decoration: underline">{{ 'loginPage.forgotPassword' | translate }}</a>
            </div>



        </form>
    </div>
</section>

<modal #modal [modalConfig]="modalConfig" (cancelEvent)="cancelEvent($event)" (exitEvent)="exitEvent($event)" [IsFromLogin]="true">
    
</modal>