


<!-- Display list of messages. 
<h1>
    {{title}}
</h1>
<button (click)="notify()">Show Notiication</button> -->

<!--<div class="px-3 mt-4">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/welcome']">Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/notification/messages']">Message center</a></li>
            <li class="breadcrumb-item active" aria-current="page">Message</li>
        </ol>
    </div>
</div> -->

<!-- SURVEY HUB PAGE -->

<!--h1 Intro Section-->
<div class="px-3 pb-4">
    <div class="container">
        <div class="row mb-3">
           
                <h1 class="x">{{displayMessage?.messageHeader}}</h1>
                <p class="y"><b>{{displayMessage?.messageDate | date : 'EE, MMMM dd, hh:mm aaaa'}}</b></p>
                <p class="z">{{displayMessage?.messageContent}}</p>
      
        </div><!--end Row-->
    </div><!--end Container-->
</div><!--end Section-->

<div class="px-3 pb-4">
    <div class="container">
            <div class="mb-3">
              
                <button type="submit" class="btn btn-secondary pr-2" (click) = "deleteMessage(displayMessage?.id)">Delete</button>
                <button type="submit" class="btn btn-primary ms-3"  [routerLink]="['/notification/messages']"> Go Back</button>
          
            </div>
            </div>
</div>
        