
  
  .top-left {
    width: 80%;
  }
  
  .top-right {
    margin-left: auto;
  }
.border{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-bottom:1px solid blue;
}
.border1{
  background-color: #888;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-bottom:1px solid blue;
}