<br />
<ng-container>
    <h3>{{question?.queId}}.{{ question?.title}}</h3>
    <div [formGroup]="childFormGroup">
        <div class="border">
            <div class="top-left">Yes</div>
            <div class="top-right">
                <input class="form-check-input" type="radio" [formControlName]=" ''+question?.queNo || '' " (change)="changeEvent('Y')" [id]="question?.queNo"
                   value="Y" />
            </div>
        </div>
        <div class="border1">
            <div class="top-left">No</div>
            <div class="top-right">
                <input class="form-check-input" type="radio" [formControlName]=" ''+question?.queNo || '' " (change)="changeEvent('N')" [id]="question?.queNo"
                   value="N" />
            </div>
        </div>
    </div>
</ng-container>