<br />
<ng-container>
    <h3>{{houseHold? question?.hhQueNo : question?.queNo }}.{{ isFrance? question?.titleFr: question?.title}}</h3>
    <div [formGroup]="childFormGroup">
        <div class="border">
            <div class="top-left">Yes</div>
            <div class="top-right">
                <input class="form-check-input" type="radio" [formControlName]=" this.questionNo" (change)="changeEvent('Y')" 
                   value="Y" />
            </div>
        </div>
        <div class="border1">
            <div class="top-left">No</div>
            <div class="top-right">
                <input class="form-check-input" type="radio" [formControlName]=" this.questionNo" (change)="changeEvent('N')" 
                   value="N" />
            </div>
        </div>
        <span class="danger" *ngIf="yesNoFormControl.errors?.required && buttonClicked">
            Please select the field. 
        </span> 
    </div>
</ng-container>