<br />
<ng-container>
    <h3>{{question?.queId}}.{{ question?.title}}</h3>

    <div class="border">
        <div class="top-left">Yes</div>
        <div class="top-right">
            <input class="form-check-input" type="radio" [id]="question?.name" [name]="question?.name" value="Yes" />
        </div>
    </div>
    <div class="border1">
        <div class="top-left">No</div>
        <div class="top-right">
            <input class="form-check-input" type="radio" [id]="question?.name" [name]="question?.name" value="No" />
        </div>
    </div>
</ng-container>