<br>
<br>
<br>
<!--h1 Intro Section-->
<section class="px-3 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Warning</h2>
                <p style="color:red">
                    <b>Membership type could not be determined, please contact the system administrator.</b>
                </p>
            </div><!--end col-->
        </div><!--end Row-->
    </div><!--end Container-->
</section><!--end Section-->

<section class="px-3 pb-4">
    <div class="container">
        <div class="row pb-4">
            
            
            <h2>{{'contactUs.montrealOffice' | translate}} <span class="h2-separator"></span></h2>
            <p>{{'contactUs.montrealDescription' | translate}}</p>
            <div class="col-12 mb-4">
                <p><strong class="d-block">{{'contactUs.montrealdays' | translate}}:</strong> <span>{{'contactUs.montrealTimes' | translate}}</span></p>
                <p><strong class="d-block">{{'contactUs.montrealWeekdays' | translate}}:</strong> <span>{{'contactUs.montrealTimes' | translate}}</span></p>
                <p><strong class="d-block">{{'contactUs.montrealEmail' | translate}}:</strong> <span>meterpaneleast@numeris.ca</span></p>
                <p><strong class="d-block">{{'contactUs.tollFree' | translate}}:</strong> <span>1-866-548-8991</span></p>
            </div>
           
            <h2>{{'contactUs.richmondOffice' | translate}} <span class="h2-separator"></span></h2>
            <p>{{'contactUs.richmondDescription' | translate}}</p>
            <div class="col-12">
                <p><strong class="d-block">{{'contactUs.richmondDays' | translate}}:</strong> <span>{{'contactUs.richmondTimes' | translate}}</span></p>
                <p><strong class="d-block">{{'contactUs.richmondSaturday' | translate}}:</strong> <span>{{'contactUs.richmondSaturdayTime' | translate}}</span></p>
                <p><strong class="d-block">{{'contactUs.richmondSunday' | translate}}:</strong> <span>{{'contactUs.richmondSundayTime' | translate}}</span></p>
                <p><strong class="d-block">{{'contactUs.richmondEmail' | translate}}:</strong> <span>meterpanelwest@numeris.ca</span></p>
                <p><strong class="d-block">{{'contactUs.tollFree' | translate}}:</strong> <span>1-866-730-7960</span></p>
            </div>
            
        </div><!--end Row-->