
<!-- Registration form with OTP-->
<section class="px-3 pb-4">
    <div class="container">
        <div class="row">
        <div><h3 class="mt-4">{{'passwordReset.title' | translate}}</h3></div>
        <div class="mt-2"><b>{{'passwordReset.tips' | translate}}</b></div>
        
        <div>
        
        <li> {{'passwordReset.tip1' | translate}}
            <span class="check"> &#10003;</span></li>
        <li>{{'passwordReset.tip2' | translate}}
            <span class="check"> &#10003;</span></li>
            <li> {{'passwordReset.tip3' | translate}}
                <span class="check"> &#10003;</span></li>
        <li>{{'passwordReset.tip4' | translate}}
            <span class="check"> &#10003;</span></li>
        </div>
        <section class="px-3 pb-4">
    </section>
    <div *ngIf="showRegistraion">
        <form class="col-md-6" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="bg-white shadow-sm rounded p-4">
                <div class="mb-3">
                    <div class="search-wrapper cf">
                        <label for="newPass" class="form-label"> {{'registrationForm.password' |
                            translate}}</label>

                        <input style="padding-left: 50px" matInput [type]="view ? 'password' : 'text'"
                            type="password" class="form-control" id="newPass" formControlName="password"
                            aria-describedby="" (keypress)="keyPressAlphaNumeric($event)"
                            (focus)="onFocusEvent($event)" minlength="8" maxlength="20">
                        <button type="button" mat-icon-button matSuffix (click)="view = !view"
                            [attr.aria-label]="'Show password'" [attr.aria-pressed]="view" class="eye-hide">
                            <mat-icon>{{view ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </div>
                    <span class="text-danger"
                        *ngIf="(registerFormControl.password.touched || submitted) && registerFormControl.password.errors?.required">
                        {{'changePassword.newPasswordRequired' | translate}}
                    </span>
                    <span class="text-danger"
                        *ngIf="registerFormControl.password.touched && registerFormControl.password.errors?.invalidPassword">
                        {{'changePassword.passwordValidationMessage' | translate}}
                    </span>
                    <ng-container *ngIf="isFocused">
                        <div class="col"
                            [ngClass]="registerForm.controls['password'].hasError('required') || registerForm.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
                            <i class="material-icons">{{
                                registerForm.controls['password'].hasError('required') ||
                                registerForm.controls['password'].hasError('minlength') ? 'cancel' :
                                'check_circle' }}</i>
                            {{'changePassword.error1' | translate}}
                        </div>
                        <div class="col"
                            [ngClass]="registerForm.controls['password'].hasError('required') ||
                            registerForm.controls['password'].hasError('maxLength')  ? 'text-danger' : 'text-success'">
                            <i class="material-icons">{{
                                registerForm.controls['password'].hasError('required') ||
                                registerForm.controls['password'].hasError('maxLength') ? 'cancel' :
                                'check_circle' }}</i>
                                {{'changePassword.error2' | translate}}
                        </div>
                        <div class="col"
                            [ngClass]="registerForm.controls['password'].hasError('required') ||
                            registerForm.controls['password'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
                            <i class="material-icons">{{
                                registerForm.controls['password'].hasError('required') ||
                                registerForm.controls['password'].hasError('hasNumber') ? 'cancel' :
                                'check_circle' }}</i>
                                {{'changePassword.error3' | translate}}
                        </div>
                        <div class="col"
                            [ngClass]="registerForm.controls['password'].hasError('required') ||
                            registerForm.controls['password'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
                            <i class="material-icons">{{
                                registerForm.controls['password'].hasError('required') ||
                                registerForm.controls['password'].hasError('hasSmallCase') ? 'cancel' :
                                'check_circle' }}</i>
                                {{'changePassword.error4' | translate}}
                        </div>
                        <div class="col"
                            [ngClass]="registerForm.controls['password'].hasError('required') ||
                            registerForm.controls['password'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
                            <i class="material-icons">{{
                                registerForm.controls['password'].hasError('required') ||
                                registerForm.controls['password'].hasError('hasCapitalCase') ? 'cancel' :
                                'check_circle' }}</i>
                                {{'changePassword.error5' | translate}}
                        </div>
                    </ng-container>
                </div>
                <div class="mb-3">
                    <div class="search-wrapper cf">
                    <label for="inputPass" class="form-label">{{'passwordReset.confirmPassword' | translate}}</label>
                    
                    <input style="padding-left: 50px" matInput [type]="hide ? 'password' : 'text'" type="password" class="form-control" formControlName="confirmPassword" id="confirmPass">
         
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Show password1'" [attr.aria-pressed]="hide" class="eye-hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                       </button>
              </div>
                    <span class="text-danger"
                        *ngIf="(registerFormControl.confirmPassword.touched || submitted) && registerFormControl.password.errors?.required">
                        {{'passwordReset.confirmPasswordRequired' | translate}}
                    </span>
                    <span class="text-danger" *ngIf="registerFormControl.confirmPassword.errors?.mustMatch && registerFormControl.confirmPassword.touched">{{'passwordReset.passwotdNotMatchText' | translate}}
                    </span>
                    <div class = "text-danger">
                        {{errorMessage}}
                    </div>
                </div>
            </div>
            </form>
            </div>
        </div>
         </div>
        </section>
            
        <section class="px-3 pb-4">
            <div class="px-3 pb-4 form-group mb-3">
                <div class="container">
                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
            <button type="submit" class="btn btn-primary">{{'passwordReset.updateButtonLabel' | translate}}</button>
           </form>
        </div>
    </div>
    </section>
