<!DOCTYPE html>
<html lang="en">


<body>

  
    
    <!-- Breadcrumbs -->
    <nav class="px-3 mt-4">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="survey-hub.html">Survey hub</a></li>
                <li class="breadcrumb-item"><a href="household-demograpgics.html">Household demographics</a></li>
                <li class="breadcrumb-item active" aria-current="page">Individual member</li>
            </ol>
        </div>
    </nav>

    <!--h1 Intro Section-->
    <section class="px-3 pb-4">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1><!--Household Member Name -->Houshold Member Name</h1>
                    <p>
                        Please complete these questions to tell us a bit more about yourself. These questions will only be used in order to report your viewing in the correct group.If possible, please complete the survey in one session. If you exit before clicking submit at the end of the survey, your answers will not be saved.
                    </p>
                </div><!--end col-->
            </div><!--end Row-->
        </div><!--end Container-->
    </section><!--end Section-->

    <section class="px-3 pb-4">
        <div class="container">
            <div class="row pb-4">
                <h2>Page 5 of 7<span class="h2-separator"></span></h2>
                <div class="col-12 mt-3">
                    <div class="shadow-sm rounded bg-white p-4 mb-4">
                        <form>
                            <!-- Question 9-->
                            <div class="mb-4">
                                <h4>What is the language that you first learned in childhood and
                                     still understand? (Check one only)</h4>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question9" id="Radio46">
                                    <label class="form-check-label" for="Radio46">English</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question9" id="Radio47">
                                    <label class="form-check-label" for="Radio47">French</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question9" id="Radio48">
                                    <label class="form-check-label" for="Radio48">Arabic</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question9" id="Radio49">
                                    <label class="form-check-label" for="Radio49">Chinese</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question9" id="Radio50">
                                    <label class="form-check-label" for="Radio50">German</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question9" id="Radio51">
                                    <label class="form-check-label" for="Radio51">Italian</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question9" id="Radio52">
                                    <label class="form-check-label" for="Radio52">Korean</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question9" id="Radio53">
                                    <label class="form-check-label" for="Radio53">Persian (Farsi)</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question9" id="Radio54">
                                    <label class="form-check-label" for="Radio54">Polish</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question9" id="Radio55">
                                    <label class="form-check-label" for="Radio55">Portuguese</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question9" id="Radio56">
                                    <label class="form-check-label" for="Radio56">Punjabi</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question9" id="Radio57">
                                    <label class="form-check-label" for="Radio57">Russian</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question9" id="Radio58">
                                    <label class="form-check-label" for="Radio58">Spanish</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question9" id="Radio59">
                                    <label class="form-check-label" for="Radio59">Tamil</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question9" id="Radio60">
                                    <label class="form-check-label" for="Radio60">Tagalog</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question9" id="Radio61">
                                    <label class="form-check-label" for="Radio61">Urdu or Hindi</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question9" id="Radio62">
                                    <label class="form-check-label" for="Radio62">Other South Asian languages</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question9" id="Radio63">
                                    <label class="form-check-label" for="Radio63">Vietnamese</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question9" id="Radio64">
                                    <label class="form-check-label" for="Radio64">Other</label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- Action buttons -->
                    <div class="col-xs-6 d-grid gap-2 d-md-block">
                        <button type="submit" class="btn btn-dark">Back</button>
                        <button type="submit" class="btn btn-secondary ms-md-3">Save & Exit</button>
                        <button [routerLink] = "['/demographics/demographics-individual-members-page6']" type="submit" class="btn btn-primary ms-md-3">Continue</button>
                    </div>
                   
                </div><!--end Col-->
            </div><!--end Row-->

        </div><!--end Container-->
    </section><!--end Section--> 
</body>
</html>
