<nav class="px-3 mt-4">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink] = "['/welcome']">Home</a></li>
            <li class="breadcrumb-item"><a [routerLink] = "['/survey/survey']">Survey hub</a></li>
            <li class="breadcrumb-item"><a [routerLink] = "['/survey/household-devices']">Household devices</a></li>
            <li class="breadcrumb-item active" aria-current="page">New devices</li>
        </ol>
    </div>
</nav>

<!-- SURVEY HUB PAGE -->

<!--h1 Intro Section-->
<section class="px-3 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>New Devices</h1>
                <p>
                    This page shows all media devices that are newly connected to your home network. Surveys in this section will ask you basic questions about each device’s use. Be assured that your <a href="#">privacy policy</a> data and privacy are always protected
                </p>
            </div>
        </div><!--end Row-->
    </div><!--end Container-->
</section><!--end Section-->
          
<!-- New Devices Overview Page -->
<section class="px-3 pb-5">
    <div class="container">
        <div class="row g-4">
            <h2>New devices detected: 9<span class="h2-separator"></span></h2>
            <p class="mt-2 mb-0">Select devices to start a survey</p>

             <!-- Newly Detected Device (Smart TV) -->
             <a href="#.html">
                <div class="message-card d-flex align-items-center bg-white shadow-sm rounded">
                    <i class="material-icons p-3 new-devices-icon d-flex icon-red align-items-center h-100">
                        <div class="h1 mb-0">personal_video</div>
                    </i>
                    <div class="ps-3 description">
                        <h3 class="text-truncate">Smart TV</h3>
                        <p class="text-truncate">Mac Address: <span>SAMSUNG ELECTRONICS CO.,LTD</span>
                        </p>   
                    </div>
                    <i class="material-icons ms-auto pe-3">  
                        arrow_forward_ios
                    </i>
                </div>
            </a>

            <!-- Newly Detected Device (PC Desktop) -->
            <a href="#.html">
                <div class="message-card d-flex align-items-center bg-white shadow-sm rounded">
                    <i class="material-icons p-3 new-devices-icon d-flex icon-red align-items-center h-100">
                        <div class="h1 mb-0">desktop_windows</div>
                    </i>
                    <div class="ps-3 description">
                        <h3 class="text-truncate">PC Desktop</h3>
                        <p class="text-truncate">Mac Address: <span>Data not available</span></p>   
                    </div>
                    <i class="material-icons ms-auto pe-3">  
                        arrow_forward_ios
                    </i>
                </div>
             </a>


            <!-- Newly Detected Device (PC Laptop) -->
            <a href="#.html">
                <div class="message-card d-flex align-items-center bg-white shadow-sm rounded">
                    <i class="material-icons p-3 new-devices-icon d-flex icon-red align-items-center h-100">
                        <div class="h1 mb-0">laptop</div>
                    </i>
                    <div class="ps-3 description">
                        <h3 class="text-truncate">PC Laptop</h3>
                        <p class="text-truncate">Mac Address: <span>Data not available</span></p>   
                    </div>
                    <i class="material-icons ms-auto pe-3">  
                        arrow_forward_ios
                    </i>
                </div>
             </a>


            <!-- Newly Detected Device (Any Android or Windows Phone) -->
            <a href="#.html">
                <div class="message-card d-flex align-items-center bg-white shadow-sm rounded">
                    <i class="material-icons p-3 new-devices-icon d-flex icon-red align-items-center h-100">
                        <div class="h1 mb-0">smartphone</div>
                    </i>
                    <div class="ps-3 description">
                        <h3 class="text-truncate">Android</h3>
                        <p class="text-truncate">Mac Address: <span>Data not available</span></p>   
                    </div>
                    <i class="material-icons ms-auto pe-3">  
                        arrow_forward_ios
                    </i>
                </div>
             </a>

            <!-- Newly Detected Device (iMac) -->
            <a href="#.html">
                <div class="message-card d-flex align-items-center bg-white shadow-sm rounded">
                    <i class="material-icons p-3 new-devices-icon d-flex icon-red align-items-center h-100">
                        <div class="h1 mb-0">desktop_mac</div>
                    </i>
                    <div class="ps-3 description">
                        <h3 class="text-truncate">iMac</h3>
                        <p class="text-truncate">Mac Address: <span>Data not available</span></p>   
                    </div>
                    <i class="material-icons ms-auto pe-3">  
                        arrow_forward_ios
                    </i>
                </div>
             </a>

            <!-- Newly Detected Device (MacBook Pro) -->
            <a href="#.html">
                <div class="message-card d-flex align-items-center bg-white shadow-sm rounded">
                    <i class="material-icons p-3 new-devices-icon d-flex icon-red align-items-center h-100">
                        <div class="h1 mb-0">laptop</div>
                    </i>
                    <div class="ps-3 description">
                        <h3 class="text-truncate">MacBook Pro</h3>
                        <p class="text-truncate">Mac Address: <span>Data not available</span></p>   
                    </div>
                    <i class="material-icons ms-auto pe-3">  
                        arrow_forward_ios
                    </i>
                </div>
             </a>

            <!-- Newly Detected Device (iPhone) -->
            <a href="#.html">
                <div class="message-card d-flex align-items-center bg-white shadow-sm rounded">
                    <i class="material-icons p-3 new-devices-icon d-flex icon-red align-items-center h-100">
                        <div class="h1 mb-0">phone_iphone</div>
                    </i>
                    <div class="ps-3 description">
                        <h3 class="text-truncate">iPhone</h3>
                        <p class="text-truncate">Mac Address: <span>Data not available</span></p>   
                    </div>
                    <i class="material-icons ms-auto pe-3">  
                        arrow_forward_ios
                    </i>
                </div>
             </a>

            <!-- Newly Detected Device (iPhone) -->
            <a href="#.html">
                <div class="message-card d-flex align-items-center bg-white shadow-sm rounded">
                    <i class="material-icons p-3 new-devices-icon d-flex icon-red align-items-center h-100">
                        <div class="h1 mb-0">videogame_asset</div>
                    </i>
                    <div class="ps-3 description">
                        <h3 class="text-truncate">Playstation</h3>
                        <p class="text-truncate">Mac Address: <span>Data not available</span></p>   
                    </div>
                    <!--Any gaming console will share the same icon approach here-->
                    <i class="material-icons ms-auto pe-3">  
                        arrow_forward_ios
                    </i>
                </div>
             </a>

             <!-- Newly Detected Device (Devices Unknown) -->
            <a href="#.html">
                <div class="message-card d-flex align-items-center bg-white shadow-sm rounded">
                    <i class="material-icons p-3 new-devices-icon d-flex icon-red align-items-center h-100">
                        <div class="h1 mb-0">devices_other</div>
                    </i>
                    <div class="ps-3 description">
                        <h3 class="text-truncate">Devices Other</h3>
                        <p class="text-truncate">Mac Address: <span>Data not available</span></p>   
                    </div>
                    <!--Any gaming console will share the same icon approach here-->
                    <i class="material-icons ms-auto pe-3">  
                        arrow_forward_ios
                    </i>
                </div>
             </a>


        </div><!--end Row-->
    </div><!--end Container-->
</section><!--end Section-->