


<!-- Display list of messages. 
<h1>
    {{title}}
</h1>
<button (click)="notify()">Show Notiication</button> -->

<nav class="px-3 mt-4">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/welcome']">Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/notification/messages']">Message center</a></li>
            <li class="breadcrumb-item active" aria-current="page">Message</li>
        </ol>
    </div>
</nav>

<!-- SURVEY HUB PAGE -->

<!--h1 Intro Section-->
<section class="px-3 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>{{displayMessage?.messageHeader}}</h1>
                <p>{{displayMessage?.messageDate}}</p>
                <p>{{displayMessage?.messageContent}}</p>
            </div>
            <div class="col-12" >
                <button type="submit" class="btn btn-primary pr-2" (click) = "deleteMessage(displayMessage?.id)">Delete</button>
                <button type="submit" class="btn btn-secondary"  [routerLink]="['/notification']">Back</button>
            </div>
        </div><!--end Row-->
    </div><!--end Container-->
</section><!--end Section-->