<html>
<body>
  <!-- <nav class="navbar bg-white px-3">
    <div class="container d-flex">
        <a href="survey-hub.html" class="navbar-brand flex-grow-1">
            <img class="img-fluid" src="../assets/logo.png" alt="">
        </a> 
        <a href="#" class="lang-taggle">français</a>
        <button class="navbar-toggler d-sm-flex align-items-center justify-content-between" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
            <i class="material-icons text-white"><div class="menu-icon">menu</div></i>
            <span class="menu-icon-descirption">Menu</span>
        </button>
        </div>
</nav> -->

<!-- WELCOME PAGE 
---------------------------->
<app-header></app-header>
<!-- <app-registration></app-registration> -->
<!-- <app-welcome></app-welcome> -->
<!-- <app-login></app-login> -->

<router-outlet></router-outlet>
<app-footer></app-footer>
<ngx-spinner></ngx-spinner>

<!--h1 Intro Section-->


<!-- FOOTER 
---------------------------->
</body>
</html>