<!-- Breadcrumbs -->
<nav class="px-3 mt-4">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/welcome']">Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/survey/survey']">Survey hub</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/survey/household-devices']">Household devices</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/survey/deviceList/'+deviceState]">{{deviceState}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Device name</li>
        </ol>
    </div>
</nav>

<!-- SURVEY HUB PAGE -->

<!--h1 Intro Section-->
<section class="px-3 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Household Member Name</h1>
                <p>
                    Let’s get a bit specific about the genres watched online by Andrea Public.
                </p>
            </div>
        </div>
        <!--end Row-->
    </div>
    <!--end Container-->
</section>
<!--end Section-->

<!-- New Devices Overview Page -->
<section class="px-3 pb-5">
    <div class="container">
        <div class="row g-4">
            <h2>List view of 11 genres<span class="h2-separator"></span></h2>
            <p class="mt-2 mb-0">Please select all the genres Andrea watches online, and the time of day they most
                likely watch them at. You may select multiple time options.</p>

            <!-- Genres wrapper-->
            <div class="accordion accordion-flush" id="genres-target">

                <!-- Accoridian Genre Tab 1 -->
               <ng-container *ngFor="let genere of generes; let generId = index"> 
                    <div class="accordion-item shadow-sm rounded mb-3">
                        <h3 class="accordion-header" id="open-one">
                            <button class="py-0 ps-0 pe-3 accordion-button collapsed" type="button"
                                data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse-one'+generId" aria-expanded="false"
                                [attr.aria-controls]="'collapse-one'+generId">
                                <i class="material-icons p-3 me-3 genres-icon">
                                    <div class="h3 mb-0">movie_filter</div>
                                </i> {{genere?.name}}
                            </button>
                        </h3>
                        <div [id]="'collapse-one'+generId" class="accordion-collapse collapse" aria-labelledby="open-one"
                            data-bs-parent="#genres-target">
                            <form [formGroup]="timeLinesForm[generId+1]" (ngSubmit)="submit()">
                                <div class="accordion-body">
                                    <h4>Content watched is same as for </h4>
                                    <select class="form-select mb-4" aria-label="content select">
                                        <option selected>Select Content</option>
                                        <option value="1">News & Analysis</option>
                                        <option value="2">Kids Programming</option>
                                        <option value="3">Sports</option>
                                        <option value="4">Hobbies & Leisure</option>
                                        <option value="5">Sports</option>
                                        <option value="6">Drama</option>
                                        <option value="7">Movies</option>
                                        <option value="8">Comedy</option>
                                        <option value="9">Entertainment</option>
                                        <option value="10">Documentaries</option>
                                        <option value="11">Other</option>
                                    </select>
                                    <h4>Select weekday time slots</h4>
                                    <div formArrayName="weekDays" class="w-75">
                                        <div *ngFor="let item of getWeekDayControl(generId+1).controls; let i = index;"
                                            [formGroupName]="i" class="check-input-bg p-2 mb-3 rounded form-check-inline">
                                            <!-- *ngIf="item.value?.usageTimelineId" -->
                                            <div class="form-check">
                                                <input formControlName="addNew" class="form-check-input"
                                                    type="checkbox" (change)="updateTimeLine(item)">
                                                <label class="form-check-label">
                                                    {{item.value.label}}
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <h3>Select weekend times slots </h3>
                                    <div formArrayName="weekEnds" class="w-75">
                                        <div *ngFor="let item of getWeekEndControl(generId+1).controls; let i = index;"
                                            [formGroupName]="i"  class="check-input-bg p-2 mb-3 rounded form-check-inline" >
                                            <!-- *ngIf="item.value?.usageTimelineId" -->
                                            <div class="form-check">
                                                <input formControlName="addNew" class="form-check-input"
                                                    type="checkbox" (change)="updateTimeLine(item)">
                                                <label class="form-check-label">
                                                    {{item.value.label}}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form> 
                            <!--end-accoriding-inner-->
                        </div>
                        <!--end-accoriding-collapse-->
                    </div>
               </ng-container> 
                <!--End Accoridian Genre Tab -->


               
                <!-- IMPORTANT --------------------------- 

                        Hi Naga and Kajal, 
                        
                        Refer to mockup for the rest of the 
                        genres and configure the rest using the 2 completed genres above. Please note
                        that each accordian tab should be using uniq ID's for Expand/Collaps and checkboxes! 
                        Let me know if you have any questions

                    ------------------------------------------>

            </div>
            <!--end Ganres-->

            <!-- Action buttons -->
            <div class="col-xs-6 d-grid gap-2 d-md-block">
                <button type="submit" class="btn btn-dark">Back</button>
                <button type="button" (click)="openModal()" class="btn btn-secondary ms-md-3">Save & Exit</button>
                <button type="submit" (click)="submit()" class="btn btn-primary ms-md-3">Continue</button>
            </div>

        </div>
        <!--end Row-->
    </div>
    <!--end Container-->
</section>
<!--end Section-->
<modal #modal [modalConfig]="modalConfig">
    <!--  body of the modal  -->
  </modal>