<!-- Breadcrumbs -->
<nav class="px-3 mt-4">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="index.html">Survey hub</a></li>
            <li class="breadcrumb-item"><a href="index.html">Household devices</a></li>
            <li class="breadcrumb-item active" aria-current="page">New devices</li>
        </ol>
    </div>
</nav>

<!-- SURVEY HUB PAGE -->

<!--h1 Intro Section-->
<section class="px-3 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Household Member Name</h1>
                <p>
                    Let’s get a bit specific about the genres watched online by Andrea Public.
                </p>
            </div>
        </div>
        <!--end Row-->
    </div>
    <!--end Container-->
</section>
<!--end Section-->

<!-- New Devices Overview Page -->
<section class="px-3 pb-5">
    <div class="container">
        <div class="row g-4">
            <h2>List view of 11 genres<span class="h2-separator"></span></h2>
            <p class="mt-2 mb-0">Please select all the genres Andrea watches online, and the time of day they most
                likely watch them at. You may select multiple time options.</p>

            <!-- Genres wrapper-->
            <div class="accordion accordion-flush" id="genres-target">

                <!-- Accoridian Genre Tab 1 -->
                <div *ngFor="let genere of generes;" class="accordion-item shadow-sm rounded mb-3">
                    <h3 class="accordion-header" id="open-one">
                        <button class="py-0 ps-0 pe-3 accordion-button collapsed" type="button"
                            data-bs-toggle="collapse" data-bs-target="#collapse-one" aria-expanded="false"
                            aria-controls="collapse-one">
                            <i class="material-icons p-3 me-3 genres-icon">
                                <div class="h3 mb-0">movie_filter</div>
                            </i> {{genere.genreName}}
                        </button>
                    </h3>
                    <div id="collapse-one" class="accordion-collapse collapse show" aria-labelledby="open-one"
                        data-bs-parent="#genres-target">
                        <div class="accordion-body">
                            <h4>Content watched is same as for </h4>
                            <select class="form-select mb-4" aria-label="content select">
                                <option selected>Select Content</option>
                                <option value="1">News & Analysis</option>
                                <option value="2">Kids Programming</option>
                                <option value="3">Sports</option>
                                <option value="4">Hobbies & Leisure</option>
                                <option value="5">Sports</option>
                                <option value="6">Drama</option>
                                <option value="7">Movies</option>
                                <option value="8">Comedy</option>
                                <option value="9">Entertainment</option>
                                <option value="10">Documentaries</option>
                                <option value="11">Other</option>
                            </select>
                            <h4>Select weekday time slots</h4> <!--listGenresTimeline-->
                            <div class="check-input-bg p-2 mb-3 rounded form-check-inline">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="na1" value="option1">
                                    <label class="form-check-label" for="na1">6 AM - 9 AM</label>
                                </div>
                            </div>

                            <div class="check-input-bg p-2 mb-3 rounded form-check-inline">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="na2" value="option2">
                                    <label class="form-check-label" for="na2">9 AM - 1 PM</label>
                                </div>
                            </div>

                            <div class="check-input-bg p-2 mb-3 rounded form-check-inline">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="na3" value="option3">
                                    <label class="form-check-label" for="na3">1 PM - 4 PM</label>
                                </div>
                            </div>
                            <div class="check-input-bg p-2 mb-3 rounded form-check-inline">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="na4" value="option4">
                                    <label class="form-check-label" for="na4">4 PM - 7 PM</label>
                                </div>
                            </div>
                            <div class="check-input-bg p-2 mb-3 rounded form-check-inline">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="na5" value="option5">
                                    <label class="form-check-label" for="na5">7 PM - 10 PM</label>
                                </div>
                            </div>
                            <div class="check-input-bg p-2 mb-3 rounded form-check-inline">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="na6" value="option6">
                                    <label class="form-check-label" for="na6">10 PM - 2 AM</label>
                                </div>
                            </div>
                            <div class="check-input-bg p-2 mb-3 rounded form-check-inline">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="na7" value="option7">
                                    <label class="form-check-label" for="na7">2 AM - 6 AM</label>
                                </div>
                            </div>

                            <h3>Select weekend times slots </h3>
                            <div class="check-input-bg p-2 mb-3 rounded form-check-inline">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="na8" value="option8">
                                    <label class="form-check-label" for="na8">6 AM - 9 AM</label>
                                </div>
                            </div>

                            <div class="check-input-bg p-2 mb-3 rounded form-check-inline">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="na9" value="option9">
                                    <label class="form-check-label" for="na9">9 AM - 1 PM</label>
                                </div>
                            </div>

                            <div class="check-input-bg p-2 mb-3 rounded form-check-inline">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="na10" value="option10">
                                    <label class="form-check-label" for="na10">1 PM - 4 PM</label>
                                </div>
                            </div>
                            <div class="check-input-bg p-2 mb-3 rounded form-check-inline">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="na11" value="option11">
                                    <label class="form-check-label" for="na11">4 PM - 7 PM</label>
                                </div>
                            </div>
                            <div class="check-input-bg p-2 mb-3 rounded form-check-inline">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="na12" value="option12">
                                    <label class="form-check-label" for="na12">7 PM - 10 PM</label>
                                </div>
                            </div>
                            <div class="check-input-bg p-2 mb-3 rounded form-check-inline">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="na13" value="option13">
                                    <label class="form-check-label" for="na13">10 PM - 2 AM</label>
                                </div>
                            </div>
                            <div class="check-input-bg p-2 mb-3 rounded form-check-inline">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="na14" value="option14">
                                    <label class="form-check-label" for="na14">2 AM - 6 AM</label>
                                </div>
                            </div>
                        </div>
                        <!--end-accoriding-inner-->
                    </div>
                    <!--end-accoriding-collapse-->
                </div>
                <!--End Accoridian Genre Tab -->
            </div>
            <!-- Action buttons -->
            <div class="col-xs-6 d-grid gap-2 d-md-block">
                <button type="submit" class="btn btn-dark">Back</button>
                <button type="button" (click)='openDialog()' class="btn btn-secondary ms-md-3">Save & Exit</button>
                <button type="submit" class="btn btn-primary ms-md-3">Continue</button>
            </div>

        </div>
        <!--end Row-->
    </div>
    <!--end Container-->
</section>
<!--end Section-->