 <!-- Breadcrumbs -->
 <nav class="px-3 mt-4">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/welcome']">{{'Home.title' | translate}}</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/support/techsupport']">{{'techSupportPage.title' | translate}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{'connectNumeris.title' | translate}}</li>
        </ol>
    </div>
</nav>

<!--h1 Intro Section-->
<section class="px-3 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>{{'helpNumeris.title' | translate}}</h1>
                <p>
                    {{'helpNumeris.description' | translate}} 
                </p>
            </div><!--end col-->
        </div><!--end Row-->
    </div><!--end Container-->
</section><!--end Section-->

<section class="px-3 pb-4">
    <div class="container">
        <div class="row pb-4">
            <h2>{{'helpNumeris.heading' | translate}} <span class="h2-separator"></span></h2>
            <div class="col-12 mt-3">
                <div class="shadow-sm rounded bg-white p-4 mb-4">
                    <div>
                        <div class="mb-4 col-md-6">
                            <label for="subject" class="form-label">{{'helpNumeris.subject' | translate}}</label>
                            <input [(ngModel)]="subject" required name="subject" #subjectdata="ngModel" type="input" class="form-control"  placeholder="{{'helpNumeris.type' | translate}}">
                            <small *ngIf="subjectdata.touched && !subjectdata.valid" class="text-danger">{{'helpNumeris.subjectRequired' | translate}}</small>
                        </div>
                        
                        <div class="mb-4 col-md-12">
                            <label for="validationTextarea" class="form-label">{{'helpNumeris.description1' | translate}} </label>
                            <textarea [(ngModel)]="description" style="border-style:solid; border-width: 2px; border-color: black;" cols="50" rows="10" class="form-control" id="validationTextarea" placeholder="{{'helpNumeris.type' | translate}}"></textarea>
                        </div>
                    </div>
                </div>
            </div><!--end Col-->
           <!-- Action buttons -->
           <div class="col-xs-6 d-grid gap-2 d-md-block">
                <button type="button" class="btn btn-dark" [routerLink]="['/support/techsupport']">{{'helpNumeris.cancelButton' | translate}} </button>
                <button type="button" class="btn btn-primary ms-md-3" (click)="submit()">{{'helpNumeris.sendButton' | translate}}</button>
            </div>

        </div><!--end Row-->

    </div><!--end Container-->
</section><!--end Section--> 
