<div class="mb-4" *ngIf ="!question.regex">

    <h4>{{ isFrance? question?.titleFr: question?.title}}</h4>
    <h4>{{isFrance? question?.descriptionFr: question?.description}}</h4>

    <div [formGroup]="childFormGroup">

        <div class="form-check mb-2">

            <input id="row{{houseHold? question?.hhQueNo : question?.queNo}}"
                 [formControlName]="question?.queNo ||  question?.queId ||''"
                type="text" class="form-control" (focusout)="focusOut($event)">           
        </div>
        

        <span class="danger" *ngIf="textFormControl.errors?.required && buttonClicked">
            {{'required.select-answer' | translate}}
        </span>

    </div>
</div>
<div class="mb-4" *ngIf ="question.regex">

    <h4>{{ isFrance? question?.titleFr: question?.title}}</h4>
    <h4>{{isFrance? question?.descriptionFr: question?.description}}</h4>

    <div [formGroup]="childFormGroup">

        <div class="form-check mb-2">

            <input id="row{{houseHold? question?.hhQueNo : question?.queNo}}"
                 [formControlName]="question?.queNo ||  question?.queId ||''"
                type="text" class="form-control"  maxlength="7">           
        </div>
        <span class="danger" *ngIf ="textFormControl.errors?.pattern">{{'required.postal-error' | translate}}</span>

        <span class="danger" *ngIf="textFormControl.errors?.required && buttonClicked">
            {{'required.select-answer' | translate}}
        </span>

    </div>
</div>