<p>multi-user-list works!</p>
<nav class="navbar bg-white px-3">
    <div class="container d-flex">
        <a href="index.html" class="navbar-brand flex-grow-1">
            <img class="img-fluid" src="img/logo.png" alt="">
        </a> 
        <a href="#" class="lang-taggle">français</a>
        <button class="navbar-toggler d-sm-flex align-items-center justify-content-between" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
            <!-- <span class="navbar-toggler-icon"></span> -->
            <i class="material-icons text-white"><div class="menu-icon">menu</div></i>
            <span class="menu-icon-descirption"> Menu</span>
        </button>
</nav><!--end nav-->

<!-- Breadcrumbs -->
<nav class="px-3 mt-4">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#.html">Home</a></li>
            <li class="breadcrumb-item"><a href="#.html">Survey hub</a></li>
            <li class="breadcrumb-item"><a href="#.html">Household devices</a></li>
            <li class="breadcrumb-item"><a href="#.html">New devices</a></li>
            <li class="breadcrumb-item active" aria-current="page">Device name</li><!--has to reflect devices name here-->
        </ol>
    </div>
</nav>

<!-- SURVEY HUB PAGE -->

<!--h1 Intro Section-->
<section class="px-3 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Multiple Users</h1>
                <p>
                    In this section, we wish to understand the approximate share (expressed in percentages) each household member has in watching this TV every month. 
                </p>
                <p>
                    Let’s consider an example. Three household members – a parent and 2 children – share a Smart TV. So, their shared device usage can be entered as: Parent=30%, Child  1 = 50%, Child 2 = 20%. 
                </p>
            </div><!--end col-->
        </div><!--end Row-->
    </div><!--end Container-->
</section><!--end Section-->

<section class="px-3 pb-4">
    <div class="container">
        <div class="row pb-4">
            <h2>Shared device usage<span class="h2-separator"></span></h2>

            <div class="col-12 mt-3">

                <div class="shadow-sm rounded bg-white p-4 mb-4">
                    <h3 class="mb-3">Select how long each household member uses this device</h3>
                    <p><strong>Tips:</strong></p>
                    <ul>
                        <li>Enter an approximate percentage value for each member.</li>
                        <li>If a member hasn’t viewed the device at all in the past month, enter 0% against their name.</li>
                        <li>The total for all members should add up to 100.</li>
                    </ul>

                    <div class="row g-0">

                        <!-- Multi User Card -->
                        <div class="col-sm-12 col-md-6 multiple-users-card mb-3 d-flex align-items-center">

                            <div class="ps-3 py-3 col-6 d-flex align-items-center">
                                <i class="material-icons d-flex h-100">
                                    <div class="h4 m-0">person</div>
                                </i>
                                <p class="ps-2 mb-0 description"><strong>Household Member</strong></p>
                            </div>
                            
                            <div class="col-6 d-flex justify-content-end pe-3">
                                <select class="form-select multi-user-select" aria-label="Select percentage">
                                    <option selected>0%</option>
                                    <option value="25">25%</option>
                                    <option value="50">50%</option>
                                    <option value="75">75%</option>
                                    <option value="100">100%</option>
                                </select>
                            </div>
                        </div><!--end Multi User Card-->

                        <!-- Multi User Card -->
                        <div class="col-sm-12 col-md-6 multiple-users-card mb-3 d-flex align-items-center">
                            <div class="ps-3 py-3 col-6 d-flex align-items-center">
                                <i class="material-icons d-flex h-100">
                                    <div class="h4 m-0">person</div>
                                </i>
                                <p class="ps-2 mb-0 description"><strong>Household Member</strong></p>
                            </div>
                            <div class="col-6 d-flex justify-content-end pe-3">
                                <select class="form-select multi-user-select" aria-label="Select percentage">
                                    <option selected>0%</option>
                                    <option value="25">25%</option>
                                    <option value="50">50%</option>
                                    <option value="75">75%</option>
                                    <option value="100">100%</option>
                                </select>
                            </div>
                        </div><!--end Multi User Card-->

                        <!-- Multi User Card -->
                        <div class="col-sm-12 col-md-6 multiple-users-card mb-3 d-flex align-items-center">
                            <div class="ps-3 py-3 col-6 d-flex align-items-center">
                                <i class="material-icons d-flex h-100">
                                    <div class="h4 m-0">person</div>
                                </i>
                                <p class="ps-2 mb-0 description"><strong>Household Member</strong></p>
                            </div>
                            <div class="col-6 d-flex justify-content-end pe-3">
                                <select class="form-select multi-user-select" aria-label="Select percentage">
                                    <option selected>0%</option>
                                    <option value="25">25%</option>
                                    <option value="50">50%</option>
                                    <option value="75">75%</option>
                                    <option value="100">100%</option>
                                </select>
                            </div>
                        </div><!--end Multi User Card-->

                          <!-- Multi User Card -->
                          <div class="col-sm-12 col-md-6 multiple-users-card mb-3 d-flex align-items-center">
                            <div class="ps-3 py-3 col-6 d-flex align-items-center">
                                <i class="material-icons d-flex h-100">
                                    <div class="h4 m-0">person</div>
                                </i>
                                <p class="ps-2 mb-0 description"><strong>Household Member</strong></p>
                            </div>
                            <div class="col-6 d-flex justify-content-end pe-3">
                                <select class="form-select multi-user-select" aria-label="Select percentage">
                                    <option selected>0%</option>
                                    <option value="25">25%</option>
                                    <option value="50">50%</option>
                                    <option value="75">75%</option>
                                    <option value="100">100%</option>
                                </select>
                            </div>
                        </div><!--end Multi User Card-->


                    </div><!--End Row-->
                </div><!--End Rounded backgorund-->
                <!-- Action buttons -->
                <div class="col-xs-6 d-grid gap-2 d-md-block">
                    <button type="submit" class="btn btn-dark">Back</button>
                    <button type="submit" class="btn btn-secondary ms-md-3">Save & Exit</button>
                    <button type="submit" class="btn btn-primary ms-md-3">Continue</button>
                </div>
               
            </div><!--end Col-->
        </div><!--end Row-->

    </div><!--end Container-->
</section><!--end Section--> 
