<!-- Breadcrumbs -->
<nav class="px-3 mt-4">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#.html">Home</a></li>
            <li class="breadcrumb-item"><a href="#.html">Survey hub</a></li>
            <li class="breadcrumb-item"><a href="#.html">Household devices</a></li>
            <li class="breadcrumb-item"><a href="#.html">New devices</a></li>
            <li class="breadcrumb-item active" aria-current="page">Device name</li>
            <!--has to reflect devices name here-->
        </ol>
    </div>
</nav>

<!-- SURVEY HUB PAGE -->

<!--h1 Intro Section-->
<section class="px-3 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Device Usage</h1>
                <p>
                    This section has surveys that help us understand the media genres that each household member watches
                    on this Smart TV.
                </p>
                <p><strong>Tips:</strong></p>
                <ul>
                    <li>This survey lists 13 genres in all. Choose all that apply.</li>
                    <li>You may complete the surveys in any order you wish.</li>
                </ul>
            </div>
            <!--end col-->
        </div>
        <!--end Row-->
    </div>
    <!--end Container-->
</section>
<!--end Section-->

<section class="px-3 pb-4">
    <div class="container">
        <div class="row pb-4">
            <h2>Household member list <span class="h2-separator"></span></h2>
            <p>Select the survey under your name. You may also select and complete a survey on behalf of a household
                member. Only after the status for ALL members shows “COMPLETE”, tap the SUMBIT button to continue. </p>

            <div class="col-12 mt-3">

                <!-- House Hold Member -->
                <div *ngFor="let mem of memberList; let i = index"
                    class="message-card d-flex align-items-center bg-white shadow-sm rounded mb-3">
                    <i class="material-icons p-3 device-usage-icon d-flex icon-red align-items-center h-100">
                        <div class="h1 mb-0">person</div>
                    </i>
                    <div class="ps-3 description">
                        <h3 class="text-truncate">
                            <!-- Name of the household memeber -->{{mem.memberName}}
                        </h3>
                        <p class="text-truncate">Status: <span>{{mem.memberSurveyStatus}}</span></p>
                    </div>
                    <button type="button" class="btn btn-light me-3">Start</button>
                </div>

                <!-- Action buttons -->
                <div class="col-xs-6 d-grid gap-2 d-md-block">
                    <button type="button" class="btn btn-dark">Back</button>
                    <button type="button" class="btn btn-secondary ms-md-3">Save & Exit</button>
                    <button type="button" (click)="continueNavigate()" class="btn btn-primary ms-md-3">Continue</button>
                </div>

            </div>
            <!--end Col-->
        </div>
        <!--end Row-->

    </div>
    <!--end Container-->
</section>
<!--end Section-->