<!-- Breadcrumbs -->
<nav class="px-3 mt-4">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/welcome']">{{'Home.title' | translate}}</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/survey/survey']">{{'surveyHub.title' | translate}}</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/survey/household-devices']">{{'householdDevices.title' | translate}}</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/survey/deviceList/'+deviceState]">
                <span *ngIf="this.deviceState =='Inprogress'">{{'householdDevices.householdDevicesActionsLabel2' | translate}}</span>
                <span *ngIf="this.deviceState =='Completed'">{{'householdDevices.householdDevicesHistoryLabel1' | translate}}</span>
                <span *ngIf="this.deviceState =='New'">{{'householdDevices.householdDevicesActionsLabel1' | translate}}</span>
                <span *ngIf="this.deviceState =='Notused'">{{'householdDevices.householdDevicesHistoryLabel2' | translate}}</span>
            </a></li>
            <li class="breadcrumb-item active" aria-current="page">{{deviceName}}</li>
            <!--has to reflect devices name here-->
        </ol>
    </div>
</nav>

<!-- SURVEY HUB PAGE -->

<!--h1 Intro Section-->
<section class="px-3 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>{{'deviceUsage.title' | translate}}</h1>
                <p>
                    {{'deviceUsage.description' | translate}} {{deviceName}}
                </p>
            </div>
            <!--end col-->
        </div>
        <!--end Row-->
    </div>
    <!--end Container-->
</section>
<!--end Section-->

<section class="px-3 pb-4">
    <div class="container">
        <div class="row pb-4">
            <h2>{{'deviceUsage.heading' | translate}} <span class="h2-separator"></span></h2>
            <p>{{'deviceUsage.text' | translate}} </p>

            <div class="col-12 mt-3">

                <!-- House Hold Member -->
                <div *ngFor="let mem of users; let i = index"
                    class="message-card d-flex align-items-center bg-white shadow-sm rounded mb-3">
                    <i class="material-icons p-3 device-usage-icon d-flex icon-red align-items-center h-100">
                        <div class="h1 mb-0">person</div>
                    </i>
                    <div class="ps-3 description">
                        <h3 class="text-truncate">
                            <!-- Name of the household memeber -->{{mem.memberName}}
                        </h3>
                        <p class="text-truncate">{{'deviceUsage.Status' | translate}}: 
                            
                            <span *ngIf = "mem.memberSurveyStatus == 'Not Started'">{{'deviceUsage.notStarted' | translate}}</span>
                            <span *ngIf = "mem.memberSurveyStatus == 'In Progress'">{{'deviceUsage.inProgress' | translate}}</span>
                            <span *ngIf = "mem.memberSurveyStatus == 'Completed'">{{'deviceUsage.completed' | translate}}</span>
                        </p>
                    </div>
                    <button type="button" class="btn btn-light me-3" *ngIf = "mem.memberSurveyStatus == 'Not Started'" (click) = "continueNavigate(mem.memberNo,mem.memberName) ">{{'deviceUsage.startButton' | translate}}</button>
                    <button type="button" class="btn btn-light me-3" *ngIf = "mem.memberSurveyStatus == 'In Progress'" (click) = "continueNavigate(mem.memberNo,mem.memberName) ">{{'deviceUsage.continueButton' | translate}}</button>
                    <button type="button" class="btn btn-light me-3" *ngIf = "mem.memberSurveyStatus == 'Completed'" (click) = "continueNavigate(mem.memberNo,mem.memberName) ">{{'deviceUsage.completedButton' | translate}}</button>
                </div>

                <!-- Action buttons -->
                <div class="col-xs-6 d-grid gap-2 d-md-block">
                    <button type="submit" class="btn btn-dark" (click) = "backButton()">{{'deviceUsage.backButton' | translate}}</button>
                    <button type="button" class="btn btn-secondary ms-md-3" (click)="openModal()" >{{'deviceUsage.SaveButton' | translate}}</button>
                    <ng-container *ngIf="isCompleted">
                        <button type="button" (click)="submit()" class="btn btn-primary ms-md-3" *ngIf ="!resubmit">{{'deviceUsage.submit' | translate}}</button>
                    </ng-container>
                    <button type="button" (click)="resubmitForm()" class="btn btn-primary ms-md-3" *ngIf ="resubmit">Re-Submit</button>

                </div>

            </div>
            <!--end Col-->
        </div>
        <!--end Row-->
    </div>
    <!--end Container-->
</section>
<!--end Section-->
<modal #modal [modalConfig]="modalConfig" (cancelEvent)="cancelEvent($event)" (exitEvent)="exitEvent($event)">
    <!--  body of the modal  -->
  </modal>