<nav class="px-3 mt-4">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/welcome']">Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/login/account-settings']">Account settings</a></li>
            <li class="breadcrumb-item active" aria-current="page">Change password</li>
        </ol>
    </div>
</nav>

<!-- SURVEY HUB PAGE -->

<!--h1 Intro Section-->
<section class="px-3 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Change Password</h1>
                <p>
                    Enter your new password below
                </p>
                <b>Tips:</b>
                <ul>
                    <li>Your password must be between 8 and 20 characters long</li>
                    <li>It must have both letters and numbers and not have spaces, special characters or emojis
                    </li>
                </ul>
            </div>
            <!--end col-->
        </div>
        <!--end Row-->
    </div>
    <!--end Container-->
</section>
<!--end Section-->

<!-- Login Form-->
<section class="px-3 pb-4">
    <div class="container">
        <div class="row">
            <form class="col-md-6" [formGroup]="changePasswordForm">
                <div class="bg-white shadow-sm rounded p-4 mb-4">
                    <div class="mb-3">
                        <label for="curPass" class="form-label">Current Password</label>
                        <input type="password" class="form-control" id="curPass" formControlName="currentPassword"
                            aria-describedby="">
                        <span class="text-danger"
                            *ngIf="(changePasswordFormControl.currentPassword.touched || submitted) && changePasswordFormControl.currentPassword.errors?.required">
                            currentPassword is required
                        </span>
                        <span class="text-danger"
                        *ngIf="changePasswordFormControl.currentPassword.touched && changePasswordFormControl.currentPassword.errors?.invalidPassword">
                        Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
                        letter and 1 number
                    </span>
                    </div>
                    <div class="mb-3">
                        <label for="newPass" class="form-label">New Password</label>
                        <input type="password" class="form-control" id="newPass" formControlName="newPassword">
                        <span class="text-danger"
                            *ngIf="(changePasswordFormControl.newPassword.touched || submitted) && changePasswordFormControl.newPassword.errors?.required">
                            Password is required
                        </span>
                        <span class="text-danger"
                            *ngIf="changePasswordFormControl.newPassword.touched && changePasswordFormControl.newPassword.errors?.invalidPassword">
                            Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
                            letter and 1 number
                        </span>
                    </div>
                    <div class="mb-3">
                        <label for="ConfNewPass" class="form-label">Confirm New
                            Password</label>
                        <input type="password" class="form-control" id="ConfNewPass" formControlName="confirmPassword">
                        <span class="text-danger"
                            *ngIf="(changePasswordFormControl.confirmPassword.touched || submitted) && changePasswordFormControl.confirmPassword.errors?.required">
                            Password is required
                        </span>
                        <span class="text-danger"
                            *ngIf="changePasswordFormControl.confirmPassword.errors?.mustMatch && changePasswordFormControl.confirmPassword.touched">Password
                            and
                            Confirm Password
                            must be match.
                        </span>
                    </div>
                </div>
                <button type="button"  class="btn btn-secondary">Cancel</button>
                <button type="button" (click)="onSubmit()" class="btn btn-primary ms-3">Update</button>
            </form>
        </div>
    </div>
</section>