<nav class="px-3 mt-4">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/welcome']">{{'Home.title' | translate}}</a></li>
            <li class="breadcrumb-item"><a
                    [routerLink]="['/account-settings/account-settings']">{{'accountSettings.title' | translate}}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{'changePassword.title' | translate}}</li>
        </ol>
    </div>
</nav>

<!-- SURVEY HUB PAGE -->

<!--h1 Intro Section-->
<section class="px-3 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="x">{{'changePassword.title' | translate}}</h1>

                <b>{{'changePassword.tipsLabel' | translate}}:</b>

                <li>{{'changePassword.tip1' | translate}}</li>
                <li>{{'changePassword.tip2' | translate}}</li>
                <li>{{'changePassword.tip3' | translate}}</li>
                <li *ngIf="'changePassword.tip4' | translate">{{'changePassword.tip4' | translate}}</li>
            </div>
            <!--end col-->
        </div>
        <!--end Row-->
    </div>
    <!--end Container-->
</section>
<!--end Section-->

<!-- Login Form-->
<section class="px-3 pb-4">
    <div class="container">
        <div class="row">
            <form class="col-md-6" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                <div class="bg-white shadow-sm rounded p-4 mb-4">
                    <!--Current Password-->
                    <div class="mb-3 ">
                        <div class="search-wrapper cf">

                            <label for="curPass" class="form-label">{{'changePassword.currentPassword' |
                                translate}}</label>

                            <input style="padding-left: 50px" matInput [type]="show ? 'password' : 'text'"
                                type="password" class="form-control" id="curPass" formControlName="currentPassword"
                                aria-describedby="">
                            <button type="button" mat-icon-button matSuffix (click)="show = !show"
                                [attr.aria-label]="'Show password'" [attr.aria-pressed]="show" class="eye-hide">
                                <mat-icon>{{show ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </div>

                        <span class="text-danger"
                            *ngIf="(changePasswordFormControl.currentPassword.touched || submitted) && changePasswordFormControl.currentPassword.errors?.required">
                            {{'changePassword.currentPasswordRequired' | translate}}
                        </span>
                        <span class="text-danger"
                            *ngIf="changePasswordFormControl.currentPassword.touched && changePasswordFormControl.currentPassword.errors?.invalidPassword">
                            {{'changePassword.passwordValidationMessage' | translate}}
                        </span>
                    </div>
                    <!--New Paassword-->
                    <div class="mb-3">
                        <div class="search-wrapper cf">
                            <label for="newPass" class="form-label"> {{'changePassword.newPassword' |
                                translate}}</label>

                            <input style="padding-left: 50px" matInput [type]="view ? 'password' : 'text'"
                                type="password" class="form-control" id="newPass" formControlName="newPassword"
                                aria-describedby="" (keypress)="keyPressAlphaNumeric($event)"
                                (focus)="onFocusEvent($event)" minlength="8" maxlength="20">
                            <button type="button" mat-icon-button matSuffix (click)="view = !view"
                                [attr.aria-label]="'Show password'" [attr.aria-pressed]="view" class="eye-hide">
                                <mat-icon>{{view ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </div>
                        <span class="text-danger"
                            *ngIf="(changePasswordFormControl.newPassword.touched || submitted) && changePasswordFormControl.newPassword.errors?.required">
                            {{'changePassword.newPasswordRequired' | translate}}
                        </span>
                        <span class="text-danger"
                            *ngIf="changePasswordFormControl.newPassword.touched && changePasswordFormControl.newPassword.errors?.invalidPassword">
                            {{'changePassword.passwordValidationMessage' | translate}}
                        </span>
                        <ng-container *ngIf="isFocused">
                            <div class="col"
                                [ngClass]="changePasswordForm.controls['newPassword'].hasError('required') || changePasswordForm.controls['newPassword'].hasError('minlength')  ? 'text-danger' : 'text-success'">
                                <i class="material-icons">{{
                                    changePasswordForm.controls['newPassword'].hasError('required') ||
                                    changePasswordForm.controls['newPassword'].hasError('minlength') ? 'cancel' :
                                    'check_circle' }}</i>
                                    {{'changePassword.error1' | translate}}
                            </div>
                            <div class="col"
                                [ngClass]="changePasswordForm.controls['newPassword'].hasError('required') ||
                       changePasswordForm.controls['newPassword'].hasError('maxLength')  ? 'text-danger' : 'text-success'">
                                <i class="material-icons">{{
                                    changePasswordForm.controls['newPassword'].hasError('required') ||
                                    changePasswordForm.controls['newPassword'].hasError('maxLength') ? 'cancel' :
                                    'check_circle' }}</i>
                                    {{'changePassword.error2' | translate}}
                            </div>
                            <div class="col"
                                [ngClass]="changePasswordForm.controls['newPassword'].hasError('required') ||
                       changePasswordForm.controls['newPassword'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
                                <i class="material-icons">{{
                                    changePasswordForm.controls['newPassword'].hasError('required') ||
                                    changePasswordForm.controls['newPassword'].hasError('hasNumber') ? 'cancel' :
                                    'check_circle' }}</i>
                                    {{'changePassword.error3' | translate}}
                            </div>
                            <div class="col"
                                [ngClass]="changePasswordForm.controls['newPassword'].hasError('required') ||
                       changePasswordForm.controls['newPassword'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
                                <i class="material-icons">{{
                                    changePasswordForm.controls['newPassword'].hasError('required') ||
                                    changePasswordForm.controls['newPassword'].hasError('hasSmallCase') ? 'cancel' :
                                    'check_circle' }}</i>
                                    {{'changePassword.error4' | translate}}
                            </div>
                            <div class="col"
                                [ngClass]="changePasswordForm.controls['newPassword'].hasError('required') ||
                       changePasswordForm.controls['newPassword'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
                                <i class="material-icons">{{
                                    changePasswordForm.controls['newPassword'].hasError('required') ||
                                    changePasswordForm.controls['newPassword'].hasError('hasCapitalCase') ? 'cancel' :
                                    'check_circle' }}</i>
                                    {{'changePassword.error5' | translate}}
                            </div>
                        </ng-container>
                    </div>
                    <!--Confirm Password-->
                    <div class="mb-3">
                        <div class="search-wrapper cf">
                            <label for="ConfNewPass" class="form-label">{{'changePassword.confirmNewPassword' |
                                translate}}</label>
                            <input type="password" style="padding-left: 50px" matInput
                                [type]="visible ? 'password' : 'text'" class="form-control" id="ConfNewPass"
                                formControlName="confirmPassword" aria-describedby=""
                                (keypress)="keyPressAlphaNumeric($event)"  minlength="8" maxlength="20">
                            <button type="button" mat-icon-button matSuffix (click)="visible = !visible"
                                [attr.aria-label]="'Show password'" [attr.aria-pressed]="visible" class="eye-hide">
                                <mat-icon>{{visible ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </div>
                        <span *ngIf = "submitted" class = "text-danger">
                            {{'changePassword.confirmNewPasswordRequired' | translate}}
                        </span>
                        <span class="text-danger"
                            *ngIf="(changePasswordFormControl.confirmPassword.touched || submitted) && changePasswordFormControl.confirmPassword.errors?.required">
                            {{'changePassword.confirmNewPasswordRequired' | translate}}
                        </span>
                        <span class="text-danger"
                            *ngIf="changePasswordFormControl.confirmPassword.errors?.mustMatch && changePasswordFormControl.confirmPassword.touched">
                            {{'changePassword.passwordMatchText' | translate}}
                        </span>
                    </div>
                    <div *ngIf="showError">
                        <span  class="text-danger">
                            {{ 'changePassword.passwordError' | translate }}
                        </span>
                    </div>
                </div>
                <button type="button" class="btn btn-secondary px-5"
                    [routerLink]="['../account-settings']">{{'changePassword.cancelButton' | translate}}</button>
                <button type="submit" class="btn btn-primary ms-5 px-5"
                    style="float: right">{{'changePassword.updateButton' | translate}}</button>
            </form>
        </div>
    </div>
</section>