<nav class="px-3 mt-4">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/welcome']">Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/account-settings/account-settings']">Account settings</a></li>
            <li class="breadcrumb-item active" aria-current="page">Change password</li>
        </ol>
    </div>
</nav>

<!-- SURVEY HUB PAGE -->

<!--h1 Intro Section-->
<section class="px-3 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="x"> Change Password</h1>
                
                <b>Tips:</b>
                
                    <li>Your password must be between 8 and 20 characters long
                    <span class="check"> &#10003;</span></li>
                    <li>It must have both letters and numbers and not have spaces, special characters or emojis
                    
                    <span class="check"> &#10003;</span></li>
                
            </div>
            <!--end col-->
        </div>
        <!--end Row-->
    </div>
    <!--end Container-->
</section>
<!--end Section-->

<!-- Login Form-->
<section class="px-3 pb-4">
    <div class="container">
        <div class="row">
            <form class="col-md-6" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                <div class="bg-white shadow-sm rounded p-4 mb-4">
                    <!--Current Password-->
                    <div class="mb-3 ">
                        <div class="search-wrapper cf">
                        
                        <label  for="curPass" class="form-label">Current Password</label>
                       
                        <input style="padding-left: 50px" matInput [type]="show ? 'password' : 'text'" type="password" class="form-control" 
                        id="curPass" formControlName="currentPassword" aria-describedby="">
                        <button type="button" mat-icon-button matSuffix (click)="show = !show" [attr.aria-label]="'Show password'" [attr.aria-pressed]="show">
                            <mat-icon>{{show ? 'visibility_off' : 'visibility'}}</mat-icon>
                           </button>
                  </div>
                               
                        <span class="text-danger"
                            *ngIf="(changePasswordFormControl.currentPassword.touched || submitted) && changePasswordFormControl.currentPassword.errors?.required">
                            Current password is required
                        </span>
                        <span class="text-danger"
                        *ngIf="changePasswordFormControl.currentPassword.touched && changePasswordFormControl.currentPassword.errors?.invalidPassword">
                        Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
                        letter and 1 number
                    </span> 
                    </div>
                    <!--New Paassword-->
                    <div class="mb-3">
                        <div class="search-wrapper cf">
                        <label for="newPass"  class="form-label">New Password</label>
                       
                        <input style="padding-left: 50px" matInput [type]="view ? 'password' : 'text'" type="password" class="form-control" 
                        id="newPass" formControlName="newPassword" aria-describedby="">
                        <button type="button" mat-icon-button matSuffix (click)="view = !view" [attr.aria-label]="'Show password'" [attr.aria-pressed]="view">
                            <mat-icon>{{view ? 'visibility_off' : 'visibility'}}</mat-icon>
                           </button>
                      </div>
                        <span class="text-danger"
                            *ngIf="(changePasswordFormControl.newPassword.touched || submitted) && changePasswordFormControl.newPassword.errors?.required">
                            Password is required
                        </span>
                        <span class="text-danger"
                            *ngIf="changePasswordFormControl.newPassword.touched && changePasswordFormControl.newPassword.errors?.invalidPassword">
                            Password should contain minimum 8 characters, at least 1 uppercase letter, 1 lowercase
                            letter and 1 number
                        </span>
                    </div>
                    <!--Confirm Password-->
                    <div class="mb-3">
                        <div class="search-wrapper cf">
                        <label for="ConfNewPass" class="form-label">Confirm New
                            Password</label>
                        <input type="password" style="padding-left: 50px" matInput [type]="visible ? 'password' : 'text'" class="form-control" 
                        id="ConfNewPass" formControlName="confirmPassword" aria-describedby="">
                        <button  type="button" mat-icon-button matSuffix (click)="visible = !visible" [attr.aria-label]="'Show password'" [attr.aria-pressed]="visible">
                            <mat-icon>{{visible ? 'visibility_off' : 'visibility'}}</mat-icon>
                           </button>
                      </div>
                        
                        <span class="text-danger"
                            *ngIf="(changePasswordFormControl.confirmPassword.touched || submitted) && changePasswordFormControl.confirmPassword.errors?.required">
                             Confirm Password is required
                        </span>
                        <span class="text-danger"
                            *ngIf="changePasswordFormControl.confirmPassword.errors?.mustMatch && changePasswordFormControl.confirmPassword.touched">
                            Password and Confirm Password must match.
                        </span>
                    </div>
                </div>
                <button type="button"  class="btn btn-secondary px-5" [routerLink]="['../account-settings']">Cancel</button>
                <button type="submit" class="btn btn-primary ms-5 px-5" style="float: right">Update</button>
            </form>
        </div>
    </div>
</section>

           