

<ng-container class="notification-bar" *ngIf = "!notify">
    <div class="container">
        <div class="row">
            <div class="col-12 py-2">
                <div class="d-flex align-items-center border-0" role="alert">
                    <i class="material-icons">
                        <div class="h2 text-white">  
                            circle_notifications
                        </div>
                    </i>
                    <div class="ps-3">
                    <a class="text-white notification-bar-link" href="notification" (click)= "openNotification()">You have {{messages?.actions?.length}} new action(s) and {{messages?.messages?.length}} new message(s)</a>
                    </div>
                </div>
            </div>
        </div><!--end Row-->
    </div><!--end Container-->
</ng-container>

<section class="pb-4">
<div class="container">
    <div class="row">
        <h1>Welcome, Joe Public</h1>
        <p>
            Welcome to the Survey Hub! Here, you’ll find surveys that are quick and easy.  We ask only basic questions to understand the type of entertainment programs you enjoy, and the devices you prefer watching them on. Be assured that
            <a href="#">your data and privacy are always protected.</a>
        </p>
    </div><!--end Row-->
</div><!--end Container-->
</section><!--end Section-->

<!-- Quick Start Cards Section-->

<section class="pb-4">
<div class="container">
    <div class="row g-4">
        <h2>Quick start<span class="h2-separator"></span></h2>

        <!-- Card -->
        <div class="card welcome-card col-sm-6 bg-transparent border-0">

            <div class="row g-0 bg-white shadow-sm rounded">

                <div class="col-sm-5 img-wrap">
                    <img class="img-fluid" src="../assets/survey_hub_thumb.jpg"alt="">
                </div>

                <div class="col-sm-7 card-body-wrap d-sm-flex align-items-center justify-content-between">
                    <div class="card-body">
                        <h5 class="card-title">Survey Hub</h5>
                        <p class="card-text">All surveys organized in
                        one place for you.</p>
                        <a [routerLink] = "['/survey/survey']" class="btn btn-secondary">Get Started</a>
                    </div>
                </div>
            </div>

        </div>

         <!-- Card -->
        <div class="card welcome-card col-sm-6 bg-transparent border-0">

            <div class="row g-0 bg-white shadow-sm rounded">

                <div class="col-sm-5 img-wrap">
                    <img class="img-fluid" src="../assets/tech_support_thumb.jpg" alt="">
                </div>

                <div class="col-sm-7 card-body-wrap d-sm-flex align-items-center justify-content-between">
                    <div class="card-body">
                    <h5 class="card-title">Tech Support</h5>
                    <p class="card-text">We are here to help you. Just 
                        ask!</p>
                    <a href="#" class="btn btn-secondary">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

    </div><!--end Row-->
</div><!--end Container-->
</section><!--end Section-->
