 <!--Notification Bar-->
 <app-header></app-header>
<!--<ng-container *ngIf="isRegister else button">

    Notifications count : <a href="/notification">10 </a>

</ng-container> 
<ng-template #button>
<input type="button" value="Register for notification" (click)="registerForNotifi()"/>
</ng-template>-->

<section class="px-3 pb-4">
<div class="container">
    <div class="row">
        <div class="ellipsis">
            <h1>{{ 'welcomePage.title' | translate }}, {{firstName}} {{lastName}}</h1>
          </div>
        <p> {{ 'welcomePage.text' | translate }} <a href='javascript:void(0);' (click)="showWindow()" style="text-decoration: underline;">{{'welcomePage.Link' | translate}}</a>{{'welcomePage.text1' | translate}}</p>
        </div>
    </div><!--end Row-->
<!--end Container-->
</section><!--end Section-->

<!-- Quick Start Cards Section-->

<section class="px-3 pb-4">
<div class="container">
    <div class="row g-6">
        <h2>{{ 'welcomePage.quickStart' | translate }}<span class="h2-separator"></span></h2>

        <!-- Card -->
        <div class="card welcome-card col-sm-6 bg-transparent border-0">

            <div class="row g-0 bg-white shadow-sm rounded" style="min-height: 175px !important;">

                <div class="col-sm-5 img-wrap">
                    <img class="img-fluid" src="./assets/survey_hub_thumb.jpg"alt="">
                </div>

                <div class="col-sm-7 card-body-wrap d-sm-flex align-items-center justify-content-between">
                    <div class="card-body">
                        <h5 class="card-title">{{'welcomePage.surveyhubLabel' | translate}}</h5>
                        <p class="card-text">{{'welcomePage.surveyhubText' | translate}}</p>
                        <button type="submit" [routerLink]="['/survey/survey']" class="btn btn-light">{{'welcomePage.surveyhubButton' | translate}}</button>
                    </div>
                </div>
            </div>

        </div>

         <!-- Card -->
        <div class="card welcome-card col-sm-6 bg-transparent border-0">

            <div class="row g-0 bg-white shadow-sm rounded" style="min-height: 175px !important;">

                <div class="col-sm-5 img-wrap">
                    <img class="img-fluid" src="./assets/tech_support_thumb.jpg" alt="">
                </div>

                <div class="col-sm-7 card-body-wrap d-sm-flex align-items-center justify-content-between">
                    <div class="card-body">
                    <h5 class="card-title">{{'welcomePage.techSupportLabel' | translate}}</h5>
                    <p class="card-text">{{'welcomePage.techSupportText' | translate}}</p>
                        <a class="btn btn-light" [routerLink]="['/support/techsupport']" >{{'welcomePage.techSupportButton' | translate}}</a>
                    </div>
                </div>
            </div>
        </div>

    </div><!--end Row-->
</div><!--end Container-->
</section><!--end Section-->
<app-footer></app-footer>
