<nav class="px-3 mt-4">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/welcome']">{{'Home.title' | translate}}</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/survey/survey']">{{'surveyHub.title' | translate}}</a></li>
            <ng-container *ngIf="isTvGenere else device">
                <li class="breadcrumb-item"><a [routerLink]="['/television/household-members']">{{'houseHold.televisionCardTitle' | translate}}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{memberName}}</li>
              </ng-container>
              <ng-template #device>
                <li class="breadcrumb-item"><a [routerLink]="['/survey/household-devices']">{{'householdDevices.title' | translate}}</a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/survey/deviceList/'+deviceState]">
                    <span *ngIf="this.deviceState =='Inprogress'">{{'householdDevices.householdDevicesActionsLabel2' | translate}}</span>
                    <span *ngIf="this.deviceState =='Completed'">{{'householdDevices.householdDevicesHistoryLabel1' | translate}}</span>
                    <span *ngIf="this.deviceState =='New'">{{'householdDevices.householdDevicesActionsLabel1' | translate}}</span>
                    <span *ngIf="this.deviceState =='Notused'">{{'householdDevices.householdDevicesHistoryLabel2' | translate}}</span>
                </a></li>
                <li class="breadcrumb-item active" aria-current="page">{{deviceName}}</li>
              </ng-template>
        </ol>
    </div>
</nav>

<!-- SURVEY HUB PAGE -->

<!--h1 Intro Section-->
<section class="px-3 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>{{memberName}}</h1>
                <p *ngIf="!isTvGenere">
                   {{'televisionChannels.description' | translate}}
                </p>
                <p *ngIf="isTvGenere">
                    {{'televisionChannels.tv-description' | translate}}
                 </p>
            </div>
        </div>
        <!--end Row-->
    </div>
    <!--end Container-->
</section>
<!--end Section-->

<!-- New Devices Overview Page -->
<section class="px-3 pb-5 customPadd">
    <div class="container">
        <div class="row g-4">
            
            <p class="mt-2 mb-0">{{'televisionChannels.subText' | translate}}</p>
            <ng-container *ngFor="let station of newStationsId; let generId = index">
                <!-- Channel  -->
                <div class="errorClass">
                <div class="bg-white shadow-sm rounded p-3 mb-4">
                    <h3 class="pt-1 pb-0 px-3">{{station.name}}</h3>
                    <form [formGroup]="stationForm[station.id]" >

                    <div class="d-md-flex align-items-center">
                        <div class="col-sm-12 col-md-6 p-3">
                            <h4>{{"televisionChannels.weekdayTittle" | translate}}</h4>
                            <select formControlName="weekDays" class="form-select" aria-label="Select household member" (change)="updateTimeLine(station.id)">
                                <!-- <option selected>{{"televisionChannels.defaultOption" | translate}}</option> -->
                                <option value="" disabled selected>{{"televisionChannels.defaultOption" | translate}}</option>
                                <option value="2">{{"televisionChannels.option1" | translate}}</option>
                                <option value="3">{{"televisionChannels.option2" | translate}}</option>
                                <option value="4">{{"televisionChannels.option3" | translate}}</option>
                                <option value="5">{{"televisionChannels.option4" | translate}}</option>
                                <option value="6">{{"televisionChannels.option5" | translate}}</option>
                                <option value="7">{{"televisionChannels.option6" | translate}}</option>
                            </select>
                            <span *ngIf="stationForm[station.id]?.get('weekDays')?.hasError('required')"  #inputMessage class="text-danger">{{'televisionChannels.error' | translate}}</span>
                        </div>
                        <div class="col-sm-12 col-md-6 p-3">
                            <h4>{{"televisionChannels.weekendTittle" | translate}}</h4>
                            <select formControlName="weekEnds" class="form-select" aria-label="Select household member" (change)="updateTimeLine(station.id)">
                                <option value="" disabled selected>{{"televisionChannels.defaultOption" | translate}}</option>
                                <option value="2">{{"televisionChannels.option1" | translate}}</option>
                                <option value="3">{{"televisionChannels.option2" | translate}}</option>
                                <option value="4">{{"televisionChannels.option3" | translate}}</option>
                                <option value="5">{{"televisionChannels.option4" | translate}}</option>
                                <option value="6">{{"televisionChannels.option5" | translate}}</option>
                                <option value="7">{{"televisionChannels.option6" | translate}}</option>
                            </select>
                            <span *ngIf="stationForm[station.id]?.get('weekEnds')?.hasError('required')"  #inputMessage class="text-danger">{{'televisionChannels.error' | translate}}</span>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
                <!--End Channel-->
            </ng-container>
            
            <!-- Action buttons -->
            <div class="col-xs-6 d-grid gap-2 d-md-block" *ngIf = "deviceState != 'Completed'">
                <button type="submit" class="btn btn-dark" (click) = backRoute()>Back</button>
                <button type="submit" (click)="openModal()" class="btn btn-secondary ms-md-3">Save & Exit</button>
                <button type="button" class="btn btn-primary ms-md-3" (click)="submit()">{{'deviceUsage.submit' | translate}}</button>
            </div>
            <div class="col-xs-6 d-grid gap-2 d-md-block" *ngIf = "deviceState == 'Completed'">
                <button type="submit" class="btn btn-dark" (click) = backRoute()>Cancel</button>
                <button type="button" class="btn btn-primary ms-md-3" >Resubmit</button>
            </div>
        </div>
        <!--end Col-->
    </div>
    <!--end Row-->
    
    <!--end Container-->
</section>
<!--end Section-->
<modal #modal [modalConfig]="modalConfig" (cancelEvent)="cancelEvent($event)" (exitEvent)="exitEvent($event)">
    <!--  body of the modal  -->
  </modal>