  <!-- Breadcrumbs -->
  <nav class="px-3 mt-4">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/support/techsupport']">Home Page</a></li>
            <li class="breadcrumb-item active" aria-current="page">Thank you</li>
        </ol>
    </div>
</nav>

<!-- SURVEY HUB PAGE -->

<!--h1 Intro Section-->
<section class="px-3 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Thank you</h1>
                <p>
                    Great! We received your note. We will email you our reply within 1 business day. Your confirmation number is: Limo500.
                </p>
                <h2>Ask another question<span class="h2-separator"></span></h2>
                <p>Looking to ask more questions? No worries,  we are here for your! <a href="#">Ask another question!</a></p>
            </div>
            
        </div><!--end Row-->
    </div><!--end Container-->
</section><!--end Section-->