<section class="px-3 notification-bar">
    <div class="container">
        <div class="row">
            <div class="col-12 py-2">
                <div class="d-flex align-items-center border-0" role="alert">
                  <i class="material-icons">
                        <div class="h2 text-white">   
                        </div>
                    </i>
                    <div class="ps-3">
                    <a class="text-white" >For better user experience, please update your browser</a>
                    </div>
                </div>
            </div>
        </div><!--end Row-->
    </div><!--end Container-->
</section><!--end Section-->

<section class="px-3 pb-4">
    <div class="container">
        <div class="row">
            <h1> Ready ? Let`s create your account.</h1>
               <p>Please enter the one-time password(OTP) we emailed you.</p>
        </div>
    </div>
</section>

<section class="px-3 pb-4">
   <div class="container">
       <div class="row ">
         <form class="col-md-6">
            <div class="mb-3">
              <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
                <div class="bg-white shadow-sm rounded p-4">
                  <div class="search-wrapper cf">
                  <label for="key" class="form-label">Key</label>
   
                    <input style="padding-left: 50px" matInput [type]="hide ? 'password' : 'text'" type="password" class="form-control" name="password" 
                        [(ngModel)]="model.password" #password="ngModel" 
                        [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="5" 
                        aria-describedby="keyHelp"/>
                        <button type="button" matPrefix mat-icon-button (click)="hide = !hide" [attr.aria-label]="'Show password1'" [attr.aria-pressed]="hide">
                          <mat-icon >{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                         </button> 
                      
                        
                
               
                       <span *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                         <div *ngIf="password.errors?.required">Key is required</div>
                           <div *ngIf="password.errors?.minlength">Key must be at least 5 characters</div>
                       </span>
                          <span *ngIf="showOtpError" class="text-danger"> Enter valid OTP.</span>
                 </div>
                 </div>
                
              
                
                
                   <div class="mb-3 pt-4">
                    <button type="submit" class="btn btn-primary">Continue</button>
                  </div>
              </form>
             </div>
          </form>
          
        </div>
        <div class="mb-3 pt-4">
        <a class ="font-size: small" style="text-decoration: underline" [routerLink]="['/support/contact']">Need Help with your Key ?</a>
        </div>
    </div> 
</section>




<router-outlet></router-outlet>