<!DOCTYPE html>
<html lang="en">


<body>
   <!-- Breadcrumbs -->
   <nav class="px-3 mt-4">
      <div class="container">
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="survey-hub.html">Survey hub</a></li>
            <li class="breadcrumb-item"><a href="household-demograpgics.html">Household demographics</a></li>
            <li class="breadcrumb-item active" aria-current="page">Individual member</li>
         </ol>
      </div>
   </nav>

   <!--h1 Intro Section-->
   <section class="px-3 pb-4">
      <div class="container">
         <div class="row">
            <div class="col-12">
               <h1>
                  <!--Household Member Name -->Houshold Member Name
               </h1>
               <p>
                  Let’s quickly review your answers. To change something, use the back button below to go back and
                  change it. If everything looks ok, hit Continue button.
               </p>
            </div>
            <!--end col-->
         </div>
         <!--end Row-->
      </div>
      <!--end Container-->
   </section>
   <!--end Section-->

   <section class="px-3 pb-4">
      <div class="container">
         <div class="row pb-4">
            <h2>Confirmation<span class="h2-separator"></span></h2>
            <div class="col-12 mt-3">
               <div class="shadow-sm rounded bg-white p-4 mb-4">
                  <div *ngFor="let question of questionList | paginate: config">
                     <ng-contaner [ngSwitch]="question.queType">
                        <div *ngSwitchCase="'YES-NO'">
                           <app-yesNo  (changeEvent1)="changeEvent($event)" [question]="question"></app-yesNo>
                        </div>
                        <div *ngSwitchCase="'RB'">
                           <ng-container *ngIf="question?.column && question?.column?.length > 0 else radio">
                              <app-matrix (changeEvent1)="changeEvent($event)" [question]="question"></app-matrix>
                           </ng-container>

                           <ng-template #radio>
                              <app-radiogroup (changeEvent1)="changeEvent($event)" [question]="question"></app-radiogroup>
                           </ng-template>
                        </div>
                        <div *ngSwitchCase="'CB'">
                           <app-checkbox (changeEvent1)="changeEvent($event)" [question]="question"></app-checkbox>
                        </div>
                        <div *ngSwitchDefault>
                           Default type
                        </div>
                     </ng-contaner>
                  </div>
         
                  
               </div>
               <!-- Action buttons -->
               <div class="col-xs- d-grid gap-2 d-md-block">
                  <button type="submit" class="btn btn-dark">Back</button>
                  <button type="submit" class="btn btn-secondary ms-md-3">Save & Exit</button>
                  <button [routerLink]="['/demographics/demographics-individual-members-page1']" type="submit"
                     class="btn btn-primary ms-md-3">Continue</button>
                  <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
               </div>

            </div>
            <!--end Col-->
         </div>
         <!--end Row-->

      </div>
      <!--end Container-->
   </section>
   <!--end Section-->
</body>

</html>