<!DOCTYPE html>
<html lang="en">


<body>
   <!-- Breadcrumbs -->
   <nav class="px-3 mt-4">
      <div class="container">
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/welcome']">{{'Home.title' | translate}}</a></li>
            <li class="breadcrumb-item"><a [routerLink] = "['/survey/survey']">{{'surveyHub.title' | translate}}</a></li>
            <li class="breadcrumb-item"><a [routerLink] = "['/demographics/demographics-overview']">{{'demographics.tittle' | translate}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{"demographics.card1" | translate}}</li>
         </ol>
      </div>
   </nav>

   <!--h1 Intro Section-->
   <section class="px-3 pb-4">
      <div class="container">
         <div class="row">
            <div class="col-12">
               <h1>
                 {{memberName}}
               </h1>
               <p>{{"demographics.questinarieDescription" | translate}}</p>
            </div>
            <!--end col-->
         </div>
         <!--end Row-->
      </div>
      <!--end Container-->
   </section>
   <!--end Section-->

   <section class="px-3 pb-4">
      <div class="container">
         <div class="row pb-4">
            <h2>Confirmation<span class="h2-separator"></span></h2>
            <div class="col-12 mt-3">
               <app-dynamic-form [homeNo]="homeNo" [houseHold]="houseHold" [memberNo]="memberNo" (markCompleteEvent)="markCompleteEvent($event)" [questionList]="questionList"></app-dynamic-form>
            </div>
            <!--end Col-->
         </div>
         <!--end Row-->
      </div>
      <!--end Container-->
   </section>
   <!--end Section-->
</body>

</html>