<!-- Breadcrumbs -->
<!--<nav class="px-3 mt-4">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/welcome']">Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/notification/messages']">Message center</a></li>
            <li class="breadcrumb-item active" aria-current="page">Action required</li>
        </ol>
    </div>
</nav>-->

<!-- SURVEY HUB PAGE -->

<!--h1 Intro Section-->
<div class="px-3 pb-4">
    <div class="container">
        <div class="row mb-3">
            
                <h1 class="x">{{displayAction?.messageHeader}}</h1>
                <p class="y"><b>{{displayAction?.messageDate | date : 'EE, MMMM dd, hh:mm aaaa'}}</b></p>
                <p class="z">{{displayAction?.messageContent}} </p>
                
          </div>
          </div>
          </div>

          <div class="px-3 pb-4">
            <div class="container">
                    <div class="mb-3">
            
                <button type="submit" class="btn btn-secondary pr-2" [routerLink]="['/notification/messages']">Back</button>
                <button type="submit" class="btn btn-primary ms-3" (click)="takeAction()">Take Action</button>
        </div><!--end Row-->
    </div><!--end Container-->
</div><!--end Section-->
