<!-- Breadcrumbs -->
<nav class="px-3 mt-4">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/welcome']">Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/notification/messages']">Message center</a></li>
            <li class="breadcrumb-item active" aria-current="page">Action required</li>
        </ol>
    </div>
</nav>

<!-- SURVEY HUB PAGE -->

<!--h1 Intro Section-->
<section class="px-3 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>{{displayAction?.messageHeader}}</h1>
                <p>{{displayAction?.messageDate}}</p>
                <p>{{displayAction?.messageContent}} </p>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-secondary" [routerLink]="['/notification']">Back</button>
                <button type="submit" class="btn btn-primary ms-3">Take Action</button>
            </div>
        </div><!--end Row-->
    </div><!--end Container-->
</section><!--end Section-->
