<p>survey-hub works!</p>
<section class="pb-4">
    <div class="container">
        <div class="row g-4">
            <h4>Household<span class="h2-separator"></span></h4>
    
            <!-- Card -->
            <div class="card welcome-card col-sm-6 bg-transparent border-0">
    
                <div class="row g-0 bg-white shadow-sm rounded">
    
                    <div class="col-sm-5 img-wrap">
                        <img class="img-fluid" src="../assets/survey_hub_thumb.jpg"alt="">
                    </div>
    
                    <div class="col-sm-7 card-body-wrap d-sm-flex align-items-center justify-content-between">
                        <div class="card-body">
                            <h5 class="card-title">devices</h5>
                            <p class="card-text">All surveys organized in
                            one place for you.</p>
                            <a [routerLink] = "['../survey-hub/household-devices']" class="btn btn-secondary">Get Started</a>
                        </div>
                    </div>
                </div>
    
            </div>
    
            
        </div><!--end Row-->
    </div><!--end Container-->
    </section><!--end Section-->