<nav class="px-3 mt-4">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/welcome']">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Survey Hub</li>
            
        </ol>
    </div>
</nav>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Survey Hub</h1>
                <p>
                    Welcome to Survey Hub! Here, you'll find surveys that are quick and easy. We ask only basic questions to understand
                    the type of entertainment programs you enjoy - and the device you prefer watching them on.
                    Be assured that your <a [routerLink]="['/login/privacy-policy']">data and privacy are always protected.</a>
                </p>
            </div>
        </div><!--end Row-->
    </div><!--end Container-->

<section class="pb-4">
    <div class="container">
        <div class="row g-4">
            <h4>Household<span class="h2-separator"></span></h4>
            <p>This section contains basic information about household members and the media devices they use.</p>
    
            <!-- Devices Card -->
            <div class="card welcome-card col-sm-6 bg-transparent border-0">
    
                <div class="row g-0 bg-white shadow-sm rounded">
    
                    <div class="col-sm-5 img-wrap">
                        <img class="img-fluid" src="../assets/survey_hub_thumb.jpg"alt="">
                    </div>
    
                    <div class="col-sm-7 card-body-wrap d-sm-flex align-items-center justify-content-between">
                        <div class="card-body">
                            <h5 class="card-title">Devices</h5>
                            <p class="card-text">Surveys about media devices you have at home.</p>
                            <a [routerLink] = "['/survey/household-devices']" class="btn btn-secondary">Continue</a>
                        </div>
                    </div>
                </div>
    
            </div>
    
            <!-- Demographic Card -->
            <div *ngIf="panelistType=='VAM'"  class="card welcome-card col-sm-6 bg-transparent border-0">
    
                <div class="row g-0 bg-white shadow-sm rounded">
    
                    <div class="col-sm-5 img-wrap">
                        <img class="img-fluid" src="../assets/survey_hub_thumb.jpg"alt="">
                    </div>
    
                    <div class="col-sm-7 card-body-wrap d-sm-flex align-items-center justify-content-between">
                        <div class="card-body">
                            <h5 class="card-title">Demographic</h5>
                            <p class="card-text">All surveys organized in
                            one place for you.</p>
                            <a [routerLink] = "['/survey/household-devices']" class="btn btn-secondary">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Television Card -->
            <div *ngIf="panelistType=='VAM'" class="card welcome-card col-sm-6 bg-transparent border-0">
    
                <div class="row g-0 bg-white shadow-sm rounded">
    
                    <div class="col-sm-5 img-wrap">
                        <img class="img-fluid" src="../assets/survey_hub_thumb.jpg"alt="">
                    </div>
    
                    <div class="col-sm-7 card-body-wrap d-sm-flex align-items-center justify-content-between">
                        <div class="card-body">
                            <h5 class="card-title">Television</h5>
                            <p class="card-text">All surveys organized in
                            one place for you.</p>
                            <a [routerLink] = "['/survey/household-devices']" class="btn btn-secondary">Get Started</a>
                        </div>
                    </div>
                </div>
    
            </div>
            
        </div><!--end Row-->
    </div><!--end Container-->
    </section><!--end Section-->