<nav class="px-3 mt-4">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink] = "['/welcome']">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Survey Hub</li> 
        </ol>
    </div>
</nav>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Survey Hub</h1>
                <p>
                    Welcome to Survey Hub! Here, you'll find surveys that are quick and easy. We ask only basic questions to understand
                    the type of entertainment programs you enjoy, and the device you prefer watching them on.
                    Be assured that your <a href='javascript:void(0);' (click)="showWindow()" style="text-decoration: underline;">data and privacy are always protected</a>.
                </p>
            </div>
        </div><!--end Row-->
    </div><!--end Container-->

<section class="pb-4">
    <div class="container">
        <div class="row g-4">
            <h2>Household<span class="h2-separator"></span></h2>
            <p class="pt-1 pb-0 m-0">This section contains basic information about household members and the media devices they use.</p>
    
            <!-- Devices Card -->
            <div class="card thumb-cards col-md-4 bg-transparent border-0">
                <div class="shadow-sm rounded bg-white">
                    <img class="img-fluid rounded-top" src="./assets/devices_thumb.jpg" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Devices</h5>
                        <p class="card-text">Basic questions about members in your household.</p>
                        <a [routerLink] = "['/survey/household-devices']" class="btn btn-primary">Continue</a>
                    </div>
                </div>
            </div>
            
            <!-- Demographic Card -->

            <!-- <div *ngIf="panelistType=='VAM'"  class="card welcome-card col-sm-6 bg-transparent border-0"> -->
            <div class="card thumb-cards col-md-4 bg-transparent border-0">
                <div class="shadow-sm rounded bg-white">
                    <img class="img-fluid rounded-top" src="./assets/demographics_thumb.jpg" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Demographic</h5>
                        <p class="card-text">Surveys about media devices you have at home.</p>
                        <a [routerLink] = "['/survey/survey']" class="btn btn-primary">Continue</a>
                    </div>
                </div>
            </div>
            <!-- Television Card -->
            <!-- <div *ngIf="panelistType=='VAM'" class="card welcome-card col-sm-6 bg-transparent border-0"> -->
                <div class="card thumb-cards col-md-4 bg-transparent border-0">     
                    <div class="shadow-sm rounded bg-white">               
                        <img class="img-fluid rounded-top" src="./assets/demographics_thumb.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Television</h5>
                            <p class="card-text">Surveys about your cable and antena television usage.</p>
                            <a [routerLink] = "['/television/household-members']" class="btn btn-primary">Continue</a>
                        </div>
                    </div>
                </div>
            
        </div><!--end Row-->
    </div><!--end Container-->
    </section><!--end Section-->
    <router-outlet></router-outlet>