<br />
<ng-container> 
    <h3>{{houseHold? question?.hhQueNo : question?.queNo }}.{{ isFrance? question?.titleFr: question?.title}}</h3>
    <div [formGroup]="childFormGroup">
        <div class="container" *ngFor="let row of question?.row;let i=index"
            [style.background-color]="i%2 == 1 ? '#888' : ''">
            <div class="top-left">{{isFrance? row?.frText: row?.text}}</div>
            <div class="top-right">
                <input (change)="changeEvent(row?.value,$event)" [formControlName]="question?.queNo || question?.queId || ''" class="form-check-input"
                    type="radio" [value]="row?.value">
            </div>
        </div>
    </div>
    <span class="danger" *ngIf= "radioFormControl.errors?.required">
        Please select the field. 
    </span> 
</ng-container>