<!DOCTYPE html>
<html lang="en">


<body>


    
    <!-- Breadcrumbs -->
    <nav class="px-3 mt-4">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="survey-hub.html">Survey hub</a></li>
                <li class="breadcrumb-item"><a href="household-demograpgics.html">Household demographics</a></li>
                <li class="breadcrumb-item active" aria-current="page">Individual member</li>
            </ol>
        </div>
    </nav>

    <!--h1 Intro Section-->
    <section class="px-3 pb-4">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1><!--Household Member Name -->Houshold Member Name</h1>
                    <p>
                        Please complete these questions to tell us a bit more about yourself. These questions will only be used in order to report your viewing in the correct group.If possible, please complete the survey in one session. If you exit before clicking submit at the end of the survey, your answers will not be saved.
                    </p>
                </div><!--end col-->
            </div><!--end Row-->
        </div><!--end Container-->
    </section><!--end Section-->

    <section class="px-3 pb-4">
        <div class="container">
            <div class="row pb-4">
                <h2>Page 4 of 7<span class="h2-separator"></span></h2>
                <div class="col-12 mt-3">
                    <div class="shadow-sm rounded bg-white p-4 mb-4">
                        <form>
                           <!-- Question 7 -->
                            <div class="mb-4">
                                <h4>What is the highest level of education you have completed?
                                </h4>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question7" id="Radio35">
                                    <label class="form-check-label" for="Radio35">Secondary (High) School Diploma or equivalency certificate</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question7" id="Radio36">
                                    <label class="form-check-label" for="Radio36">Registered Apprenticeship, Trades Certificate or other Trades diploma</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question7" id="Radio37">
                                    <label class="form-check-label" for="Radio37">Completed Community / Technical college, CEGEP or other non-university certificate or diploma</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question7" id="Radio38">
                                    <label class="form-check-label" for="Radio38">University undergraduate degree, certificate or diploma (e.g., B.A., B.Sc., LL.B)</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question7" id="Radio39">
                                    <label class="form-check-label" for="Radio39">University post-graduate degree (e.g. M.A., Ph.D., M.D., D.D.S.)</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question7" id="Radio40">
                                    <label class="form-check-label" for="Radio40">No certificate or diploma</label>
                                </div>
                            </div>

                            <!-- Question 8 -->
                            <div class="mb-4">
                                <h4>How much time did you personally spend on the internet at home yesterday using 
                                    a computer, smartphone or other device? (Includes checking email, visiting websites 
                                    and streaming music and video)
                                </h4>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question8" id="Radio41">
                                    <label class="form-check-label" for="Radio41">None</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question8" id="Radio42">
                                    <label class="form-check-label" for="Radio42">Up to 1 hour</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question8" id="Radio43">
                                    <label class="form-check-label" for="Radio43">Between 1 and 3 hours</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question8" id="Radio44">
                                    <label class="form-check-label" for="Radio44">More than 3 hours</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question8" id="Radio45">
                                    <label class="form-check-label" for="Radio45">Don’t Know</label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- Action buttons -->
                    <div class="col-xs-6 d-grid gap-2 d-md-block">
                        <button type="submit" class="btn btn-dark">Back</button>
                        <button type="submit" class="btn btn-secondary ms-md-3">Save & Exit</button>
                        <button [routerLink] = "['/demographics/demographics-individual-members-page5']" type="submit" class="btn btn-primary ms-md-3">Continue</button>
                    </div>
                   
                </div><!--end Col-->
            </div><!--end Row-->

        </div><!--end Container-->
    </section><!--end Section--> 
</body>
</html>
