

<!-- Registration form with OTP-->
<section class="px-3 pb-4">
    <div class="container">
        <div class="row">

        <p class="x">Register/Create Profile</p>
        <div><h1 class="y">Create Profile</h1></div>
        <div><p>Enter your username and password below</p></div>
        <div><b>Tips</b></div>
        
        <div>
        
        <li> Be between 8 and 20 characters long
            <span class="check"> &#10003;</span></li>
        <li> Have both letters and numbers
            <span class="check"> &#10003;</span></li>
        <li>Not have spaces, special characters or emojis
            <span class="check"> &#10003;</span></li>
        </div>
        <section class="px-3 pb-4">
    <div *ngIf="!showRegistraion" class="container">

    
    </div>
    </section>
    <div *ngIf="showRegistraion">
        <form class="col-md-6" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="bg-white shadow-sm rounded p-4">
                <div class="mb-3">
                    <label for="inputEmail" class="form-label">Email</label>
                    <input type="email" class="form-control" id="inputEmail" formControlName="email"
                        aria-describedby="emailHelp">
                    <span class="text-danger"
                        *ngIf="(registerFormControl.email.touched || submitted) && registerFormControl.email.errors?.required">
                        Email is required
                    </span>
                    <span class="text-danger"
                        *ngIf="registerFormControl.email.touched && registerFormControl.email.errors?.email">
                        Enter a valid email address
                    </span>
                </div>
                <div class="mb-3">
                    <div class="search-wrapper cf">
                        
                    <label for="inputPass" class="form-label">Password</label>
                    <input style="padding-left: 50px" matInput [type]="show ? 'password' : 'text'" type="password" class="form-control" formControlName="password" id="inputPass">
                    <button type="button" mat-icon-button matSuffix (click)="show = !show" [attr.aria-label]="'Show password'" [attr.aria-pressed]="show" class="eye-hide">
                        <mat-icon>{{show ? 'visibility_off' : 'visibility'}}</mat-icon>
                       </button>
              </div>
                    <span class="text-danger"
                        *ngIf="(registerFormControl.password.touched || submitted) && registerFormControl.password.errors?.required">
                        Password is required
                    </span>
                    <span class="text-danger"
                        *ngIf="registerFormControl.password.touched && registerFormControl.password.errors?.invalidPassword">
                        Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
                        letter and 1 number
                    </span>
                </div>
                <div class="mb-3">
                    <div class="search-wrapper cf">
                    <label for="inputPass" class="form-label">Confirm Password</label>
                    
                    <input style="padding-left: 50px" matInput [type]="hide ? 'password' : 'text'" type="password" class="form-control" formControlName="confirmPassword" id="confirmPass">
         
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Show password1'" [attr.aria-pressed]="hide" class="eye-hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                       </button>
              </div>
                    <span class="text-danger"
                        *ngIf="(registerFormControl.confirmPassword.touched || submitted) && registerFormControl.password.errors?.required">
                        Confirm password is required
                    </span>
                    <span class="text-danger" *ngIf="registerFormControl.confirmPassword.errors?.mustMatch && registerFormControl.confirmPassword.touched">Password and
                        Confirm Password
                        must match.
                    </span>
                    <div *ngIf="showError" class = "text-danger">
                        {{errorMessage}}
                    </div>
                </div>
            </div>
            </form>
            </div>
        </div>
         </div>
        </section>
            
        <section class="px-3 pb-4">
            <div class="px-3 pb-4 form-group mb-3">
                <div class="container">
                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
            <button type="submit" class="btn btn-primary">Register</button>
           </form>
        </div>
    </div>
    </section>
        
    <router-outlet></router-outlet>