<!-- Breadcrumbs -->
<nav class="px-3 mt-4">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/welcome']">{{'Home.title' | translate}}</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/support/techsupport']">{{ 'techSupportPage.title' |
                    translate }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{'faqPage.title1' | translate}}</li>
        </ol>
    </div>
</nav>

<!--h1 Intro Section-->
<section class="px-3 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>{{'faqPage.title1' | translate}}</h1>
                <p>
                    {{'faqPage.description1' | translate}}
                </p>
            </div>
            <!--end col-->
        </div>
        <!--end Row-->
    </div>
    <!--end Container-->
</section>
<!--end Section-->

<section class="px-3 pb-4 faq-section">
    <div class="container">
        <div class="row pb-4">
            <h2> {{'faqPage.heading2' | translate}}<span class="h2-separator"></span></h2>
            <div class="col-12 mt-3">
                <div class="shadow-sm rounded bg-white p-4 mb-4">

                    <ng-container *ngIf="panelistType =='SSP'">
                        <ul>

                            <li>
                                <h4 (click)="scrollInView('q1')">{{'faqSSPQuestions.q1' | translate}}</h4>
                            </li>
                            <li>
                                <h4 (click)="scrollInView('q2')">{{'faqSSPQuestions.q2' | translate}}</h4>
                            </li>
                            <li>
                                <h4 (click)="scrollInView('q3')">{{'faqSSPQuestions.q3' | translate}}</h4>
                            </li>
                            <li>
                                <h4 (click)="scrollInView('q4')">{{'faqSSPQuestions.q4' | translate}}</h4>
                            </li>
                            <li>
                                <h4 (click)="scrollInView('q5')">{{'faqSSPQuestions.q5' | translate}}</h4>
                            </li>
                            <li>
                                <h4 (click)="scrollInView('q6')">{{'faqSSPQuestions.q6' | translate}}</h4>
                            </li>
                            <li>
                                <h4 (click)="scrollInView('q7')">{{'faqSSPQuestions.q7' | translate}}</h4>
                            </li>
                            <li>
                                <h4 (click)="scrollInView('q8')">{{'faqSSPQuestions.q8' | translate}}</h4>
                            </li>
                            <li>
                                <h4 (click)="scrollInView('q9')">{{'faqSSPQuestions.q9' | translate}}</h4>
                            </li>
                            <li>
                                <h4 (click)="scrollInView('q10')">{{'faqSSPQuestions.q10' | translate}}</h4>
                            </li>
                            <li>
                                <h4 (click)="scrollInView('q11')">{{'faqSSPQuestions.q11' | translate}}</h4>
                            </li>
                            <li>
                                <h4 (click)="scrollInView('q12')">{{'faqSSPQuestions.q12' | translate}}</h4>
                            </li>
                            <li>
                                <h4 (click)="scrollInView('q13')">{{'faqSSPQuestions.q13' | translate}}</h4>
                            </li>
                            <li>
                                <h4 (click)="scrollInView('q14')">{{'faqSSPQuestions.q14' | translate}}</h4>
                            </li>
                            <li>
                                <h4 (click)="scrollInView('q15')">{{'faqSSPQuestions.q15' | translate}}</h4>
                            </li>
                            <li>
                                <h4 (click)="scrollInView('q16')">{{'faqSSPQuestions.q16' | translate}}</h4>
                            </li>
                            <li>
                                <h4 (click)="scrollInView('q17')">{{'faqSSPQuestions.q17' | translate}}</h4>
                            </li>
                            <li>
                                <h4 (click)="scrollInView('q18')">{{'faqSSPQuestions.q18' | translate}}</h4>
                            </li>
                            <li>
                                <h4 (click)="scrollInView('q19')">{{'faqSSPQuestions.q19' | translate}}</h4>
                            </li>
                            <li>
                                <h4 (click)="scrollInView('q20')">{{'faqSSPQuestions.q20' | translate}}</h4>
                            </li>
                            <li>
                                <h4 (click)="scrollInView('q21')">{{'faqSSPQuestions.q21' | translate}}</h4>
                            </li>
                            <li>
                                <h4 (click)="scrollInView('q22')">{{'faqSSPQuestions.q22' | translate}}</h4>
                            </li>
                            <li>
                                <h4 (click)="scrollInView('q23')">{{'faqSSPQuestions.q23' | translate}}</h4>
                            </li>
                            <li>
                                <h4 (click)="scrollInView('q24')">{{'faqSSPQuestions.q24' | translate}}</h4>
                            </li>
                            <li>
                                <h4 (click)="scrollInView('q25')">{{'faqSSPQuestions.q25' | translate}}</h4>
                            </li>
                            <li>
                                <h4 (click)="scrollInView('q26')">{{'faqSSPQuestions.q26' | translate}}</h4>
                            </li>
                            <li>
                                <h4 (click)="scrollInView('q27')">{{'faqSSPQuestions.q27' | translate}}</h4>
                            </li>
                            <li>
                                <h4 (click)="scrollInView('q28')">{{'faqSSPQuestions.q28' | translate}}</h4>
                            </li>
                            <li>
                                <h4 (click)="scrollInView('q29')">{{'faqSSPQuestions.q29' | translate}}</h4>
                            </li>
                            <li>
                                <h4 (click)="scrollInView('q30')">{{'faqSSPQuestions.q30' | translate}} </h4>
                            </li>
                            <li>
                                <h4 (click)="scrollInView('q31')">{{'faqSSPQuestions.q31' | translate}}</h4>
                            </li>
                            <li>
                                <h4 (click)="scrollInView('q32')">{{'faqSSPQuestions.q32' | translate}}</h4>
                            </li>
                            <li>
                                <h4 (click)="scrollInView('q33')">{{'faqSSPQuestions.q33' | translate}}</h4>
                            </li>
                            <li>
                                <h4 (click)="scrollInView('q34')">{{'faqSSPQuestions.q34' | translate}}</h4>
                            </li>
                        </ul>



                        <br>
                        <h4 id="q1">1. {{'faqSSPQuestions.q1' | translate}}</h4>
                        <p><b>{{'answerLabel.A' | translate}}.</b> {{'faqSSPAnswers.a1' | translate}}</p>

                        <h4 id="q2">2. {{'faqSSPQuestions.q2' | translate}}</h4>
                        <p><b>{{'answerLabel.A' | translate}}.</b> {{'faqSSPAnswers.a2.1' | translate}}</p>
                        <p>{{'faqSSPAnswers.a2.2' | translate}} <a  href="{{'faqSSPAnswers.a2.2.1' | translate}}"
                                >(www.numeris.ca/inclusionlist).</a>
                        <p>{{'faqSSPAnswers.a2.3' | translate}} </p>
                        <p>{{'faqSSPAnswers.a2.4' | translate}}</p>

                        <h4 id="q3">3. {{'faqSSPQuestions.q3' | translate}}</h4>
                        <p><b> {{'answerLabel.A' | translate}}.</b> {{'faqSSPAnswers.a3.1' | translate}}</p>
                        <p>{{'faqSSPAnswers.a3.2' | translate}}</p>

                        <h4 id="q4">4. {{'faqSSPQuestions.q4' | translate}}</h4>
                        <p><b>{{'answerLabel.A' | translate}}.</b> {{'faqSSPAnswers.a4' | translate}}</p>

                        <h4 id="q5">5. {{'faqSSPQuestions.q5' | translate}}</h4>
                        <p><b>{{'answerLabel.A' | translate}}.</b> {{'faqSSPAnswers.a5' | translate}}</p>

                        <h4 id="q6">6. {{'faqSSPQuestions.q6' | translate}}</h4>
                        <p><b>{{'answerLabel.A' | translate}}.</b>{{'faqSSPAnswers.a6' | translate}}</p>

                        <h4 id="q7">7. {{'faqSSPQuestions.q7' | translate}}</h4>
                        <p><b>{{'answerLabel.A' | translate}}.</b>{{'faqSSPAnswers.a7' | translate}}</p>

                        <h4 id="q8">8. {{'faqSSPQuestions.q8' | translate}}</h4>
                        <p><b>{{'answerLabel.A' | translate}}.</b> {{'faqSSPAnswers.a8' | translate}}</p>

                        <h4 id="q9">9. {{'faqSSPQuestions.q9' | translate}}</h4>
                        <p><b>{{'answerLabel.A' | translate}}.</b> {{'faqSSPAnswers.a9.1' | translate}}</p>
                        <p style="display:inline"><u>{{'faqSSPAnswers.a9.2' | translate}}</u></p>
                        <p>{{'faqSSPAnswers.a9.3' | translate}}</p>
                        <ul>
                            <li>{{'faqSSPAnswers.a9.4' | translate}}</li>
                            <li>{{'faqSSPAnswers.a9.5' | translate}}</li>
                            <li>{{'faqSSPAnswers.a9.6' | translate}}</li>
                            <li>{{'faqSSPAnswers.a9.7' | translate}}</li>
                            <li>{{'faqSSPAnswers.a9.8' | translate}}</li>
                        </ul>
                        <p>{{'faqSSPAnswers.a9.9' | translate}}</p>
                        <p style="display:inline"><u>{{'faqSSPAnswers.a9.10' | translate}}</u></p>
                        <p>{{'faqSSPAnswers.a9.11' | translate}}</p>
                        <p style="display:inline"><u>{{'faqSSPAnswers.a9.12' | translate}}</u></p>
                        <p>{{'faqSSPAnswers.a9.13' | translate}}</p>
                        <p style="display:inline"><u>{{'faqSSPAnswers.a9.14' | translate}}</u></p>
                        <p>{{'faqSSPAnswers.a9.15' | translate}}</p>


                        <h4 id="q10">10. {{'faqSSPQuestions.q10' | translate}}</h4>
                        <p><b>{{'answerLabel.A' | translate}}.</b> {{'faqSSPAnswers.a10' | translate}}</p>

                        <h4 id="q11">11. {{'faqSSPQuestions.q11' | translate}}</h4>
                        <p><b>{{'answerLabel.A' | translate}}.</b> {{'faqSSPAnswers.a11' | translate}}</p>

                        <h4 id="q12">12. {{'faqSSPQuestions.q12' | translate}}</h4>
                        <p><b>{{'answerLabel.A' | translate}}.</b> {{'faqSSPAnswers.a12' | translate}}</p>

                        <h4 id="q13">13. {{'faqSSPQuestions.q13' | translate}}</h4>
                        <p><b>{{'answerLabel.A' | translate}}.</b> {{'faqSSPAnswers.a13' | translate}}</p>

                        <h4 id="q14">14. {{'faqSSPQuestions.q14' | translate}}</h4>
                        <p><b>{{'answerLabel.A' | translate}}.</b> {{'faqSSPAnswers.a14' | translate}}</p>

                        <h4 id="q15">15. {{'faqSSPQuestions.q15' | translate}}</h4>
                        <p><b>{{'answerLabel.A' | translate}}.</b> {{'faqSSPAnswers.a15' | translate}}</p>

                        <h4 id="q16">16. {{'faqSSPQuestions.q16' | translate}}</h4>
                        <p><b>{{'answerLabel.A' | translate}}.</b> {{'faqSSPAnswers.a16' | translate}}</p>

                        <h4 id="q17">17. {{'faqSSPQuestions.q17' | translate}}</h4>
                        <p><b>{{'answerLabel.A' | translate}}.</b> {{'faqSSPAnswers.a17' | translate}}</p>

                        <h4 id="q18">18. {{'faqSSPQuestions.q18' | translate}}</h4>
                        <p><b>{{'answerLabel.A' | translate}}.</b> {{'faqSSPAnswers.a18' | translate}}</p>

                        <h4 id="q19">19. {{'faqSSPQuestions.q19' | translate}}</h4>
                        <p><b>{{'answerLabel.A' | translate}}.</b> {{'faqSSPAnswers.a19' | translate}}</p>

                        <h4 id="q20">20. {{'faqSSPQuestions.q20' | translate}}</h4>
                        <p><b>{{'answerLabel.A' | translate}}.</b>{{'faqSSPAnswers.a20' | translate}}</p>

                        <h4 id="q21">21. {{'faqSSPQuestions.q21' | translate}}</h4>
                        <p><b>{{'answerLabel.A' | translate}}.</b>{{'faqSSPAnswers.a21' | translate}}</p>

                        <h4 id="q22">22. {{'faqSSPQuestions.q22' | translate}}</h4>
                        <p style="display:inline"><b>{{'answerLabel.A' | translate}}.</b> {{'faqSSPAnswers.a22.1' |
                            translate}}<a href="https://numeris.ca/inclusionlist/"
                                target="_blank">(www.numeris.ca/inclusionlist).</a></p>
                        <p>{{'faqSSPAnswers.a22.2' | translate}}</p>
                        <p>{{'faqSSPAnswers.a22.3' | translate}}</p>

                        <h4 id="q23">23. {{'faqSSPQuestions.q23' | translate}}</h4>
                        <p><b>{{'answerLabel.A' | translate}}.</b> {{'faqSSPAnswers.a23' | translate}}</p>

                        <h4 id="q24">24. {{'faqSSPQuestions.q24' | translate}}</h4>
                        <p><b>{{'answerLabel.A' | translate}}.</b> {{'faqSSPAnswers.a24.1' | translate}}</p>
                        <p>{{'faqSSPAnswers.a24.2' | translate}}</p>

                        <h4 id="q25">25. {{'faqSSPQuestions.q25' | translate}}</h4>
                        <p><b>{{'answerLabel.A' | translate}}.</b> {{'faqSSPAnswers.a25' | translate}}</p>

                        <h4 id="q26">26. {{'faqSSPQuestions.q26' | translate}}</h4>
                        <p><b>{{'answerLabel.A' | translate}}.</b> {{'faqSSPAnswers.a26' | translate}}</p>

                        <h4 id="q27">27. {{'faqSSPQuestions.q27' | translate}}</h4>
                        <p><b>{{'answerLabel.A' | translate}}.</b> {{'faqSSPAnswers.a27' | translate}}</p>

                        <h4 id="q28">28. {{'faqSSPQuestions.q28' | translate}}</h4>
                        <p><b>{{'answerLabel.A' | translate}}.</b> {{'faqSSPAnswers.a28' | translate}}</p>

                        <h4 id="q29">29. {{'faqSSPQuestions.q29' | translate}}</h4>
                        <p><b>{{'answerLabel.A' | translate}}.</b> {{'faqSSPAnswers.a29' | translate}}</p>

                        <h4 id="q30">30. {{'faqSSPQuestions.q30' | translate}}</h4>
                        <p><b>{{'answerLabel.A' | translate}}.</b> {{'faqSSPAnswers.a30' | translate}}</p>

                        <h4 id="q31">31. {{'faqSSPQuestions.q31' | translate}}</h4>
                        <p><b>{{'answerLabel.A' | translate}}.</b> {{'faqSSPAnswers.a31' | translate}}</p>

                        <h4 id="q32">32. {{'faqSSPQuestions.q32' | translate}}</h4>
                        <p><b>{{'answerLabel.A' | translate}}.</b> {{'faqSSPAnswers.a32' | translate}}</p>

                        <h4 id="q33">33. {{'faqSSPQuestions.q33' | translate}}</h4>
                        <p><b>{{'answerLabel.A' | translate}}.</b> {{'faqSSPAnswers.a33' | translate}}</p>
                        <p>{{'faqSSPAnswers.a33.2' | translate}}</p>

                        <div id="leftbox">
                            <p><b>{{'faqSSPAnswers.a33.3' | translate}}</b></p>
                        </div>
                        <div id="rightbox">
                            <p><b>{{'faqSSPAnswers.a33.4' | translate}}</b></p>
                        </div>

                        <div id="leftbox" class="clear">
                            <p>{{'faqSSPAnswers.m1' | translate}}</p>
                        </div>
                        <div id="rightbox">
                            <p>{{'faqSSPAnswers.m1Means' | translate}}</p>
                        </div>

                        <div id="leftbox">
                            <p>{{'faqSSPAnswers.m2' | translate}}</p>
                        </div>
                        <div id="rightbox">
                            <p>{{'faqSSPAnswers.m2Means' | translate}}</p>
                        </div>
                        <br class="clear">
                        <div id="leftbox">
                            <p>{{'faqSSPAnswers.m3' | translate}}</p>
                        </div>
                        <div id="rightbox">
                            <p>{{'faqSSPAnswers.m3Means' | translate}}</p>
                        </div>
                        <br class="clear">

                        <div id="leftbox">
                            <p>{{'faqSSPAnswers.m4' | translate}}</p>
                        </div>
                        <div id="rightbox">
                            <p>{{'faqSSPAnswers.m4Means' | translate}}</p>
                        </div>

                        <p class="clear">{{'faqSSPAnswers.text' | translate}}</p>

                        <div id="leftbox">
                            <p>{{'faqSSPAnswers.m5' | translate}}</p>
                        </div>
                        <div id="rightbox">
                            <p>{{'faqSSPAnswers.m5Means' | translate}}</p>
                        </div>
                        <br class="clear">
                        <div id="leftbox">
                            <p>{{'faqSSPAnswers.m6' | translate}}</p>
                        </div>
                        <div id="rightbox">
                            <p>{{'faqSSPAnswers.m6Means' | translate}}</p>
                        </div>

                        <h4 id="q34" class="clear">34. {{'faqSSPQuestions.q34' | translate}}</h4>


                        <p>{{'faqSSPAnswers.montrealoffice' | translate}}</p>
                        <p>{{'faqSSPAnswers.mtf' | translate}}</p>
                        <p>{{'faqSSPAnswers.weekends' | translate}}</p>
                        <p>{{'faqSSPAnswers.email' | translate}}</p>
                        <p>{{'faqSSPAnswers.tollFree' | translate}}</p>
                        <br>
                        <p>{{'faqSSPAnswers.richmondOffice' | translate}}</p>
                        <p>{{'faqSSPAnswers.rmtf' | translate}}</p>
                        <p>{{'faqSSPAnswers.saturday' | translate}}</p>
                        <p>{{'faqSSPAnswers.sunday' | translate}}</p>
                        <p>{{'faqSSPAnswers.rEmail' | translate}}</p>
                        <p>{{'faqSSPAnswers.rTollfree' | translate}}</p>

                    </ng-container>
                    <ng-container *ngIf="panelistType =='VAM'">
                        <ul>
                            <li>
                                <h4 (click)="scrollInView('vq1')">{{'faqPageVam.q1' | translate}} </h4>
                            </li>
                            <li>
                                <h4 (click)="scrollInView('vq2')">{{'faqPageVam.q2' | translate}} </h4>
                            </li>
                            <li>
                                <h4 (click)="scrollInView('vq3')">{{'faqPageVam.q3' | translate}} </h4>
                            </li>
                            <li>
                                <h4 (click)="scrollInView('vq4')">{{'faqPageVam.q4' | translate}} </h4>
                            </li>
                            <li>
                                <h4 (click)="scrollInView('vq5')">{{'faqPageVam.q5' | translate}} </h4>
                            </li>
                            <li>
                                <h4 (click)="scrollInView('vq6')">{{'faqPageVam.q6' | translate}} </h4>
                            </li>
                            <li>
                                <h4 (click)="scrollInView('vq7')">{{'faqPageVam.q7' | translate}} </h4>
                            </li>
                            <li>
                                <h4 (click)="scrollInView('vq8')">{{'faqPageVam.q8' | translate}} </h4>
                            </li>
                            <li>
                                <h4 (click)="scrollInView('vq9')">{{'faqPageVam.q9' | translate}} </h4>
                            </li>
                        </ul>
                        <h4 id="vq1">1. {{'faqPageVam.q1' | translate}} </h4>
                        <p><b>{{'answerLabel.A' | translate}}.</b> {{'faqPageVamAnswers.a1' | translate}}</p>

                        <h4 id="vq2">2. {{'faqPageVam.q2' | translate}} </h4>
                        <p><b>{{'answerLabel.A' | translate}}.</b> {{'faqPageVamAnswers.a2' | translate}}</p>

                        <h4 id="vq3">3. {{'faqPageVam.q3' | translate}} </h4>
                        <p><b>{{'answerLabel.A' | translate}}.</b> {{'faqPageVamAnswers.a3' | translate}}</p>

                        <h4 id="vq4">4. {{'faqPageVam.q4' | translate}} </h4>
                        <p><b>{{'answerLabel.A' | translate}}.</b> {{'faqPageVamAnswers.a4' | translate}}</p>

                        <h4 id="vq5">5. {{'faqPageVam.q5' | translate}} </h4>
                        <p><b>{{'answerLabel.A' | translate}}.</b> {{'faqPageVamAnswers.a5' | translate}}</p>

                        <h4 id="vq6">6. {{'faqPageVam.q6' | translate}} </h4>
                        <p><b>{{'answerLabel.A' | translate}}.</b> {{'faqPageVamAnswers.a6' | translate}}</p>

                        <h4 id="vq7">7. {{'faqPageVam.q7' | translate}} </h4>
                        <p><b>{{'answerLabel.A' | translate}}.</b> {{'faqPageVamAnswers.a7' | translate}}</p>

                        <h4 id="vq8">8. {{'faqPageVam.q8' | translate}} </h4>
                        <p><b>{{'answerLabel.A' | translate}}.</b> {{'faqPageVamAnswers.a8' | translate}}</p>

                        <h4 id="vq9">9. {{'faqPageVam.q9' | translate}} </h4>
                        <p><b>{{'answerLabel.A' | translate}}.</b> {{'faqPageVamAnswers.a9' | translate}}</p>

                    </ng-container>

                </div>
            </div>
            <!--end Col-->
            <h2>{{'faqPage.title2' | translate}}<span class="h2-separator"></span></h2>
            <div class="col-12 mt-3">
                <p>{{'faqPage.description2' | translate}} <a style="text-decoration: underline;"
                        [routerLink]="['/support/contact']">{{'faqPage.link' | translate}}</a> {{'faqPage.text2' |
                    translate}}</p>
            </div>

        </div>
        <!--end Row-->

    </div>
    <!--end Container-->
</section>
<!--end Section-->

<button id="goTop" class="btn-top" [class.visible]="isScrollTop" (click)="topFunction()">

    <svg class="arrow up" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="5 0 50 80" xml:space="preserve">
        <polyline fill="none" stroke="#FFFFFF" stroke-width="8" stroke-linecap="round" stroke-linejoin="round"
            points="0.375, 35.375 28.375, 0.375 58.67, 35.375 " />
    </svg>

</button>