<!-- Breadcrumbs -->
<nav class="px-3 mt-4">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/welcome']">Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/support/techsupport']">Tech support</a></li>
            <li class="breadcrumb-item active" aria-current="page">FAQ's</li>
        </ol>
    </div>
</nav>

<!--h1 Intro Section-->
<section class="px-3 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>{{'faqPage.title1' | translate}}</h1>
                <p>
                    {{'faqPage.description1' | translate}}
                </p>
            </div><!--end col-->
        </div><!--end Row-->
    </div><!--end Container-->
</section><!--end Section-->

<section class="px-3 pb-4 faq-section">
    <div class="container">
        <div class="row pb-4">
            <h2> {{'faqPage.heading2' | translate}}<span class="h2-separator"></span></h2>
            <div class="col-12 mt-3">
                <div class="shadow-sm rounded bg-white p-4 mb-4">
                    
                    <h2 style="color:cornflowerblue">Contents</h2>
                    <h3 (click)="scrollInView('q1')">1. What is the Numeris Multimedia Ratings Panel?</h3>
                    <h3 (click)="scrollInView('q2')">2. How do the Meters work?</h3>
                    <h3 (click)="scrollInView('q3')">3. What do panel members receive for being a part of the ratings panel?</h3>
                    <h3 (click)="scrollInView('q4')">4. How do the draws work</h3>
                    <h3 (click)="scrollInView('q5')">5. Do I have to listen to the radio or watch TV or online videos to be eligible for monthly rewards or draws</h3>
                    <h3 (click)="scrollInView('q6')">6. Do I have to report the incentives or draw winnings that I receive from Numeris in my annual taxes to the government?</h3>
                    <h3 (click)="scrollInView('q7')">7. Why do we need complete questionnaires</h3>
                    <h3 (click)="scrollInView('q8')">8. Why do I have to sign the Consent and Confidentiality Agreement?</h3>
                    <h3 (click)="scrollInView('q9')">9. What household or technology changes do we need to inform you of, and why?</h3>
                    <h3 (click)="scrollInView('q10')">10. What if we take a vacation or travel</h3>
                    <h3 (click)="scrollInView('q11')">11. Can I plug in my Meters as soon as I receive them</h3>
                    <h3 (click)="scrollInView('q12')">12. What are the beacons meant for and do they need to remain plugged in?</h3>
                    <h3 (click)="scrollInView('q13')">13. Why do I need to let you know when I am changing addresses?</h3>
                    <h3 (click)="scrollInView('q14')">14. What if someone in the family listens to radio or watches TV using headphones?</h3>
                    <h3 (click)="scrollInView('q15')">15. Do I need to charge my PersonalMeter every night</h3>
                    <h3 (click)="scrollInView('q16')">16. Do I have to carry the PersonalMeter in the summer months and during the holiday season?</h3>
                    <h3 (click)="scrollInView('q17')">17. I have a large family and it is hard to keep track of the PersonalMeters. Can you provide some tips</h3>
                    <h3 (click)="scrollInView('q18')">18. How do I make carrying the PersonalMeters fun and easy to remember for the family</h3>
                    <h3 (click)="scrollInView('q19')">19. What do I do if I lose my Meter or if it doesn’t work anymore?</h3>
                    <h3 (click)="scrollInView('q20')">20. Am I the only person allowed to wear my PersonalMeter?</h3>
                    <h3 (click)="scrollInView('q21')">21. Will the time on my PersonalMeter automatically adjust to daylight saving time?</h3>
                    <h3 (click)="scrollInView('q22')">22. How does the FocalMeter exclude web traffic that is not on the Inclusion list</h3>
                    <h3 (click)="scrollInView('q23')">23. Will someone need to visit my home to hook up the equipment</h3>
                    <h3 (click)="scrollInView('q24')">24. Do I need to push any buttons on my Meters, or do anything special, to participate?</h3>
                    <h3 (click)="scrollInView('q25')">25. What do the indicator lights on my PersonalMeter mean?</h3>
                    <h3 (click)="scrollInView('q26')">26. What do the messages on my PersonalMeter mean?</h3>
                    <h3 (click)="scrollInView('q27')">27. How long do the PersonalMeter and FocalMeter installations take?</h3>
                    <h3 (click)="scrollInView('q28')">28. Will the FocalMeter interfere with my Internet service or other networked devices?</h3>
                    <h3 (click)="scrollInView('q29')">29. Why was my household chosen?</h3>
                    <h3 (click)="scrollInView('q30')">30. How did you get my name and telephone number? </h3>
                    <h3 (click)="scrollInView('q31')">31. How will my Panel Administrator contact me?</h3>
                    <h3 (click)="scrollInView('q32')">32. Once I have joined, how long do I stay on the panel?</h3>
                    <h3 (click)="scrollInView('q33')">33. What should I tell people that ask about my FocalMeter or PersonalMeter? </h3>
                    <h3 (click)="scrollInView('q34')">34. What are the Numeris office hours and how do I contact Numeris? </h3>
                    

                    
                    <br>
                    <h3 id="q1">1. What is the Numeris Multimedia Ratings Panel?</h3>
                    <p>The Numeris Multimedia Ratings Panel consists of many types of households across Canada, such as yours. 
                     Each household has been carefully selected to represent the region in which they live.  
                     These households provide important information about radio listening and television and video viewing. 
                     Numeris uses this information to create what are often called ratings. Broadcasters use the ratings to 
                     make important decisions about programming.  By participating in the panel, Canadians can let broadcasters 
                     know which programs they enjoy online, on TV and on the radio.
                    </p>

                    <h3 id="q2">2. How do the Meters work?   </h3>
                    <p>Two types of equipment are used in the panel: The FocalMeter and the PersonalMeter. 
                     Each one measures different types of programming.
                    </p>  
                    <p>The FocalMeter is a small box that connects to your internet router. It detects only a specific set of 
                     websites or streaming services that are used to watch TV online. You can find the list of websites it measures at
                     <a href="www.numeris.ca/inclusionlist" target="_blank">www.numeris.ca/inclusionlist</a>
                    </p>
                    <p>Each member of your household will be given their own PersonalMeter to keep with them. It picks up a silent broadcast signal 
                     that tells us the radio stations that they are listening to and the television programs that they are watching. 
                     Since the PersonalMeter uses cellular technology, please call us right away if you have been advised by a medical professional 
                     not to use a cellular telephone.
                    </p>
                    <p>The information from the Meters is combined with the information from other panel  households to produce the ratings.</p>

                    <h3 id="q3">3. What do panel members receive for being a part of the ratings panel?</h3>
                    <p>As a token of appreciation, each panelist will receive a cash reward every month, for the previous month’s participation.
                     Panelists receive $1.25 per week for participating in the ratings panel, and a bonus amount for each week that they earn enough 
                     reward points from carrying the PersonalMeter (500 points or more for ages 12 and above, and 300 points or more for children aged 11 and under).
                     Panelists are also eligible for gift cards that are sent annually as well as weekly, monthly and special draws.
                    </p>

                    <h3 id="q4">4. How do the draws work?</h3>
                    <p>Numeris holds regional draws every week and month with each prize valued at $100. For weekly draws, a date is randomly 
                     selected and a winner is also randomly selected from all panelists who accumulated at least 50 reward points for that day. 
                     For monthly draws, only panelists who accumulate 60 reward points every Saturday and Sunday of the month are eligible. 
                     We also hold draws on the following holidays: Family day, Easter, Victoria Day, St-Jean, Canada Day, Civic holiday, 
                     Labor Day, Thanks Giving, Remembrance Day, the Winter Holiday Season and we also have monthly Summer draws.
                    </p>

                    <h3 id="q5">5. Do I have to listen to the radio or watch TV or online videos to be eligible for monthly rewards or draws?</h3>
                    <p>Regardless of the amount of radio and video you consume, as long as you’re carrying your PersonalMeter with you 
                     and your FocalMeter is plugged in, you’re eligible for draws and will receive your monthly rewards. 
                     Watching or listening more will not increase your rewards.
                    </p>

                    <h3 id="q6">6. Do I have to report the incentives or draw winnings that I receive from Numeris in my annual taxes to the government?</h3> 
                    <p>The monthly incentives that you receive, or draws that you may win, are gifts to you for participating in the panel.  
                     You do not have to report them in your taxes.
                    </p> 
                    
                    <h3 id="q7">7. Why do we need complete questionnaires?</h3>
                    <p>Numeris asks all panelists to complete a set of questionnaires when they first join the panel, and at every yearly anniversary.
                     Since we only report on groups of people, and never on individuals, this information helps us to group each panelist correctly. 
                     It also helps improve the quality of the ratings we produce. We realize they take time to answer, but they are a very important 
                     part of the ratings data. Kindly complete your questionnaires in a timely manner. If you need assistance, please give us a call 
                     and we will be happy to help you.
                    </p>
                    
                    <h3 id="q8">8. Why do I have to sign the Consent and Confidentiality Agreement?</h3>
                    <p> All Numeris panelists are asked to sign the Consent and Confidentiality Agreements This document outlines the commitments of 
                     both Numeris and panelists with respect to confidentiality. We at Numeris are committed to maintaining the privacy and 
                     anonymity of our panelists. We want to ensure that you are fully aware of the information that we are gathering and how it is being used. 
                     We also expect that you will keep your participation in the panel confidential and not reveal your identity to any radio or 
                     television broadcasters, or media or advertising agencies; including via social networking. These steps are very important to protect
                     your information as well as the quality of the ratings that we produce.
                    </p>

                    <h3 id="q9">9. What household or technology changes do we need to inform you of, and why?</h3>
                    <p> It is very important for us to know about changes to any of the following, so that we can accurately collect and report 
                     your viewing and listening preferences to broadcasters. This is so important to us that we will send you a token of appreciation 
                     when you notify us of these changes.
                    </p>
                    
                    <u>TV reception or Internet changes:</u>  

                    <p>If you change your TV or internet service, and any of the following are applicable to you, give us a call:</p>

                    <ul style="list-style-type:disc">
                        <li>You currently use an antenna for TV service (rabbit ears with no cable or satellite TV subscriptions), 
                            and decide to sign on with a cable or satellite provider;
                        </li>
                        <li> You already subscribe to cable TV, but change the type of service you receive (analog cable to digital cable, 
                             digital cable to analog cable, or from cable to antenna or satellite);
                        </li>
                        <li>You currently subscribe to satellite TV, but change the type of service you receive (you get cable, or move to antenna only).</li>
                        <li>If you cancel all TV reception.</li>
                        <li>If you are change your internet provider, internet service or cancel your internet service completely.</li>
                    </ul>

                    <p>Please note that it’s not necessary to contact us if you get additional digital cable or satellite receivers, 
                       you keep the same type of reception but change providers, or you change the number of channels to which you subscribe.
                    </p> 
                    
                    <u>Household composition changes:</u>
                    <p>Please let us know if your household gains or loses a member. That is, if someone moves in or out, a baby is born, or someone passes away.</p>
                    
                    <u>TV equipment changes:</u>
                    <p>Please let us know if you purchase or rent a PVR. If you already have a PVR and get additional ones, it is not necessary to inform us.</p>

                    <u>Device changes:</u>
                    <p>Please let us know if you add or remove devices from your household. These include TV sets, computers and mobile devices.</p>
                    
                    <h3 id="q10">10.What if we take a vacation or travel? </h3>
                    <p> If you are planning to be away from your home for any reason, let your Panel Administrator know when you're leaving and when you'll be back.</p>
                    
                    <h3 id="q11">11. Can I plug in my Meters as soon as I receive them? </h3>
                    <p> When receiving new equipment, please allow it to come to room temperature before plugging it in, ideally for 24 hours. </p>
                    
                    <h3 id="q12">12. What are the beacons meant for and do they need to remain plugged in? </h3>
                    <p> Panel households should have two beacons installed at all times, with the light on. 
                        They should also be as far apart from each other as possible, or on different floors. 
                        These beacons transmit a silent signal detected by your PersonalMeter when it is within your house 
                        and allows us to accurately know when your media consumption is within your home or outside of your home.
                        Please leave the beacons installed at all times, and let us know if the light ever goes out, or if you do not have two of them.
                    </p>
                    
                    <h3 id="q13">13. Why do I need to let you know when I am changing addresses? </h3>
                    <p> If you’re moving into a new home, please don’t forget to advise Numeris as soon as you know the new address (and phone number, if applicable) 
                        so we have the most current information on file.
                    </p>
                    
                    <h3 id="q14">14. What if someone in the family listens to radio or watches TV using headphones? </h3>
                    <p> Your PersonalMeter cannot pick up the codes if you use headphones or earbuds with your television, radio, computer or other device.
                        Please use the provided headphone adapter and all your tuning will be included in the ratings. If you do not have the adapter, 
                        please contact us so we can send you one. Please note the headphone adapters may not be compatible with all devices. 
                    </p>
                    
                    <h3 id="q15">15. Do I need to charge my PersonalMeter every night? </h3>
                    <p> Charging your PersonalMeter with the provided charger at night is just as important as wearing your Meter during the day. 
                        This will provide enough time for your Meter's battery to fully recharge and last throughout the day. 
                        It will mean that your Meter is always able to transfer your data to Numeris, capture your media exposure and collect your points. 
                        So please remember to charge your Meter every night! 
                    </p>
                    
                    <h3 id="q16">16. Do I have to carry the PersonalMeter in the summer months and during the holiday season? </h3>
                    <p> Yes, being part of the panel requires that you carry your PersonalMeter all year round. 
                        We realize normal habits change during the summer months and the holiday season. 
                        It is very important for you to carry your PersonalMeter all year round because Numeris produces the ratings all year round. 
                        As usual, please let us know if you go away on vacation by calling us or emailing us. Also, 
                        please remember that we have special holiday season draws for December and January, and monthly summer draws in June, July and August. 
                        If you would like some tips on ways to help you carry the PersonalMeter every day, 
                        please give us a call and our panel administration staff will provide guidance.
                    </p>
                    
                    <h3 id="q17">17. I have a large family and it is hard to keep track of the PersonalMeters.  Can you provide some tips? </h3>
                    <p> Some large households have found that charging all the PersonalMeters in one central spot in the home, 
                        and finding a unique way to identify each person’s PersonalMeter helpful. 
                        Panelists have used different coloured Post-Its with special messages to help family members easily identify their PersonalMeter each day. 
                    </p>
                    
                    <h3 id="q18">18. How do I make carrying the PersonalMeters fun and easy to remember for the family? </h3>
                    <p> Turn it into a game! Adding a competitive element to wearing the PersonalMeter can change the whole dynamic. 
                        Suddenly, it is not just remembering the PersonalMeter in the morning and charging it at night. It’s about WINNING! 
                    </p> 
                    
                    <h3 id="q19">19. What do I do if I lose my Meter or if it doesn’t work anymore? </h3>
                    <p> Let us know if you have misplaced your PersonalMeter in or around your home. 
                        We may be able to use the Meter finder feature to make it beep, to help you find it. 
                        Please let us know right away, as we cannot use this feature if we have lost your PersonalMeter’s signal. 
                        Also, let us know as soon as possible, if you do not know where the Meter is lost or if it is damaged, so we can replace it. 
                        You are not responsible for any loss or damage. 
                        Please note the metering equipment you have in your home belongs to Numeris and we reserve the right to ask for its return at our discretion. 
                    </p>
                    
                    <h3 id="q20">20. Am I the only person allowed to wear my PersonalMeter? </h3>
                    <p> Yes, you are the only person allowed to wear your PersonalMeter. Everybody must wear their own Meter.  
                        Otherwise, it falsifies the data and can result in your removal from the panel. 
                    </p>
                    
                    <h3 id="q21">21. Will the time on my PersonalMeter automatically adjust to daylight saving time? </h3>
                    <p> Yes, the PersonalMeter will display the correct time when it is daylight saving time. </p>
                    
                    <h3 id="q22">22. How does the FocalMeter exclude web traffic that is not on the Inclusion list? </h3>
                    <p> The FocalMeter ONLY tracks web traffic based on a pre-determined inclusion list 
                        <a href="https://numeris.ca/inclusionlist/" target="_blank">(www.numeris.ca/inclusionlist)</a>
                        The inclusion list is a list of approved websites where the FocalMeter is allowed to monitor video viewing. 
                        Any website not on the inclusion list will not have any data logged by the FocalMeter. 
                        It DOES NOT monitor any secure traffic on your network, or any traffic on banking or e-commerce sites. 
                        It does not track any passwords or monitor any emails or IM chats. 
                    </p>
                    <p>Even on inclusion list sites, the FocalMeter only monitors a small fraction of content from these sites via "tags". 
                       Tags are specific URLs identifying the pages navigated or the videos played within an inclusion list website. 
                       Apart from this, the FocalMeter collects the Mac Address of the home router and information on 
                       the local home network, Model, Name, OS, MAC Address and local IP address of devices seen in the home network
                    </p>
                    
                    <h3 id="q23">23. Will someone need to visit my home to hook up the equipment?</h3>
                    <p> No. We have enclosed complete instructions when we sent you your equipment. 
                        We will also enclose a telephone number you can call if you need help. 
                        Our Panel Administration Team can assist you over the phone with your installation.
                    </p>
                    
                    <h3 id="q24">24. Do I need to push any buttons on my Meters, or do anything special, to participate? </h3>
                    <p> Using your Meters is very easy. All you need to do is connect your FocalMeter to your home Internet connection. 
                        Then, follow the online registration process to register your FocalMeter with our panel. 
                        That’s all that is required and there are no buttons to push.
                    </p>
                    <p>The PersonalMeter must be with you all day but there are no buttons to push or anything special that is needed. 
                        There may be places where you need to turn off the cellular system in your PersonalMeter the same way you would for your cellular phone, 
                        such as on an airplane or in a hospital. It is important to keep your PersonalMeter with you during these times so that you 
                        continue to earn points. The button located on the front of your PersonalMeter has two functions: it activates the display’s backlight, 
                        and it can be used to turn the PersonalMeter’s cellular system on and off. 
                        To turn off the PersonalMeter’s internal cellular system, hold down the button on the front of the PersonalMeter 
                        for about 5 seconds until the symbol appears on the display screen. This symbol means that the cellular system is turned off. 
                        To turn the cellular system back on, simply hold the button down again for a few seconds until the symbol no longer appears on 
                        the display screen. In order to include your radio listening and TV viewing in the ratings, 
                        please make sure that you turn your PersonalMeter back on as soon as you are able to do so.
                    </p>
                    
                    <h3 id="q25">25. What do the indicator lights on my PersonalMeter mean? </h3> 

                    <p>The indicator light on the top of your PersonalMeter tells you when you are earning points. 
                        When you wear your PersonalMeter, the indicator light will stay on. If you put your PersonalMeter down, 
                        the light will turn off after a short while. If you do not pick up or move your PersonalMeter, 
                        the light will start flashing and then turn off. The light will come back on when you wear or pick up your PersonalMeter.
                    </p>
                    
                    <h3 id="q26">26. What do the messages on my PersonalMeter mean? </h3>
                    <p> Your PersonalMeter has a display screen to tell you about your points and give you information about the Meter. 
                        When you are wearing your PersonalMeter, the display will show your name and the time. When you charge your PersonalMeter, 
                        the display will show a series of messages once.
                    </p>
                    <p>Below is a list of some basic messages and what they mean:</p>

                    <b>When the message says:</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>It means:</b>
                    <br>
                    Hello (YOUR NAME)  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Meter recognizes that it is recharging.  
                    <br>
                    Thank you (YOUR NAME)  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Meter is adding up the points you have earned by wearing it.  
                    <br>
                    Today/Yesterday (POINTS) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This is the total number of points you have earned so far today and 
                    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;the number of points you earned on the previous day.  
                    <br>
                    This week/Last week (POINTS)  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    This is the number of points you have earned so far this week and 
                    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;how many points you earned last week.  

                    <p>Your Meter may also display one of the following messages while you are wearing it.</p>

                    Battery Low 	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Meter’s battery needs to be charged for a minimum of 4 hours as 
                    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;soon as possible.  
                    <br>
                    Symbol of a cell phone 	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This means the cellular system inside of the Meter has been turned off. 

                    with a line across it: 	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To turn the cellular system back on, please hold down the button on the 

                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;front of the Meter for a few seconds until this symbol is no longer displayed 
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;on the screen. 

                    <h3 id="q27">27. How long do the PersonalMeter and FocalMeter installations take? </h3>
                    <p> Connecting the FocalMeter to your network will take less than 10 minutes. 
                        After connecting the network cable between your FocalMeter and home router and powering the FocalMeter, 
                        there is an online device registration process. The PersonalMeters only take a few minutes 
                        to install and including plugging in the PersonalMeters and the beacons.
                    </p>
                    
                    <h3 id="q28">28. Will the FocalMeter interfere with my Internet service or other networked devices? </h3>
                    <p> No, in most cases the equipment will not interfere with your Internet service or other devices in any way.
                        In rare cases, panelists have experienced intermittent connectivity issues with some networked devices.
                        If you experience any technical issues, please unplug the FocalMeter and contact your Panel Administration Team.
                    </p> 

                    <h3 id="q29">29. Why was my household chosen? </h3>
                    <p> Recently, you completed a telephone survey with Numeris. Based on the information you gave us, 
                        your household was chosen to represent similar households in your area. 
                        Your participation in our panel is very important and it will help ensure that our ratings reflect 
                        the opinions of all Canadians.
                    </p> 

                    <h3 id="q30">30. How did you get my name and telephone number? </h3>
                    <p> We obtain contact information in two ways. The phone numbers, names and address details 
                        we use are randomly selected from telephone book listings, including cell phone listings. 
                        In addition, we use a computer program to randomly generate new numbers in order to reach 
                        unlisted phone numbers.
                    </p>
                    
                    <h3 id="q31">31. How will my Panel Administrator contact me? </h3>
                    <p> Your Panel Administrator will contact you by telephone, email or text.</p>
                    
                    <h3 id="q32">32. Once I have joined, how long do I stay on the panel? </h3>
                    <p> While we would like you to remain on our panel for an extended period, you may leave whenever you wish. 
                        In some situations, due to our panel needs, we may remove households from the panel. 
                        Please keep the box that your equipment arrived in so that you can ship it back to us. 
                        If you wish to leave the panel, please contact your Panel Administration Team.
                    </p>
                    
                    <h3 id="q33">33. What should I tell people that ask about my FocalMeter or PersonalMeter? </h3>
                    <p> To ensure the integrity of Numeris ratings, it is important that your participation remain confidential.
                        If someone asks about your FocalMeter or PersonalMeter, simply let them know that you are participating in a special research study. 
                        Please do not tell anyone you do not know, or anyone working in the media industry, 
                        that your household participates in the Numeris panel.
                    </p> 

                    <h3 id="q34">34. What are the Numeris office hours and how do I contact Numeris? </h3>
                    <p> Montreal Office (for panelists in ON, QC	and Atlantic region—Eastern Time):</p>				 

                    Monday to Friday: 10:00 am to 6:00 pm				 
                    <br>
                    Weekends: 10:00 am to 6:00 pm				 
                    <br>
                    Email: meterpaneleast@numeris.ca				 
                    <br>
                    Toll-free: 1-866-548-8991			 
                    <br><br>
                    

                    Richmond Office (for panelists in MB, SK, AB and BC—Pacific Time):				 
                    <br>
                    Monday to Friday: 9:00 am to 6:00 pm			 
                    <br>
                    Saturday: 10:00 am to 6:00 pm	 
                    <br>
                    Sunday: 9:00 am - 5:00 pm		 
                    <br>
                    Email : meterpanelwest@numeris.ca				 
                    <br>
                    Toll-free : 1-866-730-7960

                </div>
            </div><!--end Col-->
            <h2>{{'faqPage.title2' | translate}}<span class="h2-separator"></span></h2>
            <div class="col-12 mt-3"><p>{{'faqPage.description2' | translate}} <a style="text-decoration: underline;" [routerLink]="['/support/contact']">{{'faqPage.link' | translate}}</a> {{'faqPage.text2' | translate}}</p></div>

        </div><!--end Row-->

    </div><!--end Container-->
</section><!--end Section--> 

<button id="goTop" class="btn-top" [class.visible]="isScrollTop" (click)="topFunction()">
  
    <svg class="arrow up" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="5 0 50 80" xml:space="preserve">
        <polyline fill="none" stroke="#FFFFFF" stroke-width="8" stroke-linecap="round" stroke-linejoin="round" 
        points="0.375, 35.375 28.375, 0.375 58.67, 35.375 "/>
    </svg>
    
</button>

