<!DOCTYPE html>
<html lang="en">

<body>


    
    <!-- Breadcrumbs -->
    <nav class="px-3 mt-4">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="survey-hub.html">Survey hub</a></li>
                <li class="breadcrumb-item"><a href="household-demograpgics.html">Household demographics</a></li>
                <li class="breadcrumb-item active" aria-current="page">Individual member</li>
            </ol>
        </div>
    </nav>

    <!--h1 Intro Section-->
    <section class="px-3 pb-4">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1><!--Household Member Name -->Houshold Member Name</h1>
                    <p>
                        Please complete these questions to tell us a bit more about yourself. These questions will only be used in order to report your viewing in the correct group.If possible, please complete the survey in one session. If you exit before clicking submit at the end of the survey, your answers will not be saved.
                    </p>
                </div><!--end col-->
            </div><!--end Row-->
        </div><!--end Container-->
    </section><!--end Section-->

    <section class="px-3 pb-4">
        <div class="container">
            <div class="row pb-4">
                <h2>Page 6 of 7<span class="h2-separator"></span></h2>
                <div class="col-12 mt-3">
                    <div class="shadow-sm rounded bg-white p-4 mb-4">
                        <form>
                            <!-- Question 10-->
                            <div class="mb-4">
                                <h4>What language do you speak most often at home now? (Check one only)</h4>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question10" id="Radio65">
                                    <label class="form-check-label" for="Radio65">English</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question10" id="Radio66">
                                    <label class="form-check-label" for="Radio66">French</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question10" id="Radio67">
                                    <label class="form-check-label" for="Radio67">Arabic</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question10" id="Radio68">
                                    <label class="form-check-label" for="Radio68">Chinese</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question10" id="Radio69">
                                    <label class="form-check-label" for="Radio69">German</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question10" id="Radio70">
                                    <label class="form-check-label" for="Radio70">Italian</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question10" id="Radio71">
                                    <label class="form-check-label" for="Radio71">Korean</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question10" id="Radio72">
                                    <label class="form-check-label" for="Radio72">Persian (Farsi)</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question10" id="Radio73">
                                    <label class="form-check-label" for="Radio73">Polish</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question10" id="Radio74">
                                    <label class="form-check-label" for="Radio74">Portuguese</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question10" id="Radio75">
                                    <label class="form-check-label" for="Radio75">Punjabi</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question10" id="Radio76">
                                    <label class="form-check-label" for="Radio76">Russian</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question10" id="Radio77">
                                    <label class="form-check-label" for="Radio77">Spanish</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question10" id="radio78">
                                    <label class="form-check-label" for="Radio78">Tamil</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question10" id="radio79">
                                    <label class="form-check-label" for="radio79">Tagalog</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question10" id="radio80">
                                    <label class="form-check-label" for="radio80">Urdu or Hindi</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question10" id="radio81">
                                    <label class="form-check-label" for="radio81">Other South Asian languages</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question10" id="radio82">
                                    <label class="form-check-label" for="radio82">Vietnamese</label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="radio" name="question10" id="radio83">
                                    <label class="form-check-label" for="radio83">Other</label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- Action buttons -->
                    <div class="col-xs-6 d-grid gap-2 d-md-block">
                        <button type="submit" class="btn btn-dark">Back</button>
                        <button type="submit" class="btn btn-secondary ms-md-3">Save & Exit</button>
                        <button [routerLink] = "['/demographics/demographics-individual-members-page7']" type="submit" class="btn btn-primary ms-md-3">Continue</button>
                    </div>
                   
                </div><!--end Col-->
            </div><!--end Row-->

        </div><!--end Container-->
    </section><!--end Section--> 
</body>
</html>