<nav class="px-3 mt-4">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink] = "['/welcome']">{{'Home.title' | translate}}</a></li>
            <li class="breadcrumb-item"><a [routerLink] = "['/survey/survey']">{{'surveyHub.title' | translate}}</a></li>
            <li class="breadcrumb-item"><a [routerLink] = "['/survey/household-devices']">{{'householdDevices.title' | translate}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">
               <span *ngIf="this.deviceState =='Inprogress'">{{'inProgressDevices.title' | translate}}</span>
               <span *ngIf="this.deviceState =='Completed'">{{'completedDevices.title' | translate}}</span>
               <span *ngIf="this.deviceState =='Notused'">{{'householdDevices.householdDevicesHistoryLabel2' | translate}}</span>
               <span *ngIf="this.deviceState =='New'">{{'newDevices.title' | translate}}</span>
            </li>
        </ol>
    </div>
</nav>
<!-- SURVEY HUB PAGE -->

<!--h1 Intro Section-->
<section class="px-3 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-12" >
                <h1>
                    <span *ngIf="this.deviceState =='Inprogress'">{{'inProgressDevices.title' | translate}}</span>
                    <span *ngIf="this.deviceState =='Completed'">{{'completedDevices.title' | translate}}</span>
                    <span *ngIf="this.deviceState =='New'">{{'newDevices.title' | translate}}</span>
                    <span *ngIf="this.deviceState =='Notused'">{{'notInUse.title' | translate}}</span>
                </h1>
                <p *ngIf="deviceStatus == 'New'">
                    {{'newDevices.description' | translate}}
                </p>
                <p *ngIf="deviceStatus == 'In Progress'">
                    {{'inProgressDevices.description' | translate}} 
                </p>
                <p *ngIf="deviceStatus == 'Completed'">
                   {{'completedDevices.description' | translate}}
                <p *ngIf="deviceStatus == 'Not in Use'">
                    {{'notInUse.description' | translate}}
                </p>
            </div>
        </div><!--end Row-->
    </div><!--end Container-->
</section><!--end Section-->
          
<!-- New Devices Overview Page -->
<section class="px-3 pb-5">
    <div class="container">
        <div class="row g-4">
            <h2>
                <span *ngIf="this.deviceState =='Completed'">{{'completedDevices.deviceDetected' | translate}}: {{deviceCount}}</span>
                <span *ngIf="this.deviceState =='Notused'">{{'notInUse.deviceDetected' | translate}}: {{deviceCount}}</span>
               <span *ngIf="this.deviceState =='New'">{{'newDevices.devicesDetected'| translate}}: {{deviceCount}}</span>
               <span *ngIf="this.deviceState =='Inprogress'"> {{'inProgressDevices.deviceDetected'| translate}}: {{deviceCount}}</span><span class="h2-separator"></span></h2>
               <p class="mt-2 mb-0"  >{{'newDevices.devicesDetectedDescription' | translate}}</p>

             <!-- Newly Detected Device (Smart TV) -->
             <a *ngFor="let device of devicesList" (click) ="navigateTo(device)" href='javascript:void(0);'>
                <div class="message-card d-flex align-items-center bg-white shadow-sm rounded">
                    <i class="material-icons p-3 new-devices-icon d-flex icon-red align-items-center h-100" *ngIf="deviceState == 'New'">
                        <div class="h1 mb-0">{{device?.iconDescription}}</div>
                    </i>
                    <i class="material-icons p-3 in-progress-icon d-flex icon-red align-items-center h-100" *ngIf="deviceState == 'Inprogress'">
                        <div class="h1 mb-0">{{device?.iconDescription}}</div>
                    </i>
                    <i class="material-icons p-3 completed-devices-icon d-flex icon-red align-items-center h-100" *ngIf="this.deviceState =='Completed'">
                        <div class="h1 mb-0">{{device?.iconDescription}}</div>
                    </i>
                    <i class="material-icons p-3 not-in-use-icon d-flex icon-red align-items-center h-100" *ngIf="this.deviceState =='Notused'">
                        <div class="h1 mb-0">{{device?.iconDescription}}</div>
                    </i>
                    <div class="ps-3 description">
                        <h3 class="text-truncate">{{device.deviceName}}</h3>
                        <p class="text-truncate">{{'inProgressDevices.macAddress' | translate}}: <span>{{device.macAddress}}</span>
                        </p>   
                    </div>
                    <i class="material-icons ms-auto pe-3">  
                        arrow_forward_ios
                    </i>
                </div>
            </a>
<!--  -->


        </div><!--end Row-->
    </div><!--end Container-->
</section><!--end Section-->