<nav class="px-3 mt-4">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink] = "['/welcome']">Home</a></li>
            <li class="breadcrumb-item"><a [routerLink] = "['/survey/survey']">Survey hub</a></li>
            <li class="breadcrumb-item"><a [routerLink] = "['/survey/household-devices']">Household devices</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{deviceStatus}} devices</li>
        </ol>
    </div>
</nav>
<!-- SURVEY HUB PAGE -->

<!--h1 Intro Section-->
<section class="px-3 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-12" >
                <h1>{{deviceStatus}} Devices</h1>
                <p *ngIf="deviceStatus == 'New'">
                    This page shows all media devices that are newly added to your home network. Surveys in this section will ask you basic questions about each device’s use. Be assured that your privacy policy. <a  href='javascript:void(0);' (click)="showWindow()">data and privacy</a> are always protected.
                </p>
                <p *ngIf="deviceStatus == 'In Progress'">
                    This page lists surveys for media devices that you started but are yet to complete. Each survey has basic questions about a device’s usage. Select a device to complete its survey. 
                </p>
                <p *ngIf="deviceStatus == 'Completed'">
                    This page shows media devices for which you’ve completed surveys. Nice going! You can review, edit and resubmit a completed survey. 
                </p>
                <p *ngIf="deviceStatus == 'Not in Use'">
                    This page shows media devices that you marked as “not in use”. If you’re using them again, please update its status by selecting a card below. 
                </p>
            </div>
        </div><!--end Row-->
    </div><!--end Container-->
</section><!--end Section-->
          
<!-- New Devices Overview Page -->
<section class="px-3 pb-5">
    <div class="container">
        <div class="row g-4">
            <h2>{{deviceStatus}} devices detected: {{deviceCount}}<span class="h2-separator"></span></h2>
            <p class="mt-2 mb-0" *ngIf="deviceStatus == 'New'">Select devices to start a survey</p>

             <!-- Newly Detected Device (Smart TV) -->
             <a *ngFor="let device of devicesList" (click) ="navigateTo(device)">
                <div class="message-card d-flex align-items-center bg-white shadow-sm rounded">
                    <i class="material-icons p-3 new-devices-icon d-flex icon-red align-items-center h-100">
                        <div class="h1 mb-0">{{device?.iconDescription}}</div>
                    </i>
                    <div class="ps-3 description">
                        <h3 class="text-truncate">{{device.deviceName}}</h3>
                        <p class="text-truncate">Mac Address: <span>{{device.macAddress}}</span>
                        </p>   
                    </div>
                    <i class="material-icons ms-auto pe-3">  
                        arrow_forward_ios
                    </i>
                </div>
            </a>
<!--  -->


        </div><!--end Row-->
    </div><!--end Container-->
</section><!--end Section-->