<nav class="px-3 mt-4">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink] = "['/welcome']">{{'Home.title' | translate}}</a></li>
            <li class="breadcrumb-item"><a [routerLink] = "['/survey/survey']">{{'surveyHub.title' | translate}}</a></li>
            <li class="breadcrumb-item"><a [routerLink] = "['/survey/household-devices']">{{'householdDevices.title' | translate}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{deviceStatus}} devices</li>
        </ol>
    </div>
</nav>
<!-- SURVEY HUB PAGE -->

<!--h1 Intro Section-->
<section class="px-3 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-12" >
                <h1>{{deviceStatus}} Devices</h1>
                <p *ngIf="deviceStatus == 'New'">
                    {{'newDevices.description' | translate}} <a  href='javascript:void(0);' (click)="showWindow()">{{'newDevices.Link' | translate}}</a> {{'newDevices.description1' | translate}}
                </p>
                <p *ngIf="deviceStatus == 'In Progress'">
                    {{'inProgressDevices.description' | translate}} 
                </p>
                <p *ngIf="deviceStatus == 'Completed'">
                   {{'completedDevices.description' | translate}}
                <p *ngIf="deviceStatus == 'Not in Use'">
                    {{'notInUse.description' | translate}}
                </p>
            </div>
        </div><!--end Row-->
    </div><!--end Container-->
</section><!--end Section-->
          
<!-- New Devices Overview Page -->
<section class="px-3 pb-5">
    <div class="container">
        <div class="row g-4">
            <h2>{{deviceStatus}} devices detected: {{deviceCount}}<span class="h2-separator"></span></h2>
            <p class="mt-2 mb-0" *ngIf="deviceStatus == 'New'">{{'newDevices.devicesDetectedDescription' | translate}}</p>

             <!-- Newly Detected Device (Smart TV) -->
             <a *ngFor="let device of devicesList" (click) ="navigateTo(device)">
                <div class="message-card d-flex align-items-center bg-white shadow-sm rounded">
                    <i class="material-icons p-3 new-devices-icon d-flex icon-red align-items-center h-100">
                        <div class="h1 mb-0">{{device?.iconDescription}}</div>
                    </i>
                    <div class="ps-3 description">
                        <h3 class="text-truncate">{{device.deviceName}}</h3>
                        <p class="text-truncate">Mac Address: <span>{{device.macAddress}}</span>
                        </p>   
                    </div>
                    <i class="material-icons ms-auto pe-3">  
                        arrow_forward_ios
                    </i>
                </div>
            </a>
<!--  -->


        </div><!--end Row-->
    </div><!--end Container-->
</section><!--end Section-->