<!-- Breadcrumbs -->
<nav class="px-3 mt-4">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="index.html">Survey hub</a></li>
            <li class="breadcrumb-item"><a href="index.html">Household devices</a></li>
            <li class="breadcrumb-item"><a href="index.html">Not in use</a></li>
            <li class="breadcrumb-item active" aria-current="page">Device name</li>
        </ol>
    </div>
</nav>

<!-- SURVEY HUB PAGE -->

<!--h1 Intro Section-->
<section class="px-3 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>{{deviceName}}</h1>
                <p>
                    You are about to edit a survey that you completed earlier for the device above. Please select the section that you’d like to edit from the list below. 
                </p>
            </div>
        </div><!--end Row-->
    </div><!--end Container-->
</section><!--end Section-->


<!--Device Info Section-->
<section class="px-3 pb-4">
    <div class="container">
        <div class="row">
            <!--Platform-->
            <div class="d-flex align-items-center mb-3">
                <i class="material-icons d-flex h-100">
                    <div class="h4 m-0">feed</div>
                </i>
                <div class="ps-3 description">
                    <p><strong>Device platform</strong></p>
                    <span>{{deviceInformation?.devicePlatform}}</span>
                </div>
            </div>
            <!--OS-->
            <div class="d-flex align-items-center mb-3">
                <i class="material-icons d-flex h-100">
                    <div class="h4 m-0">feed</div>
                </i>
                <div class="ps-3 description">
                    <p><strong>Operation system:</strong></p>
                    <span>{{deviceInformation?.os}}</span>
                </div>
            </div>
            <!--MAC address-->
            <div class="d-flex align-items-center mb-3">
                <i class="material-icons d-flex h-100">
                    <div class="h4 m-0">feed</div>
                </i>
                <div class="ps-3 description">
                    <p><strong>MAC address:</strong></p>
                    <span>{{deviceInformation?.macAddress}}</span>
                </div>
            </div>
        </div>
    </div><!--end Container-->
</section><!--end Section-->
          
<!-- Sections Overview -->
<section class="px-3 pb-5">
    <div class="container">
        <div class="row g-4">
            <h2>Devices current status<span class="h2-separator"></span></h2>

            <div class="col-md-6">
                <div class="shadow-sm rounded bg-white p-4">
                    <div>
                        <p>Is this device currently in use?</p>
                        <div class="form-check mb-2">
                            <input class="form-check-input" value="false" type="radio" [(ngModel)]="question1" name="question1" id="Radio1" checked>
                            <label class="form-check-label" for="Radio1">No</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" value="true"
                             type="radio"  [(ngModel)]="question1" name="question1" id="Radio2">
                            <label class="form-check-label" for="Radio2">Yes</label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Action buttons -->
            <div class="col-xs-6 d-grid gap-2 d-md-block">
                <button type="submit" class="btn btn-secondary">Cancel</button>
                <button type="button" [disabled]="question1=='false'" class="btn btn-primary ms-md-3" (click)="updateForm()">Update</button>
            </div>
        </div><!--end Row-->
    </div><!--end Container-->
</section><!--end Section-->