<!-- Breadcrumbs -->
<nav class="px-3 mt-4">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/welcome']">Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/survey/survey']">Survey hub</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/survey/household-devices']">Household devices</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/survey/deviceList/'+deviceState]">{{deviceState}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Device name</li>
            <!--has to reflect devices name here-->
        </ol>
    </div>
</nav>

<!-- SURVEY HUB PAGE -->

<!--h1 Intro Section-->
<section class="px-3 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Multiple Users</h1>
                <p>
                    In this section, we wish to understand the approximate share (expressed in percentages) each
                    household member has in watching this TV every month.
                </p>
                <p>
                    Let’s consider an example. Three household members – a parent and 2 children – share a Smart TV. So,
                    their shared device usage can be entered as: Parent=30%, Child 1 = 50%, Child 2 = 20%.
                </p>
            </div>
            <!--end col-->
        </div>
        <!--end Row-->
    </div>
    <!--end Container-->
</section>
<!--end Section-->

<section class="px-3 pb-4">
    <div class="container">
        <div class="row pb-4">
            <h2>Shared device usage<span class="h2-separator"></span></h2>

            <div class="col-12 mt-3">

                <div class="shadow-sm rounded bg-white p-4 mb-4">
                    <h3 class="mb-3">Select how long each household member uses this device</h3>
                    <p><strong>Tips:</strong></p>
                    <ul>
                        <li>Enter an approximate percentage value for each member.</li>
                        <li>If a member hasn’t viewed the device at all in the past month, enter 0% against their name.
                        </li>
                        <li>The total for all members should add up to 100.</li>
                    </ul>

                    <div class="row g-0">
                        <form [formGroup]="multiUserListForm">
                            <!-- Multi User Card -->
                            <div formArrayName="arr" *ngFor="let a of controls; let i = index"
                                class="col-sm-12 col-md-6 multiple-users-card mb-3 d-flex align-items-center">
                                <div [formGroupName]="i" class="ps-3 py-3 col-6 d-flex align-items-center">
                                    <i class="material-icons d-flex h-100">
                                        <div class="h4 m-0">person</div>
                                    </i>
                                    <p class="ps-2 mb-0 description">
                                        <strong>{{controls[i].value["memberName"]}}</strong>
                                    </p>
                                </div>

                                <div [formGroupName]="i" class="col-6 d-flex justify-content-end pe-3">
                                    <select class="form-select multi-user-select" formControlName="usePercentage"
                                        aria-label="Select percentage"  (change)="updateMemberDevice(i)">
                                        <option selected value="0">0%</option>
                                        <option value="25">25%</option>
                                        <option value="50">50%</option>
                                        <option value="75">75%</option>
                                        <option value="100">100%</option>
                                    </select>
                                </div>
                            </div>
                            <!--end Multi User Card-->
                            <div class="error text-danger" *ngIf="showPercentageError">
                                Member Percentage always equals to 100%.
                             </div>
                        </form>
                    </div>

                </div>

                <!--End Row-->
                <div class="shadow-sm rounded bg-white p-4 mb-4">
                    <h3 class="mb-3">Select how long this device is used by single vs multiple member at one time</h3>
                    <p><strong>Tips:</strong></p>
                    <ul>
                        <li>Enter an approximate percentage value for each member.</li>
                        <li>If a member hasn’t viewed the device at all in the past month, enter 0% against their name.
                        </li>
                        <li>The total for all members should add up to 100.</li>
                    </ul>
                    <div class="row g-0">
                        <form [formGroup]="multiUserCoViewerForm">
                            <!-- Multi User Card -->
                            <div
                                class="col-sm-12 col-md-6 multiple-users-card mb-3 d-flex align-items-center">
                                <div class="ps-3 py-3 col-6 d-flex align-items-center">
                                    <i class="material-icons d-flex h-100">
                                        <div class="h4 m-0">person</div>
                                    </i>
                                    <p class="ps-2 mb-0 description">
                                        <strong>Single Memeber</strong>
                                    </p>
                                </div>
    
                                <div class="col-6 d-flex justify-content-end pe-3">
                                    <select formControlName="singleViewerPe" class="form-select multi-user-select" (change)="updateCoviewerDevice()"
                                        aria-label="Select percentage">
                                        <option selected value="0">0%</option>
                                        <option value="25">25%</option>
                                        <option value="50">50%</option>
                                        <option value="75">75%</option>
                                        <option value="100">100%</option>
                                    </select>
                                </div>
                            </div>
    
                            <div class="col-sm-12 col-md-6 multiple-users-card mb-3 d-flex align-items-center">
                            <div class="ps-3 py-3 col-6 d-flex align-items-center">
                                <i class="material-icons d-flex h-100">
                                    <div class="h4 m-0">person</div>
                                </i>
                                <p class="ps-2 mb-0 description">
                                    <strong>Multiple Members</strong>
                                </p>
                            </div>
    
                            <div class="col-6 d-flex justify-content-end pe-3">
                                <select class="form-select multi-user-select" (change)="updateCoviewerDevice()" formControlName="coViewerPerce"
                                    aria-label="Select percentage">
                                    <option selected value="0">0%</option>
                                    <option value="25">25%</option>
                                    <option value="50">50%</option>
                                    <option value="75">75%</option>
                                    <option value="100">100%</option>
                                </select>
                            </div>
                        </div>
                            <!--end Multi User Card-->
                            <div class="error text-danger" *ngIf="showCoviewerPercentageError">
                               Coviewer Percentage always equals to 100%.
                            </div>
                        </form>
                    </div>
            
                            </div>
               
</div>
                <!--End Row-->
            </div>
                <!--End Rounded backgorund-->
                <!-- Action buttons -->
                <div class="col-xs-6 d-grid gap-2 d-md-block">
                    <button type="submit" class="btn btn-dark" [routerLink] = "['/survey/deviceOwnerInformation/' + deviceState + '/' + deviceId]">Back</button>
                    <button type="button" (click)="saveAndExit()" class="btn btn-secondary ms-md-3">Save & Exit</button>
                    <button type="button" (click)="continueNavigate()" class="btn btn-primary ms-md-3">Continue</button>
                </div>

            </div>
            <!--end Col-->
        <!--end Row-->
    <!--end Container-->
</section>
<!--end Section-->