<!-- <nav class="navbar bg-white px-3">
    <div class="container d-flex">
        <a href="survey-hub.html" class="navbar-brand flex-grow-1">
            <img class="img-fluid" src="../assets/logo.png" alt="">
        </a> 
        <a href="#" class="lang-taggle">français</a>
        </div>
</nav> -->
<section class="px-3 pb-4">
<div class="container">
    <div class="row">
        <h1>{{"registerSuccess.tittle" | translate}}</h1>
        <p>{{"registerSuccess.description1" | translate}}</p>
        <p>{{"registerSuccess.description3" | translate}}</p>
       <!-- <div class ="d-flex justify-content-between" style="width: 100px"> -->
          
           
        
    </div><!--end Row-->
    <button type="submit" class="btn btn-primary" (click) = "continue()">{{"loginPage.loginButton" | translate}}</button>
</div><!--end Container-->
</section>
<router-outlet></router-outlet>