<!-- <nav class="navbar bg-white px-3">
    <div class="container d-flex">
        <a href="survey-hub.html" class="navbar-brand flex-grow-1">
            <img class="img-fluid" src="../assets/logo.png" alt="">
        </a> 
        <a href="#" class="lang-taggle">français</a>
        </div>
</nav> -->
<section class="px-3 pb-4">
<div class="container">
    <div class="row">
        <h1>Sucess! Your account is created!</h1>
        <p>We are thrilled to have you! For your records, we have emailed you a confirmation note that has login <br> details.</p>
        <p>You're good to go! Please login when ready.</p>
       <!-- <div class ="d-flex justify-content-between" style="width: 100px"> -->
          
           
        
    </div><!--end Row-->
    <button type="submit" class="btn btn-primary" (click) = "continue()">Log In</button>
</div><!--end Container-->
</section>
<router-outlet></router-outlet>