  <!-- Breadcrumbs -->
  <nav class="px-3 mt-4">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/support/techsupport']">{{'Home.title' | translate}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{'thankYouTechSupport.title' | translate}}</li>
        </ol>
    </div>
</nav>

<!-- SURVEY HUB PAGE -->

<!--h1 Intro Section-->
<section class="px-3 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>{{'thankYouTechSupport.title' | translate}}</h1>
                <p>
                    {{'thankYouTechSupport.description' | translate}}
                </p>
                <h2>{{'thankYouTechSupport.heading' | translate}}<span class="h2-separator"></span></h2>
                <p>{{'thankYouTechSupport.text1' | translate}} <a [routerLink]="['/support/connect']">{{'thankYouTechSupport.text2' | translate}} </a></p>
            </div>
            
        </div><!--end Row-->
    </div><!--end Container-->
</section><!--end Section-->